/*Reglas Generales*/
	*{
		box-sizing: border-box;
		font-family: century gothic, sans-serif;
	}
	body{
		margin:1rem;
	}
	#header,
	#footer,
	#contacto,
	.menu,
	article,
	section{
		display: flex;
		padding:1rem;
		flex-wrap: wrap;
		justify-content: center;
	}
/*Cabecera de Pagina*/
	/*Encabezado*/
		#header{
			justify-content: space-between;
		}
		#header,
		#footer{
			color:#ccc;
			background-color:#331265;
		}
		.header,
		nav{
			align-items: flex-start;
		}
	/*Navegacion*/
		#menu,
		.menu{
			margin:0;
			background-color: darkslateblue;
		}
		.menu li{
			width:125px;
			line-height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.menu a{
			color:white;
			text-decoration: none;
		}
		.menu a:hover{
			font-size: 1.25rem;
		}
/*Cuerpo Principal*/
	article{
		justify-content: space-between;
	}
	article > header{
		width:100%;
		color:whitesmoke;
		padding:0 1rem;
		background-color: darkslateblue;
	}
	main section{
		align-items: flex-start;
		background-color: whitesmoke;
		width:30%;
		min-width: 300px;
		max-width: 600px;
		border:1px solid slateblue;
	}
	section *{
		width:100%;
	}
	article section:first-child{
		color:white;
		background-color: darkslateblue;
	}
	article section:last-child{
		color:darkslateblue;
		background-color: darkgrey;
	}
	section footer{
		align-self: flex-end;
	}
	section > p::first-letter{
		font-size: 3rem;
		float: left;
		font-weight: bold;
		margin-right: .5rem;
	}
	article:last-child section >p::first-line{
		color:darkred;
	}

	.example li:first-child{
		font-weight: bold;
	}
	.example li:nth-child(3){
		text-decoration: underline;
	}
	.example li:nth-child(even),
	article:nth-child(even){
		background-color: #666;
	}
	.example li:nth-child(odd),
	article:nth-child(odd){
		background-color: #999;
	}
	.example li:nth-last-child(3){
		text-decoration: line-through;
	}
	.example li:last-child{
		font-style: italic;
	}
	section:first-of-type{
		color:darkslateblue;
	}
	section:last-of-type{
		border:1px solid black;
	}
/*Pseudo Elementos*/
	.pseudo h1::before{
		content:'Titulo ';
	}
	.pseudo h1::after{
		content:'';
	}
	.pseudo p::before{
		content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, itaque a accusantium similique quas possimus deleniti rem tenetur fuga magnam, odio pariatur incidunt libero, sint architecto. Doloribus, possimus reprehenderit rem!';
		font-weight: bold;
	}
	.pseudo p::after{
		content: '';
		display: block;
		background-image: url(../assets/social-media.png);
		background-size: contain;
		width:250px;
		height: 50px;

	}
	.pseudo address::before{
		content: 'Autor: ';
	}
	.pseudo address a::before{
		content:'Cristian Racedo';
	}
	/*Contadores*/
		article{
			counter-reset: tema;
		}
		.pseudo section h1::after{
			counter-increment: tema;
			content: counter(tema);
		}
		.pseudo li::before{
			content: ''
		}
	/*Inicializacion de Contadores*/
		.primario{
			counter-reset: primario;
		}
		.secundario{
			counter-reset: secundario;
		}
		.terciario{
			counter-reset: terciario
		}
		.cuarto{
			counter-reset:cuarto;
		}
	/*Incremento de Numeracion*/
		.primario > li::before{
			counter-increment: primario;
		}
		.secundario > li::before{
			counter-increment: secundario;
		}
		.terciario > li::before{
			counter-increment: terciario;
		}
		.cuarto > li::before{
			counter-increment:cuarto;
		}
		.primario, .primario ol{
			list-style: none;
		}
	/*Aplicacion a la lista*/
		.primario li::before{
			content: 
				counter(primario) '.' 
				counter(secundario) '.' 
				counter(terciario) '.' 
				counter(cuarto) ' - '		
		}
	/*Propiedades de Lista*/
		.li-style li{
			overflow: hidden;
		}
		.li-style li::before{
			counter-increment: star;
			content: counter(star);
			background-image: url(../assets/star.png);
			float:left;
			margin-right: 5px;
			width:32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			background-size: 32px;
			background-repeat: no-repeat;
		}
		.li-style{
			counter-reset: star;
			list-style: 
				decimal-leading-zero 
				url(../assets/stars.png) outside;
			color:white;
			background-color:purple; 
			text-shadow: 0 0 1px black;
			box-shadow: 
				5px 5px 10px rgba(35, 80, 120,.8), 
				10px 10px 10px darkgreen, 
				5px 5px 10px limegreen inset, 
				10px 10px 10px green inset; 
		}
/*Sprites*/
	.social{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	.social a{
		width:calc(64px);
		height:calc(64px);
		background-image: url(../assets/social-media.png);
		background-size: calc(11 * 64px);
	}
	/*Iconos Sociales*/
		.social a:nth-child(2){
			background-position: calc(-8 * 64px) calc(0 *64px);
		}
		.social a:nth-child(3){
			background-position: calc(-4 * 64px) calc(0 *64px);
		}
		.social a:nth-child(4){
			background-position: calc(-5 * 64px) calc(0 *64px);
		}
		.social a:nth-child(5){
			background-position: calc(-10 * 64px) calc(0 *64px);
		}
	/*Hover*/
		.social a:nth-child(1):hover{
			background-position: calc(-0 * 64px) calc(-1 *64px);
		}
		.social a:nth-child(2):hover{
			background-position: calc(-8 * 64px) calc(-1 *64px);
		}
		.social a:nth-child(3):hover{
			background-position: calc(-4 * 64px) calc(-1 *64px);
		}
		.social a:nth-child(4):hover{
			background-position: calc(-5 * 64px) calc(-1 *64px);
		}
		.social a:nth-child(5):hover{
			background-position: calc(-10 * 64px) calc(-1 *64px);
		}
/*Pie de Pagina*/
	/*Formulario*/
		#contacto, 
		#footer iframe{
			width:100%;
			margin:1rem;
			padding:0;
			max-width: 600px;
			flex-direction: column;
		}
		#contacto button{
			color:#331265;
			font-weight: bold;
			color: darkslateblue;
			border:.1rem solid whitesmoke;
			padding:.25rem;
		}
		#contacto:invalid button{
			display: none;
		}
		#contacto:valid button{
			display: block;
		}
		#contacto button:hover{
			color:whitesmoke;
			background-color: transparent;
		}
	/*Extras*/
		#footer iframe{
			height: 300px;
		}
		#footer p{
			width:100%;
			text-align: center
		}

/*Navegacion Fixed*/
	nav{
		position:fixed;
		bottom:0;
		right: 0;
	}
	.social a:hover{
		position: relative;
		bottom: 10px;
	}
	#contacto{
		position:relative;
	}
	#contacto button{
		position:absolute;
		bottom:0;
		right:0;
	}

/*Menu emergente*/
	.pseudo section{
		width:100%;
		min-width: 900px;
	}
	.emergente a{
		color:white;
		text-decoration: none;
	}
	.emergente,
	.emergente ul{
		padding: .2rem;
		list-style: none;
		background-color: darkblue;
	}
	.emergente li{
		position:relative;
		text-align: center;
	}
	.emergente > li{
		text-align: center;
		display: inline-block;
		width: 120px;
		background-color: navy;
	}

	.emergente li ul{
		text-align: left;
		display: none;
		position:absolute;
	}
	.emergente li:hover > ul{
		display: block;
		text-align: left;
	}
	.emergente li li:hover ul{
		top:0;
		left:100%;
	}
	.emergente li:hover{
		background-color: skyblue;
	}
