/*Reglas Generales*/
	*{
		box-sizing: border-box;
		font-family: century gothic, sans-serif;
	}
	body{
		margin:1rem;
	}
	#header,
	#footer,
	#contacto,
	.menu,
	article,
	section{
		display: flex;
		padding:1rem;
		flex-wrap: wrap;
		justify-content: center;
	}
/*Cabecera de Pagina*/
	/*Encabezado*/
		#header{
			justify-content: space-between;
		}
		#header,
		#footer{
			color:#ccc;
			background-color:#331265;
		}
		.header,
		nav{
			align-items: flex-start;
		}
	/*Navegacion*/
		#menu,
		.menu{
			margin:0;
			background-color: darkslateblue;
		}
		.menu li{
			width:125px;
			line-height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.menu a{
			color:white;
			text-decoration: none;
		}
		.menu a:hover{
			font-size: 1.25rem;
		}
/*Cuerpo Principal*/
	article{
		justify-content: space-between;
	}
	article > header{
		width:100%;
		color:whitesmoke;
		padding:0 1rem;
		background-color: darkslateblue;
	}
	main section{
		align-items: flex-start;
		background-color: whitesmoke;
		width:30%;
		min-width: 300px;
		max-width: 600px;
		border:1px solid slateblue;
	}
	section *{
		width:100%;
	}
	article section:first-child{
		color:white;
		background-color: darkslateblue;
	}
	article section:last-child{
		color:darkslateblue;
		background-color: darkgrey;
	}
	section footer{
		align-self: flex-end;
	}
	section > p::first-letter{
		font-size: 3rem;
		float: left;
		font-weight: bold;
		margin-right: .5rem;
	}
	article:last-child section >p::first-line{
		color:darkred;
	}

	.example li:first-child{
		font-weight: bold;
	}
	.example li:nth-child(3){
		text-decoration: underline;
	}
	.example li:nth-child(even),
	article:nth-child(even){
		background-color: #666;
	}
	.example li:nth-child(odd),
	article:nth-child(odd){
		background-color: #999;
	}
	.example li:nth-last-child(3){
		text-decoration: line-through;
	}
	.example li:last-child{
		font-style: italic;
	}
	section:first-of-type{
		color:darkslateblue;
	}
	section:last-of-type{
		border:1px solid black;
	}
/*Pie de Pagina*/
	/*Formulario*/
		#contacto, 
		#footer iframe{
			width:100%;
			margin:1rem;
			padding:0;
			max-width: 600px;
			flex-direction: column;
		}
		#contacto button{
			color:#331265;
			font-weight: bold;
			color: darkslateblue;
			border:.1rem solid whitesmoke;
			padding:.25rem;
		}
		#contacto:invalid button{
			display: none;
		}
		#contacto:valid button{
			display: block;
		}
		#contacto button:hover{
			color:whitesmoke;
			background-color: transparent;
		}
	/*Extras*/
		#footer iframe{
			height: 300px;
		}
		#footer p{
			width:100%;
			text-align: center
		}
