/*Content First*/
	/*Reglas generales*/
		*{
			box-sizing: border-box;
		}
		body{ margin: 0; }
	/*Navegacion*/
		nav{
			position:sticky;
			top:0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background-color: #eee; /*rgb */
			z-index: 9;
		}
		nav a{
			display: block;
			padding: .5rem;
			color: #333;
			text-decoration: none;
		}
		nav > a:first-child{
			font: bold 1.2rem sans-serif; /*style weight size family*/
		}
		.button{
			cursor: pointer;
			margin:.5rem;
			font-size: 2rem;
			outline: none;
			border: .2rem solid #333;
			padding: .1rem .6rem;
			text-align: center;
			color: #333;
			background-color: transparent;
		}
		.button:hover{
			color:#ccc;
			background-color: #333;
		}
		.menu{
			display: none;
			list-style: none;
			width: 100%;
			margin: 0;
			padding:0;
			text-align: center;
		}
		.menu a:hover{
			color:#eee;
			background-color: rgba(51,51,51,.5)
		}
		.open{
			display: block;
		}
	/*Cabecera*/
		#header{
			position: relative;
			height: 600px;
			display: flex;
			justify-content: center;align-items: center;
			color:#ccc;
			text-shadow: 
				-.1rem -.1rem .1rem #333, 
				.2rem .2rem .2rem #333;
			padding:1rem;
			font-size: .8rem;
			text-align: center;
			text-transform: uppercase;
		}
		.header h1,
		.header p{
			margin:0;
		}
		/*Galeria*/
			.slide{
				list-style: none;
				margin:0;
				padding:0;
			}
			.slide,
			.slide li{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
			.slide li{ 
				background-image: url(../assets/img/osx-lion.png);
				background-size: cover;
				background-position: center; 
				opacity: 0;
			}
			.slide li:first-child{ background-image: url(../assets/img/osx-mavericks.png) }
			.slide li:nth-child(2){ background-image: url(../assets/img/osx-mojave-night.jpg) }
			.slide li:last-child{ background-image: url(../assets/img/osx-sierra.jpg) }
			.slide .active{
				opacity: 1;
			}
		/*Controles*/
			#header a{
				position: absolute;
				padding:1rem;
				top: 0;
				bottom: 0;
				color:#eee;
				line-height: 550px;
				font-size: 3rem;
				text-decoration: none;
				opacity: .3;
			}
			#header a:hover{
				opacity: .6;
			}
			.prev{left:0;}
			.next{right:0;}
	/*Pie de Pagina*/
		#footer{
			padding:1rem;
			background-color: #ccc;
		}
		/*Formulario Contacto*/
			#contact{
				display: flex;
				flex-direction: column;
				margin: auto;
			}
			#contact label{
				display: none;
			}
			#contact input,
			#contact textarea{
				margin: 0 0 .5rem ;
				outline: none;
				border: 2px solid white;
				padding:.5rem 1rem;
				font-size: 1rem;
			}
			#contact textarea{
				resize: none;
				height: 6rem;
			}
			#contact .button{
				align-self: flex-end;
				margin:.2rem 0;
				font: bold 1rem sans-serif;
				text-transform: uppercase;

			}
/*
	BreakPoints
	width 		name 	devices
	<576px 		xs 		smartwatch | cellphones
	>=576px 	sm 		cellphones | smartphones
	>=768px		md 		smartphones (landscape) | tablets
	>=992px 	lg 		tablets (landscape) | desktop
	>=1200px 	xl 		desktop | HD screen
	>=1400px	xxl 	HD screen 
*/
/* Medium Devices | Tablets */
	@media screen and (min-width: 768px){
		/*Cabecera*/
			#header{
				font-size: 1.2rem;
			}
		/*Navegacion*/
			nav button{
				display: none;
			}
			.menu{
				display: block;
				width: auto;
				display: flex;
			}
		/*Formulario Contacto*/
			#contact{
				max-width: 720px;
			}
			#contact label{
				display: block;
			}
	}
/* Large Devices | Desktop */
	@media screen and (min-width: 992px){
		/*Cabecera*/
			#header{
				font-size: 1.5rem;
			}
		/*Formulario Contacto*/
			#contact{
				display: grid;
				grid-template-areas: 
					"labelName	labelEmail"
					"inputName	inputEmail"
					"labelText	labelText"
					"textarea 	textarea"
					" .			button"
					" message	message";
				gap: .2rem 1rem;
			}
			#contactName{ grid-area: inputName }
			#contactEmail{ grid-area: inputEmail }
			#contactConsult{ grid-area: textarea }
			#contact .button{ grid-area: button }
			#contact div:last-child { grid-area: message }