/*Mobile First*/
	/*Reglas Generales*/
		*{
			box-sizing: border-box;
			font-family: calibri, verdana, sans-serif;
		}
		body{
			margin:0;
		}
	/*Cabecera y Pie*/
		#header,
		#footer,
		.header{
			padding:.5rem 1rem;
			color:#ccc;
			background-color: #124;
		}
		.header h1,
		.header p{
			margin:0;
		}
		#footer address{
			text-align: center;
		}
	/*Navegacion*/
		nav{
			background-color: #248;
		}
		#menu{
			width:2rem;
			height: 2rem;
			line-height: 1.5rem;
			font-size: 1.5rem;
		}
		.menu{
			height: 0;
			overflow: hidden;
			list-style:none;
			margin:0;
			padding:0;
		}
		.menu a,
		#footer address a{
			display: block;
			padding:.2rem 3rem;
			color:#ccc;
			text-decoration: none;
		}
		.menu a:hover{
			background-color: #48F;
		}
		.activado{
			height:auto;
		}
	/*Contenido Principal*/
		main{
			margin: 1rem 0;
		}
		section{
			margin:0 .5rem;
			padding:1rem;
			border-bottom: 1px solid #248;
		}
		section:last-child{
			border:none;
		}
		section img{
			width:100%;
		}
	/*Formulario de Contacto*/
		#contact{
			display: flex;
			flex-direction: column;
			margin:.5rem auto;
			padding:.5rem;
		}
		#contact input,
		#contact textarea,
		#contact select{
			outline: none;
			border:.2rem solid transparent;
			padding:.5rem;
			font-size: 1rem;
		}
		#contact textarea{
			height: 5rem;
			resize: none;
		}
		#contact button:last-child{
			border: .2rem solid;
			padding:.5rem;
			color:white;
			font-weight: bolder;
			text-transform: uppercase;
			background-color: transparent;
		}
	/*Validacion*/
		#contact :focus:invalid{
			border-color: tomato;
		}
		#contact :focus:valid{
			border-color: limegreen;
		}
		#contact:invalid button:last-child{
			color:darkred;
			background-color: tomato;
		}
		#contact:valid button:last-child{
			color:darkgreen;
			background-color: limegreen;
		}
	/*Redes Sociales*/
		.social{
			display: flex;
			justify-content: center;
		}
		.social a{
			width:32px;
			height: 32px;
			margin:.5rem;
			background: url(../assets/social-media.png);
			background-size: 352px;
		}
		/*iconos social-media*/
			.social a:nth-child(1){background-position: calc(-32px * 0) calc(-32px * 2)}
			.social a:nth-child(2){background-position: calc(-32px * 8) calc(-32px * 2)}
			.social a:nth-child(3){background-position: calc(-32px * 4) calc(-32px * 2)}
			.social a:nth-child(4){background-position: calc(-32px * 10) calc(-32px * 2)}
		/*social-media Hover*/
			.social a:hover:nth-child(1){background-position: calc(-32px * 0) calc(-32px * 1)}
			.social a:hover:nth-child(2){background-position: calc(-32px * 8) calc(-32px * 1)}
			.social a:hover:nth-child(3){background-position: calc(-32px * 4) calc(-32px * 1)}
			.social a:hover:nth-child(4){background-position: calc(-32px * 10) calc(-32px * 1)}

/*Dispositivos SM >= 576px Celulares landscape*/
	@media screen and (min-width: 576px){

	}
/*Dispositivos MD >= 768px tablets portrait*/
	@media screen and (min-width: 768px){
		/*Cabecera y Pie de pagina*/
			#header{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			#footer address a{
				display: inline;
				margin:0;
				padding:0;
			}
		/*Navegacion*/
			#menu{
				display: none;
			}
			.menu{
				height:auto;
				display: flex;
				justify-content: center;
			}
			.menu a{
				width:80px;
				text-align: center;
				padding:.5rem;
			}
			.menu li:last-child a{
				display: none;
			}
		/*Contenido Principal*/
			article{
				display: flex;
				flex-wrap: wrap;
			}
			main .header{
				width:100%;
			}
			section{
				width:calc(50% - 1rem);
				min-width: 480px;
				position:relative;
				margin:.5rem auto;
				border:none;
				border-radius: 1rem;
				background-color: #ddd;
			}
			section p:last-of-type:nth-last-child(2),
			section img:last-of-type:nth-last-child(2){
				padding-bottom: 3rem;
			}
			section footer{
				position:absolute;
				bottom: 0;
				left: 0;
				padding:1rem;
			}
		/*Formulario Contacto*/
			#contact{
				max-width: 720px;
			}
		/*Redes Sociales*/
			.social a{
				width:64px;
				height: 64px;
				margin:.5rem;
				background-size: 704px;
			}
		/*iconos social-media*/
			.social a:nth-child(1){background-position: calc(-64px * 0) calc(-64px * 2)}
			.social a:nth-child(2){background-position: calc(-64px * 8) calc(-64px * 2)}
			.social a:nth-child(3){background-position: calc(-64px * 4) calc(-64px * 2)}
			.social a:nth-child(4){background-position: calc(-64px * 10) calc(-64px * 2)}
		/*social-media Hover*/
			.social a:hover:nth-child(1){background-position: calc(-64px * 0) calc(-64px * 1)}
			.social a:hover:nth-child(2){background-position: calc(-64px * 8) calc(-64px * 1)}
			.social a:hover:nth-child(3){background-position: calc(-64px * 4) calc(-64px * 1)}
			.social a:hover:nth-child(4){background-position: calc(-64px * 10) calc(-64px * 1)}
	}
/*Dispositivos LG >= 992px tablets landscape y desktop*/
	@media screen and (min-width: 992px){
		/*Cabecera y Pie de Pagina*/
		/*Navegacion*/
			.menu li:last-child a{
				display: block;
			}
		/*Formulario Contacto*/
			#contact{
				max-width: 900px;
			}
	}
/*Dispositivos XL >=1200px desktop y smart-tv*/
	@media screen and (min-width: 1200px){
		article{
			justify-content: center;
		}
		section{
			width:30%;
			margin:1rem;
		}
	}
/*Dispositivos de Impresion*/
	@media print {
		#header,
		#footer{
			display: none;
		}
	}