/*Formato General del Sitio Web*/
	body,#header,#footer,.menu,main,a{
		margin: 0;
		border: 0;
		padding: 0;
		color: #012;
		text-decoration: none;
		font-family: century gothic, segoe ui, sans-serif;
	}

	main,article,section{
		padding: 8px auto;
	}

	hr{
		border: 1px solid #eee;
	}

/*Encabezado y Pie de Pagina Principales*/
	#header, #footer{
		padding: 10px 0 0 0;
		color: lightgrey;
		background-color: #012;
		text-align: center;
	}

	main, h1,h2,h3, header p, footer p{
		text-align: center;
		margin: 0;
		padding: 0 2.5%;
	}

	#footer, #footer p{
		padding: 10px 0;
	}

/*Barra de Navegacion y Redes sociales*/
	nav{
		background-color: lightgrey;
		padding: 0 15px;
		overflow: hidden;
	}

	.menu{
		float: left;
		list-style: none;
	}
	
	.menu li{
		display: inline-block;
		padding: 0 10px;
		margin: 0;
		line-height: 50px;
	}
	
	nav .social-media{
		float: right;
	}
	
	.social-media{
		background-color: lightgrey;
		text-align: center;
		height: 50px;
	}
	
	.social-media img{
		height: 20px;
		padding: 15px;
		opacity: .25;
	}
	
	.menu li:hover, .active{
		background-color: white;
		border-radius: 10px 10px 0 0;
		opacity: 1;
	}

	.social-media a:hover img{
		height: 40px;
		border-radius: 7.5px;
		padding: 5px;
		opacity: 1;
	}
	
	.index{
		list-style: none;
		width: 380px;
		margin: 0 auto 2.5%;
		border: 0;
		border-radius: 15px;
		box-shadow: 5px 5px 10px #ccc, 
					2.5px 2.5px 10px #ccc inset;
		padding: 12.5px;
		text-align: left;
	}

	.index p{
		margin: 5px 0;
		padding: 0 20px;
		color: #eee;
		background-color: #012;
		font-size: 24px;
		font-weight: bold;
	}
	
	.index li{
		padding: 0 25px;
	}

	.index li:hover{
		background-color: lightgrey;
	}
	
	img.index-back{
		float: right;
		height: 30px;
		margin: 0 20px;
		padding: 10px;
		opacity: .25;
	}

/*Contenido Contextualizado == Conceptos Generales*/
	section header h1, header h2, header h3, section header p{
		padding: 5px;
		color: lightgrey;
		background-color: #012;
		text-align: left;
	}

	main article section{
		padding: 10px;
	}

	section{
		padding: 10px auto;
	}

	section header > *{
		padding-left: 10px;
	}

	section > p{
		width: 95%;
		margin: 12px auto;
		text-align: justify;
	}

/*Contenido Independiente == Definiciones*/
	main{
		padding: 2%;
	}
	
	main article{
		display: none;
		overflow: hidden;
		margin: 8px auto;
		border-radius: 15px;
		padding: 0;
		box-shadow: 5px 5px 10px lightgrey, 
					-.5px -.5px 10px lightgrey inset;
		opacity: 95%;
	}

	main article:target{
		display: block;
	}

	main header{
		padding: 5px 0;
	}

	main > article > header{
		padding-left:90px;
	}

	section article{
		display: inline-block;
		width: 365px;
		margin: 4px auto;
		border-radius: 10px;
		padding: 10px;		
		background-color: #eee;
		text-align: justify;
		opacity: 80%;
	}

	section article:hover{
		opacity: 1;
		cursor: pointer;
	}
	
	article h1{
		padding: 10px 2.5% 0;
	}

	article img{
		border-radius: 50%;
	}

/*Formulario de Contacto*/
	#contacto{
		width: 420px;
		margin: 5px auto;
	}

	label,input,textarea,select{
		width: 400px;
		margin: -5px auto;
		outline: none;
		border: 0;
		border-radius: 7.5px;
		padding: 10px 10px;
		resize: none;
		text-align: left;
		font-weight: bold;	
		font-size: 16px;	
		font-family: century gothic, segoe ui, sans-serif;
	}

	label{
		display: block;
		margin-left: -7.5px;
		height: 25px;
		line-height: 30px;
	}

	textarea{
		height: 80px;
		margin-bottom: 0;
		border-radius: 7.5px 7.5px 0 0;
	}

	#contacto button{
		width: 420px;
		margin: -5px auto 10px;
		border: 2px solid #ccc;
		border-radius: 0 0 7.5px 7.5px;
		padding: 5px;
		color: #012;
		background-color: lightgrey;
		font-weight: bold;	
		font-size: 16px;	
		font-family: century gothic, segoe ui, sans-serif;
	}

	#contacto button:hover{
		color:#ccc;
		background-color:#012;
	}

/*Desarrollado por Cristian Racedo*/