/*Reglas Generales*/
	@import url(
		'https://fonts.googleapis.com/css2?family=Abel&family=Raleway:ital,wght@0,400;0,900;1,200;1,600&family=Sansita+Swashed:wght@300;900&display=swap'
		);
	/*Todos los elementos*/
	*{
		box-sizing: border-box;
		/*
			CONTENT-BOX
				width + padding + border = final-width
				300px	50px	  2px	 = 404px
			BORDER-BOX
				width = final-width
				300px = 300px
				width - padding - border = content-width
				300px	50px	  2px	 = 196px
		*/
		font-family: Raleway, Abel, sans-serif;
	}
	html{
		scroll-behavior: smooth;
	}
/*Encabezado y Pie de Pagina*/
	#header, 
	#footer{
		color:#ccc;
		background-color: #012; /*RRGGBB*/
		text-transform: uppercase;
		padding:20px;
		/*
			Selectores
				Etiqueta (header)
					generales header{color:darkblue;}
					anidados header h1{color:blue;}
				Clase (.header)
					generales .header {color:yellow;}
					anidados .header h1 {color:orange;}
				Id (#header)
					generales #header {color:tomato;}
					anidados #header h1 {color:darkred;}
		*/
		/*background*/
			background-image: url(../assets/img/osx-mojave-night.jpg);
			background-size: cover; /*x y*/
			background-repeat: no-repeat;
			background-position: top center; /*x y*/
	}	
	#footer{
		background-position: bottom center;
	}
	#header a, 
	#footer a{
		color:#ddd;
		text-decoration: none;
		font-weight: bold;
	}
/*Barra de Navegacion*/
	nav{
		background-color: rgba(30,90,200,.2); /*alpha = transparencia*/
		/*
			Sintesis Adhitiva (RR GG BB) dec 0 al 255 => hex 00 al ff
				Rojo:		255 0 0;  	= ff0000
				Cian:		0 255 255;	= 00ffff
				Verde: 		0 255 0;	= 00ff00
				Magenta:	255 0 255;	= ff00ff
				Azul: 		0 0 255;	= 0000ff
				Amarillo: 	255 255 0;	= ffff00
				Negro: 		0 0 0;		= 000000
				Blanco: 	255 255 255;= ffffff
		*/
	}
	.menu{
		list-style: none;
		margin:0;
		padding:0;
		text-align: center;
	}
	.menu li{
		display: inline-block;
		padding:1em; /*ancho de la M del elemento Padre*/
	}
	.menu li:hover{
		background-color: rgba(30,90,200,.3);
	}
/*Redes Sociales*/
	.social{
		display: flex;
		justify-content: space-between;
		margin: auto;
		border: 1px solid white;
		padding:.5rem;
		max-width: 280px;
	}
	.social a{
		width:32px;
		height:32px;
		background-color: #fff;
		border:1px dashed #ccc;
	}
	.social a:first-child{ 
		background-image: url(../assets/social/facebook.svg); 
	}
	.social a:last-child{ 
		background-image: url(../assets/social/whatsapp.svg);
	}
/*Contenido Principal*/
	main{
		background-image: url(../assets/img/cr.png);
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
	main, article, section{
		padding:1em;
		background-color: rgba(230,230,230,.7);
	}
	article{
		margin: auto;
		max-width: 1440px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	article header{
		width: 100%;
	}
	section{
		width:50%;
		min-width: 360px;
		max-width: 720px;
	}
	/*Flexbox*/
		.flex{
			border:2px solid #333;
			padding:.2em;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
		}
		.flex div{
			width:80px;
			line-height: 80px;
			padding:0 1em;
			border:2px dotted;
			color:#ccc;
			background-color: #248;
		}
		.align{
			height:240px;
				align-items: center;
		}
		.self{ align-self: flex-end; }
		.col{ flex-direction: column; }
		.reverse{ flex-direction: row-reverse; }
		.col-reverse{ flex-direction: column-reverse; }
/*Formulario de Contacto*/
	#contact{
		display: flex;
		flex-direction: column;
		min-width: 360px;
		max-width: 720px;
		margin:auto;
	}
	#contact label{
		height:0;
		margin-top: .5em;
	}
	#contact input,
	#contact textarea{
		outline: none;
		padding:.5em 1em; /*top right bottom left*/
		border-radius: .3em;
		border: 2px solid #fff;
		font-size: 1em;
	}
	#contact textarea{
		resize: none;
		height: 80px;
	}
	#contact input:focus,
	#contact textarea:focus{
		border-color:rgba(18,36, 136, .5);
		box-shadow: 0 0 .5em #ccc;
	}
	#contact button{
		cursor: pointer;
		border:2px solid;
		padding:.5em;
		text-transform: uppercase;
		font-size: 1em;
		color:#ccc;
		background-color: rgba(34,68,136,.5);
	}
	#contact button:hover{
		background-color: rgba(68, 136, 255, .5);
	}
	/*
		pseudo-class: 
			instancia de un elemento, caracteristica o estado al que se hace referencia.
			Todos
				:hover 	(pasar el mouse por encima)
				:firt-child (primer hijo del elemento contendor)
				:last-child (ultimo hijo del elemento contenedor);
				:first-of-type (primero de su tipo)
			Hipervinculos
				:link 	(hipervinculo sin visitar)
				:visited(hipervinculo visitado)
				:active (hipervinculo siendo presionado)
			Campos de Form
				:focus 	(foco sobre campo de formulario)
		;
		pseudo-element:
			una parte del contenido del elemento al que se hace referencia
			Todos
				::first-letter (primera letra del contenido)
				::first-line (primera linea del contenido)
				::before (inserta contenido antes del contenido del elemento)
				::after (inserta contenido despues del contenido del elemento)
		;
	*/