/*Reglas Generales*/
	@import url(
		'https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,400;0,700;1,300&family=Roboto+Slab:wght@800&display=swap'
	);
	*{
		font-family: Raleway, calibri, segoe ui, sans-serif;
		box-sizing: border-box;
			/*	
				content-box:
					content-width = width
					final-width = width + padding + border
				;
				border-box:
					final-width = with
					content-width = width - padding - border
				;
			*/
	}
	body{
		margin:0;
		background-image: url(../assets/img/footer.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
/*Encabezado y Pie*/
	#header{
		display: flex;
		justify-content: space-between; /*horizontal*/
		align-items: center; /*vertical*/
		flex-wrap: wrap;
	}
	#header,
	main .header,
	#footer{
		padding:16px;
		text-transform: capitalize;
		font-variant: small-caps;
		color:#ddd; /*rrggbb*/
		/*background attributes*/
			background-color: #36c;
			background-image: url(../assets/img/background.jpg);
			background-repeat: no-repeat;
			background-size: cover; /*x y*/
			background-position: top center; /*x y*/
			background-attachment: fixed;
	}
	#footer{
		background-position: bottom center;
	}
	.header h1, 
	.header p{
		margin:0;
		line-height: 20px;
	}
	.header p{
		letter-spacing: 5px;
	}
	#header a,
	#footer a{
		color:#ddd;
		text-decoration: none;
	}
/*Barra de Navegacion*/
	nav{
		width:100%;
		max-width: 600px;
		background-color: rgba(34,68,136,.3);
	}
	#menu{
		display: none;
	}
	.menu{
		list-style: none; /*top right bottom left */
		margin:0;
		padding: 0;
		text-transform: uppercase;
		text-align: center;
	}
	.menu li{
		display:inline-block;
		padding:8px;
		line-height: 32px;
	}
		/*
			Block:
				generan salto de linea
				ocupan el 100% del contenedor
				funcionan como contenedor
			;
			Inline:
				comparten linea con otros elementos
				se adaptan al contenido (automatico)
				funcionan como contenido
			;
			Inline-Block:
				comparten linea con otros elementos
				se les puede dar tamaño
				generalmente cumplen la funcion de contenido
			;
		*/
	.menu li:hover{
		background-color: #124;
	}
/*Contenido Principal*/
	main{
		padding:1rem;
		background-color: rgba(192,192,192,.5);
		text-shadow: 0 0 1px #333;
	}
	section strong{
		text-transform: uppercase;
	}
	section > ul{
		background-color: rgba(51,102,204,.5);
	}
	section li{
		padding:4px;
	}
	section ul span{
		color:#248;
		font-weight: bold;
	}
	article{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	article header{
		width:100%;
	}
	article section{
		overflow: auto;
		height:300px;
		width:100%;
		margin:.5rem;
		border-radius: .5rem;
		border:2px solid rgba(204,204,204,.5);
		padding:.5rem;
	}
	/*atributo Float*/
		p{
			overflow: hidden;/*impide el desbordamiento y oculta todos los elementos que superen al contenedor*/
			margin:0;
			border-top: 2px solid #ccc;
			padding:.5rem;
			line-height: 2rem;
		}
		section	p img{
			float: right; /*flota el elemento y dipone los que esten despues de la etiqueta al costado*/
			width:150px;
			margin-right: 1rem;
			border: .5rem solid #333;
			border-radius: .4rem;
			}
	/*flexbox*/
		.flexbox{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			margin:.5rem 0;
			padding:.5rem;
			background-color: #ccc;
			border:2px solid black;
		}
		.flexbox div{
			width:150px;
			line-height: 50px;
			border:2px dashed #eee;
			background-color: skyblue;
		}
		.align{
			height: 300px;
			align-items: center;
		}
		.self{
			align-self: flex-start;
			font-size: 3rem;
		}
		.col{
			flex-direction: column;
			border-top: .5rem dashed tomato;
			border-left: .5rem dashed limegreen;
		}
		.row-r{
			flex-direction: row-reverse;
			border-right: .5rem dashed tomato;
			border-top: .5rem dashed limegreen;
		}
		.col-r{
			flex-direction: column-reverse;
			border-bottom: .5rem dashed tomato;
			border-left: .5rem dashed limegreen;
		}
		.limegreen, .tomato{
			display: inline-block;
			height: 15px;
			width:15px;
		}
		.limegreen{ 
			background-color: limegreen;
		}
		.tomato { 
			background-color: tomato;	
		}
	/*pseudo*/
		article:first-child{
			background-color: rgba(51,51,51,.8);
		}
		section:first-of-type{
			background-color: rgba(136,136,136,.8);
		}
		section:last-of-type{
			background-color: rgba(102,102,102,.8);
		}
		article:last-child{
			background-color: rgba(213,213,213,.8);
		}
		.pseudoclass li{
			padding:.5rem;
		}
		.pseudoclass > :first-child{
			border: 2px solid;
		}
		.pseudoclass > :first-of-type{
			color:#124;
			background-color: #ddd;
		}
		.pseudoclass > :last-child{
			color:#333;
			background-color: #48f;
		}
		.pseudoclass > :last-of-type{
			border: 2px solid;
		}
		section :first-of-type::first-line{
			color:#248;
			font-weight: bold;
			text-shadow: 0 0 10px #ddd;
		}
		article p:first-of-type::first-letter{
			float: left;
			font-size: 8rem;
			line-height: 8rem;
			margin-right: .5rem;
		}
	/*css-grid*/
		.grid{
			display: grid;
			grid-template-columns: auto auto auto; /*cantidad y tamaño de columnas*/
			grid-template-rows: 50px 50px;/*tamaño de las filas especificadas*/
			gap: 1rem;	
			border:2px solid  #ccc;
			padding:1rem;
		}
		.grid div{
			border:2px solid #248;
		}
		.grid div:first-child{
			grid-column-start: 1;
			grid-column-end: 4;
		}
		.grid div:last-child{
			grid-column: 3/4;
			grid-row-start: 2;
			grid-row-end: 6;
		}
		.grid div.span{
			grid-column-start: 1;
			grid-column-end: 3;
		}
		.grid.align{
			justify-content: center; /*horizontal*/
			align-content: center; /*vertical*/
		}
		.areas{
			grid-template-areas: 
				"header header header"
				"info-1 info-2 aside"
				"section section aside"
				"info-3 article article"
				"footer footer footer";
		}
		.areas div:first-child{ grid-area: header;}
		.areas div:last-child{grid-area: footer;}
		.areas .aside{grid-area: aside;}
		.areas .section{grid-area: section;}
		.areas .article{grid-area: article;}
	/*pseudoelementos after/before*/
		main{
			counter-reset: clase;
		}
		main .header h1::before{
			counter-increment: clase;
			content: 'Clase ' counter(clase) ': ';
		}
		main .header h1::after{
			content: ' - maquetacion web';
		}
		article{
			counter-reset: tema;
		}
		article section h1::before{
			counter-increment: tema;
			content: 'Tema ' counter(tema) ': ';
		}
		.pseudo p::before{
			content: 'Lorem ipsum dolor sit amet consectetur adipisicing, elit. Et voluptatibus provident nam recusandae illo molestias dolorem numquam alias aperiam ab voluptatum neque earum repellat adipisci dignissimos praesentium, accusantium cum sit obcaecati dolores, similique architecto. Officiis dolorem minima accusamus fugit beatae laborum et. Porro, perferendis cumque animi corporis voluptatum adipisci, quidem?. Lorem ipsum dolor sit amet consectetur adipisicing, elit. Et voluptatibus provident nam recusandae illo molestias dolorem numquam alias aperiam ab voluptatum neque earum repellat adipisci dignissimos praesentium, accusantium cum sit obcaecati dolores, similique architecto. Officiis dolorem minima accusamus fugit beatae laborum et. Porro, perferendis cumque animi corporis voluptatum adipisci, quidem?';
		}
		.pseudo ul, .pseudo li{
			list-style:none;
			padding:0;
		}
		.pseudo section > ul > li > ul > li:last-child{
			border-bottom: 2px solid #ccc;
		}
		/*numero principal - hijo directo de la lista*/
			.pseudo section > ul {counter-reset: primero;}
			.pseudo section > ul > li{ counter-increment: primero;}
		/*numero secundario - lista dentro de un li*/
			.pseudo section li > ul { counter-reset: segundo; }
			.pseudo section li > ul > li {counter-increment: segundo;}
		/*numero terciario - lista dentro de un li dentro de otro li*/
			.pseudo section li li > ul { counter-reset: tercero; }
			.pseudo section li li > ul > li {counter-increment: tercero;}
		/*aplicacion de los numeros*/
		.pseudo li::before{
			content: 
				counter(primero) '.'
				counter(segundo) '.'
				counter(tercero) ' - ';
			
		}
	/*atributos de listas*/
		article li{
			list-style: circle url(../assets/social/css-icon.png) outside;
		}
/*Formulario de Contacto*/
	#contact {
		display: flex;
		flex-direction: column;
		max-width: 720px;
		margin: 1rem auto; /*top right bottom left*/
	}
	#contact input,
	#contact textarea{
		outline: none;
		border: 2px solid white; /*width style color*/
		border-radius: .2rem;
		padding:.5rem 1rem; /*top right bottom left*/
		font-size: 1rem;
			/*
				Medidas Absolutas:
					siempre representa la misma unidad
					independientemente del tamaño de la pantalla
					metricas: impresión
						cm
						in
						pc
					;
					tipograficas:
						pt (1/72in) letra
					;
					hibrida:
						px (puntos en pantalla)
							depende de la resolucion (cantidad/tamaño)
							computadoras (1px = 1p/pantalla)
							dispositivos moviles (1px = 3p/pantalla)
					;
				;

				Medidas Relativas:
					toman de referencia al elemento padre
					dependen de este para representar su tamaño
					tamaño:
						padre: 700px;
						hijo: 50%; => 350px
						porcentaje: % del elemento padre (contenedor);
					;
					tipografica:
						padre: 16px;
						hijo: 2em; => 32px;
						em: ancho de "M" del elemento padre;
						ex: alto de "x" del elemento padre;
						ch: alto de "0" del elemento padre;
						porcentaje: % de la letra en el elemento padre;
					;

					hibrida:
						rem (root em): ancho de "M" en html;
						;
				;
			*/
	}
	#contact textarea{
		resize: none;
		height: 5rem;
	}
	#contact :focus{
		border-color: rgba(34,68,136,.5);/* dec=0-255 hex=00-ff */
		box-shadow: 0 0 5px #ccc; /* -x+ -y+ blur color */
	}
	#contact button{
		align-self: flex-end;
		margin: .5rem 0 1rem;
		border:3px solid #ccc;
		padding:1rem;
		font:bold 1rem Raleway;/*style weight size family*/
		text-transform: uppercase;
		color:#ccc;
		background-color: transparent;
	}
	#contact button:hover{
		color: #248;
		background-color: #ccc;
	}