/* Reglas Generales */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.hidden{
    display: none;
    background: linear-gradient(#fff, #eee)
}

.hidden:target{
    display: grid;
    max-width: 720px;
    gap: .25rem;
    margin: 1rem auto;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 0 .5rem #999;
}

form fieldset{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: .5rem;
}
form p{
    margin: 0;
}

input,
textarea,
button,
select{
    outline: none;
    border-radius: .25rem;
    border: .1rem solid #333;
    padding: .25rem 1rem;
    font-size: 1rem;
}