// Declaraciones
$attributes: 
    --name (loading, slide, race, appear, expand),
    --timing (ease, ease-in, ease-in, ease-out, ease-in-out, linear), 
    --dir (normal, reverse, alternate, alternate-reverse), 
    --fill (normal, backwards, forwards);

@each $prop, $values in $attributes{
    /* Valores variable #{$prop}*/
@each $v in $values{
    .#{$v}{ #{$prop}: #{$v}; }
}}
.animation{
    .a-item{
        animation: var(--name) var(--sec) var(--timing) var(--i);
        animation-direction: var(--dir);
        animation-fill-mode: var(--fill);
    }
}
.loading > .a-item{
    --sec: 1s;
    --i: infinite;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .5rem solid;
    border-color: #ace #8ac #48a #248;
}
.window{
    content: '';
    position: absolute;
    top: .25rem;
    height: 1rem;
    border-radius: .25rem;
    border: 1px solid #333;
    background-color: #eee;
}
.race > .a-item{
    --sec: 5s;
    --i: infinite;
    position: relative;
    width: 5rem;
    padding: 1rem 3rem;
    border-radius: .5rem 2rem 2rem .5rem / 50% 20% 10% 50%;
    background: radial-gradient(
        circle at top right,
        #eee,
        #248
    );
    &::before{
        @extend .window;
        right: 1rem;
        width: 1rem;
    }
    &::after{
        @extend .window;
        left: 1rem;
        width: .5rem;
    }
}

/* Fotogramas de animacion */
@keyframes appear{
    /* como empieza la animacion - DESDE */
    from{
        transform: 
            translateY(50vh)
            translateZ(50vh);
    }
}
@keyframes slide{
    /* como termina la animacion - HASTA*/
    to{ background-position: 0; }
}
@keyframes loading{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}
@keyframes race{
    0%{
        transform:
            translate(-10vw)
            skew(15deg)
    }
    50%{
        transform:
            translate(50vw)
            skew(30deg);
    }
    100%{
        transform: 
            translate(100vw)
            skew(5deg)
        ;
    }
}
