#header{
    margin: 0;
    padding: min(20%, 240px) 1rem;
    font-size: min(calc(.5rem + 2vw), 3rem);
    text-align: center;
}
.header{
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    color: #eee;
    background-color: #448;
}
header{
    color: #448;
    border-bottom: .1rem solid;
}