// Rutas
$src: '../assets';
$bg: '#{$src}/bg';
$ico: '#{$src}/icon';

// Imagenes
$social:
    "cr",
    "facebook",
    "github",
    "instagram",
    "linkedin",
    "twitter",
    "telegram",
    "whatsapp",
    "youtube";
$menu:
    "open",
    "close",
    "expand",
    "shrink";

$linux:
    "artful-aardvark",
    "bionic-beaver",
    "cosmic-cuttlefish",
    "disco-dingo",
    "eoan-ermine",
    "focal-fossa",
    "groovy-gorilla",
    "hisurte-hippo",
    "impish-Indri",
    "jammy-jellyfish";

$macos: 
    "big-sur-dark",
    "big-sur-light",
    "big-sur-night",
    "big-sur",
    "catalina-night",
    "catalina",
    "el-capitan",
    "high-sierra",
    "leopard",
    "lion",
    "mavericks",
    "mojave-night",
    "mojave",
    "monterrey-dark",
    "monterrey-light",
    "mountain-lion",
    "sierra",
    "snow-leopard",
    "tiger",
    "yosemite";

// Mixin Estilos de Caja
@mixin normalize($p: 0, $m: 0, $b: 0, $ba: border, $ma: margin, $pa: padding){
    #{$ma}: $m;
    #{$ba}: $b;
    #{$pa}: $p;
}

// Mixin creacion de clases Iconos
@mixin classNames(
    $array, 
    $class: "", 
    $prop: background-image, 
    $path: $bg,
    $format:".jpg",
    $extra: ""
    ){
    @each $item in $array{
    .#{$class}#{$item}{
        #{$prop}: url("#{$path}/#{$extra}#{$item}#{$format}");
} } }

// Implementacion de Mixins Iconos
/* Redes sociales */
@include classNames($social,"",--icon, $ico,".svg");
/* Imagenes de Fondo Ubuntu */
@include classNames($linux, bg-,--img, $extra: "ubuntu-");
/* Imagenes de Fondo Mac OS X*/
@include classNames($macos, bg-,--img, $extra: "osx-");

// Nesting: Anidacion de estilos
.icon{
    --color: #ccc;
    --position: center;
    --size: 2.5rem;
    @include normalize(2rem, .25rem, .5rem, border-radius);
    position: relative;
    background: var(--color) var(--icon) var(--position)/var(--size) no-repeat;
    &:hover{
        --size: 3rem;
        transform: rotate(360deg);
        transition: all .5s linear; 
        /* efecto que completa las etapas intermedias entre un estado A y su estado B, es necesario que exista un gatillador*/
    }
    &:active{
        --color: var(--light);
        bottom: .5rem;
        box-shadow: 0 .5rem .5rem var(--dark);
    }
}

.social{
    @include normalize(1rem, flex, center, justify-content, display);
    // Extension de estilos
    a{
        @extend .icon;
    }
}

.slider{
    position: relative;
    width: 100%;
    min-height: min(100vh, 640px);
    .item{
        @include normalize($b:none, $ba: list-style);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: var(--light) var(--img) center/cover no-repeat;
        &.active{
            z-index: 0;
            opacity: 1;
        }
    }
    button[class*="icon"]{
        @include normalize(1rem, transparent, $ma: background-color);
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        width: 20%;
        height: 100%;
        z-index: 1;
        font-size: 5vw;
        color: var(--light);
        opacity: .3;
        &.icon-prev{
            left: 0;
        }
        &.icon-next{
            right: 0;
        }
        &:hover{
            opacity: .7;
        }
    }
    .controls{
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: .5rem;
        button{
            @include normalize(.5rem,1rem, $ma: border-radius);
            border-radius: 1rem;
            opacity: .5;
            &.active{
                width: 3rem;
            }
            &:hover{
                opacity: .8;
            }
        }
    }
}