:root{
    /* Colores */
    --first:  #248;
    --second: #66c;
    --light:  #eee;
    --grey:   #666;
    --dark:   #333;
    --warning:#dc3;
    --danger: #c33;
    --success:#3c6;
    --info:   #36c;
    --love:   #c36;
    /* Tamaños */
    --sm:   540px;
    --md:   720px;
    --lg:   960px;
    --xl:   1140px;
    --xxl:  1320px;

    --small: 240px;
    --medium: 360px;
    --large: 480px;
    --giant: 600px;
    /* Tipografia */
    --font: 'Ubuntu', 'Raleway', 'Century Gothic', 'Calibri', sans-serif;
    --main: 'Star Wars', sans-serif;
}