/* Sistema de Grillas */
.col-1 {
  width: 4.1666666667%;
}

.col-2 {
  width: 8.3333333333%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.6666666667%;
}

.col-5 {
  width: 20.8333333333%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.1666666667%;
}

.col-8 {
  width: 33.3333333333%;
}

.col-9 {
  width: 37.5%;
}

.col-10 {
  width: 41.6666666667%;
}

.col-11 {
  width: 45.8333333333%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.1666666667%;
}

.col-14 {
  width: 58.3333333333%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.6666666667%;
}

.col-17 {
  width: 70.8333333333%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.1666666667%;
}

.col-20 {
  width: 83.3333333333%;
}

.col-21 {
  width: 87.5%;
}

.col-22 {
  width: 91.6666666667%;
}

.col-23 {
  width: 95.8333333333%;
}

.col-24 {
  width: 100%;
}

/* Sistema de Grillas Responsive*/
/* Dispositivos sm */
@media screen and (min-width: 576px) {
  .container,
.container-sm {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 4.1666666667%;
  }

  .col-sm-2 {
    width: 8.3333333333%;
  }

  .col-sm-3 {
    width: 12.5%;
  }

  .col-sm-4 {
    width: 16.6666666667%;
  }

  .col-sm-5 {
    width: 20.8333333333%;
  }

  .col-sm-6 {
    width: 25%;
  }

  .col-sm-7 {
    width: 29.1666666667%;
  }

  .col-sm-8 {
    width: 33.3333333333%;
  }

  .col-sm-9 {
    width: 37.5%;
  }

  .col-sm-10 {
    width: 41.6666666667%;
  }

  .col-sm-11 {
    width: 45.8333333333%;
  }

  .col-sm-12 {
    width: 50%;
  }

  .col-sm-13 {
    width: 54.1666666667%;
  }

  .col-sm-14 {
    width: 58.3333333333%;
  }

  .col-sm-15 {
    width: 62.5%;
  }

  .col-sm-16 {
    width: 66.6666666667%;
  }

  .col-sm-17 {
    width: 70.8333333333%;
  }

  .col-sm-18 {
    width: 75%;
  }

  .col-sm-19 {
    width: 79.1666666667%;
  }

  .col-sm-20 {
    width: 83.3333333333%;
  }

  .col-sm-21 {
    width: 87.5%;
  }

  .col-sm-22 {
    width: 91.6666666667%;
  }

  .col-sm-23 {
    width: 95.8333333333%;
  }

  .col-sm-24 {
    width: 100%;
  }
}
/* Dispositivos md */
@media screen and (min-width: 768px) {
  .container,
.container-md {
    max-width: 720px;
  }

  .col-md-1 {
    width: 4.1666666667%;
  }

  .col-md-2 {
    width: 8.3333333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.6666666667%;
  }

  .col-md-5 {
    width: 20.8333333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.1666666667%;
  }

  .col-md-8 {
    width: 33.3333333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.6666666667%;
  }

  .col-md-11 {
    width: 45.8333333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.1666666667%;
  }

  .col-md-14 {
    width: 58.3333333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.6666666667%;
  }

  .col-md-17 {
    width: 70.8333333333%;
  }

  .col-md-18 {
    width: 75%;
  }

  .col-md-19 {
    width: 79.1666666667%;
  }

  .col-md-20 {
    width: 83.3333333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.6666666667%;
  }

  .col-md-23 {
    width: 95.8333333333%;
  }

  .col-md-24 {
    width: 100%;
  }
}
/* Dispositivos lg */
@media screen and (min-width: 992px) {
  .container,
.container-lg {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 4.1666666667%;
  }

  .col-lg-2 {
    width: 8.3333333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.6666666667%;
  }

  .col-lg-5 {
    width: 20.8333333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.1666666667%;
  }

  .col-lg-8 {
    width: 33.3333333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.6666666667%;
  }

  .col-lg-11 {
    width: 45.8333333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.1666666667%;
  }

  .col-lg-14 {
    width: 58.3333333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16 {
    width: 66.6666666667%;
  }

  .col-lg-17 {
    width: 70.8333333333%;
  }

  .col-lg-18 {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.1666666667%;
  }

  .col-lg-20 {
    width: 83.3333333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.6666666667%;
  }

  .col-lg-23 {
    width: 95.8333333333%;
  }

  .col-lg-24 {
    width: 100%;
  }
}
/* Dispositivos xl */
@media screen and (min-width: 1200px) {
  .container,
.container-xl {
    max-width: 1140px;
  }

  .col-xl-1 {
    width: 4.1666666667%;
  }

  .col-xl-2 {
    width: 8.3333333333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.6666666667%;
  }

  .col-xl-5 {
    width: 20.8333333333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.1666666667%;
  }

  .col-xl-8 {
    width: 33.3333333333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.6666666667%;
  }

  .col-xl-11 {
    width: 45.8333333333%;
  }

  .col-xl-12 {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.1666666667%;
  }

  .col-xl-14 {
    width: 58.3333333333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.6666666667%;
  }

  .col-xl-17 {
    width: 70.8333333333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.1666666667%;
  }

  .col-xl-20 {
    width: 83.3333333333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.6666666667%;
  }

  .col-xl-23 {
    width: 95.8333333333%;
  }

  .col-xl-24 {
    width: 100%;
  }
}
/* Dispositivos xxl */
@media screen and (min-width: 1400px) {
  .container,
.container-xxl {
    max-width: 1320px;
  }

  .col-xxl-1 {
    width: 4.1666666667%;
  }

  .col-xxl-2 {
    width: 8.3333333333%;
  }

  .col-xxl-3 {
    width: 12.5%;
  }

  .col-xxl-4 {
    width: 16.6666666667%;
  }

  .col-xxl-5 {
    width: 20.8333333333%;
  }

  .col-xxl-6 {
    width: 25%;
  }

  .col-xxl-7 {
    width: 29.1666666667%;
  }

  .col-xxl-8 {
    width: 33.3333333333%;
  }

  .col-xxl-9 {
    width: 37.5%;
  }

  .col-xxl-10 {
    width: 41.6666666667%;
  }

  .col-xxl-11 {
    width: 45.8333333333%;
  }

  .col-xxl-12 {
    width: 50%;
  }

  .col-xxl-13 {
    width: 54.1666666667%;
  }

  .col-xxl-14 {
    width: 58.3333333333%;
  }

  .col-xxl-15 {
    width: 62.5%;
  }

  .col-xxl-16 {
    width: 66.6666666667%;
  }

  .col-xxl-17 {
    width: 70.8333333333%;
  }

  .col-xxl-18 {
    width: 75%;
  }

  .col-xxl-19 {
    width: 79.1666666667%;
  }

  .col-xxl-20 {
    width: 83.3333333333%;
  }

  .col-xxl-21 {
    width: 87.5%;
  }

  .col-xxl-22 {
    width: 91.6666666667%;
  }

  .col-xxl-23 {
    width: 95.8333333333%;
  }

  .col-xxl-24 {
    width: 100%;
  }
}