// Variables: Espacio reservado en memoria cuyo valor puede cambiar
    $color: #224;
    $bg-color: #e8c8;
    $bg-alt: #88e8;

// Mixin: Estilos que se aplican como atributos y que poseen parametros
@mixin position($p: relative, $z: 0){
    position: $p;
    z-index: $z;
}

// Nesting: Anidacion de selectores para la creacion de estilos especificos
.display-box{
    @include position;
    color: $color;
    background: $bg-color radial-gradient(
        circle at top right,
        $bg-color,
        $bg-alt,
        $bg-color
    );
    .list{
        @include position(absolute);
        list-style: none;
        padding: .5rem;
        // Selector de Elemento Padre
        &-block{        
            top: 100%;
            left: 0;
        }
        &-side{
            top: 0;
            left: 100%;
        }
    }
}