@charset "UTF-8";
/* Tamaños por Atributos */
.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.o-0 {
  outline-width: 0rem;
}

.o-1 {
  outline-width: 0.25rem;
}

.o-2 {
  outline-width: 0.5rem;
}

.o-3 {
  outline-width: 0.75rem;
}

.o-4 {
  outline-width: 1rem;
}

.o-5 {
  outline-width: 1.25rem;
}

.o-6 {
  outline-width: 1.5rem;
}

.o-7 {
  outline-width: 1.75rem;
}

.o-8 {
  outline-width: 2rem;
}

.o-9 {
  outline-width: 2.25rem;
}

.o-10 {
  outline-width: 2.5rem;
}

.b-0 {
  border-width: 0rem;
}

.b-1 {
  border-width: 0.25rem;
}

.b-2 {
  border-width: 0.5rem;
}

.b-3 {
  border-width: 0.75rem;
}

.b-4 {
  border-width: 1rem;
}

.b-5 {
  border-width: 1.25rem;
}

.b-6 {
  border-width: 1.5rem;
}

.b-7 {
  border-width: 1.75rem;
}

.b-8 {
  border-width: 2rem;
}

.b-9 {
  border-width: 2.25rem;
}

.b-10 {
  border-width: 2.5rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.fs-0 {
  font-size: 0.5rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 1.5rem;
}

.fs-3 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 2.5rem;
}

.fs-5 {
  font-size: 3rem;
}

.fs-6 {
  font-size: 3.5rem;
}

.fs-7 {
  font-size: 4rem;
}

.fs-8 {
  font-size: 4.5rem;
}

.fs-9 {
  font-size: 5rem;
}

.fs-10 {
  font-size: 5.5rem;
}

.fw-0 {
  font-weight: 0;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.fw-10 {
  font-weight: 1000;
}

/* Sistema de Colores por Atributo */
.text-primary {
  color: #448;
}

.text-secondary {
  color: #c36;
}

.text-light {
  color: #eee;
}

.text-dark {
  color: #333;
}

.text-danger {
  color: #c33;
}

.text-warning {
  color: #da3;
}

.text-success {
  color: #3c6;
}

.text-info {
  color: #36c;
}

.bg-primary {
  background-color: #448;
}

.bg-secondary {
  background-color: #c36;
}

.bg-light {
  background-color: #eee;
}

.bg-dark {
  background-color: #333;
}

.bg-danger {
  background-color: #c33;
}

.bg-warning {
  background-color: #da3;
}

.bg-success {
  background-color: #3c6;
}

.bg-info {
  background-color: #36c;
}

.outline-primary {
  outline-color: #448;
}

.outline-secondary {
  outline-color: #c36;
}

.outline-light {
  outline-color: #eee;
}

.outline-dark {
  outline-color: #333;
}

.outline-danger {
  outline-color: #c33;
}

.outline-warning {
  outline-color: #da3;
}

.outline-success {
  outline-color: #3c6;
}

.outline-info {
  outline-color: #36c;
}

.border-primary {
  border-color: #448;
}

.border-secondary {
  border-color: #c36;
}

.border-light {
  border-color: #eee;
}

.border-dark {
  border-color: #333;
}

.border-danger {
  border-color: #c33;
}

.border-warning {
  border-color: #da3;
}

.border-success {
  border-color: #3c6;
}

.border-info {
  border-color: #36c;
}

.shadow-primary {
  --shadow: #448;
}

.shadow-secondary {
  --shadow: #c36;
}

.shadow-light {
  --shadow: #eee;
}

.shadow-dark {
  --shadow: #333;
}

.shadow-danger {
  --shadow: #c33;
}

.shadow-warning {
  --shadow: #da3;
}

.shadow-success {
  --shadow: #3c6;
}

.shadow-info {
  --shadow: #36c;
}

.shade-primary {
  --shade: #448;
}

.shade-secondary {
  --shade: #c36;
}

.shade-light {
  --shade: #eee;
}

.shade-dark {
  --shade: #333;
}

.shade-danger {
  --shade: #c33;
}

.shade-warning {
  --shade: #da3;
}

.shade-success {
  --shade: #3c6;
}

.shade-info {
  --shade: #36c;
}

/* Sistema de Grillas */
.col-1 {
  width: 4.1666666667%;
}

.col-2 {
  width: 8.3333333333%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.6666666667%;
}

.col-5 {
  width: 20.8333333333%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.1666666667%;
}

.col-8 {
  width: 33.3333333333%;
}

.col-9 {
  width: 37.5%;
}

.col-10 {
  width: 41.6666666667%;
}

.col-11 {
  width: 45.8333333333%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.1666666667%;
}

.col-14 {
  width: 58.3333333333%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.6666666667%;
}

.col-17 {
  width: 70.8333333333%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.1666666667%;
}

.col-20 {
  width: 83.3333333333%;
}

.col-21 {
  width: 87.5%;
}

.col-22 {
  width: 91.6666666667%;
}

.col-23 {
  width: 95.8333333333%;
}

.col-24 {
  width: 100%;
}

/* Sistema de Grillas Responsive*/
/* Dispositivos sm */
@media screen and (min-width: 576px) {
  .container,
.container-sm {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 4.1666666667%;
  }

  .col-sm-2 {
    width: 8.3333333333%;
  }

  .col-sm-3 {
    width: 12.5%;
  }

  .col-sm-4 {
    width: 16.6666666667%;
  }

  .col-sm-5 {
    width: 20.8333333333%;
  }

  .col-sm-6 {
    width: 25%;
  }

  .col-sm-7 {
    width: 29.1666666667%;
  }

  .col-sm-8 {
    width: 33.3333333333%;
  }

  .col-sm-9 {
    width: 37.5%;
  }

  .col-sm-10 {
    width: 41.6666666667%;
  }

  .col-sm-11 {
    width: 45.8333333333%;
  }

  .col-sm-12 {
    width: 50%;
  }

  .col-sm-13 {
    width: 54.1666666667%;
  }

  .col-sm-14 {
    width: 58.3333333333%;
  }

  .col-sm-15 {
    width: 62.5%;
  }

  .col-sm-16 {
    width: 66.6666666667%;
  }

  .col-sm-17 {
    width: 70.8333333333%;
  }

  .col-sm-18 {
    width: 75%;
  }

  .col-sm-19 {
    width: 79.1666666667%;
  }

  .col-sm-20 {
    width: 83.3333333333%;
  }

  .col-sm-21 {
    width: 87.5%;
  }

  .col-sm-22 {
    width: 91.6666666667%;
  }

  .col-sm-23 {
    width: 95.8333333333%;
  }

  .col-sm-24 {
    width: 100%;
  }
}
/* Dispositivos md */
@media screen and (min-width: 768px) {
  .container,
.container-md {
    max-width: 720px;
  }

  .col-md-1 {
    width: 4.1666666667%;
  }

  .col-md-2 {
    width: 8.3333333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.6666666667%;
  }

  .col-md-5 {
    width: 20.8333333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.1666666667%;
  }

  .col-md-8 {
    width: 33.3333333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.6666666667%;
  }

  .col-md-11 {
    width: 45.8333333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.1666666667%;
  }

  .col-md-14 {
    width: 58.3333333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.6666666667%;
  }

  .col-md-17 {
    width: 70.8333333333%;
  }

  .col-md-18 {
    width: 75%;
  }

  .col-md-19 {
    width: 79.1666666667%;
  }

  .col-md-20 {
    width: 83.3333333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.6666666667%;
  }

  .col-md-23 {
    width: 95.8333333333%;
  }

  .col-md-24 {
    width: 100%;
  }
}
/* Dispositivos lg */
@media screen and (min-width: 992px) {
  .container,
.container-lg {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 4.1666666667%;
  }

  .col-lg-2 {
    width: 8.3333333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.6666666667%;
  }

  .col-lg-5 {
    width: 20.8333333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.1666666667%;
  }

  .col-lg-8 {
    width: 33.3333333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.6666666667%;
  }

  .col-lg-11 {
    width: 45.8333333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.1666666667%;
  }

  .col-lg-14 {
    width: 58.3333333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16 {
    width: 66.6666666667%;
  }

  .col-lg-17 {
    width: 70.8333333333%;
  }

  .col-lg-18 {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.1666666667%;
  }

  .col-lg-20 {
    width: 83.3333333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.6666666667%;
  }

  .col-lg-23 {
    width: 95.8333333333%;
  }

  .col-lg-24 {
    width: 100%;
  }
}
/* Dispositivos xl */
@media screen and (min-width: 1200px) {
  .container,
.container-xl {
    max-width: 1140px;
  }

  .col-xl-1 {
    width: 4.1666666667%;
  }

  .col-xl-2 {
    width: 8.3333333333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.6666666667%;
  }

  .col-xl-5 {
    width: 20.8333333333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.1666666667%;
  }

  .col-xl-8 {
    width: 33.3333333333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.6666666667%;
  }

  .col-xl-11 {
    width: 45.8333333333%;
  }

  .col-xl-12 {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.1666666667%;
  }

  .col-xl-14 {
    width: 58.3333333333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.6666666667%;
  }

  .col-xl-17 {
    width: 70.8333333333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.1666666667%;
  }

  .col-xl-20 {
    width: 83.3333333333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.6666666667%;
  }

  .col-xl-23 {
    width: 95.8333333333%;
  }

  .col-xl-24 {
    width: 100%;
  }
}
/* Dispositivos xxl */
@media screen and (min-width: 1400px) {
  .container,
.container-xxl {
    max-width: 1320px;
  }

  .col-xxl-1 {
    width: 4.1666666667%;
  }

  .col-xxl-2 {
    width: 8.3333333333%;
  }

  .col-xxl-3 {
    width: 12.5%;
  }

  .col-xxl-4 {
    width: 16.6666666667%;
  }

  .col-xxl-5 {
    width: 20.8333333333%;
  }

  .col-xxl-6 {
    width: 25%;
  }

  .col-xxl-7 {
    width: 29.1666666667%;
  }

  .col-xxl-8 {
    width: 33.3333333333%;
  }

  .col-xxl-9 {
    width: 37.5%;
  }

  .col-xxl-10 {
    width: 41.6666666667%;
  }

  .col-xxl-11 {
    width: 45.8333333333%;
  }

  .col-xxl-12 {
    width: 50%;
  }

  .col-xxl-13 {
    width: 54.1666666667%;
  }

  .col-xxl-14 {
    width: 58.3333333333%;
  }

  .col-xxl-15 {
    width: 62.5%;
  }

  .col-xxl-16 {
    width: 66.6666666667%;
  }

  .col-xxl-17 {
    width: 70.8333333333%;
  }

  .col-xxl-18 {
    width: 75%;
  }

  .col-xxl-19 {
    width: 79.1666666667%;
  }

  .col-xxl-20 {
    width: 83.3333333333%;
  }

  .col-xxl-21 {
    width: 87.5%;
  }

  .col-xxl-22 {
    width: 91.6666666667%;
  }

  .col-xxl-23 {
    width: 95.8333333333%;
  }

  .col-xxl-24 {
    width: 100%;
  }
}
.zeroise, .display-box :is(ol, ul) {
  margin: 0;
  border: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.display-box {
  position: relative;
  z-index: 0;
  color: #224;
  background: #e8c8 radial-gradient(circle at top right, #e8c8, #88e8, #e8c8);
}
.display-box .list {
  position: absolute;
  z-index: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--dark);
  list-style: none;
  display: none;
}
.display-box .list-block {
  top: 100%;
  left: 0;
}
.display-box .list-side {
  min-width: 8rem;
  top: 0;
  left: 100%;
}
.display-box :is(ol, ul) {
  background-color: #88e8;
}
.display-box li {
  position: relative;
  z-index: 0;
  padding: 0.5rem;
}
.display-box li:hover {
  background-color: #e8c8;
}
.display-box:hover > .list,
.display-box li:hover > .list {
  display: block;
}