.facebook {
  background-image: url("../assets/icon/facebook.svg");
}

.instagram {
  background-image: url("../assets/icon/instagram.svg");
}

.twitter {
  background-image: url("../assets/icon/twitter.svg");
}

.github {
  background-image: url("../assets/icon/github.svg");
}

.linkedin {
  background-image: url("../assets/icon/linkedin.svg");
}

.whatsapp {
  background-image: url("../assets/icon/whatsapp.svg");
}

.youtube {
  background-image: url("../assets/icon/youtube.svg");
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 4.1666666667%;
  }

  .col-sm-2 {
    width: 8.3333333333%;
  }

  .col-sm-3 {
    width: 12.5%;
  }

  .col-sm-4 {
    width: 16.6666666667%;
  }

  .col-sm-5 {
    width: 20.8333333333%;
  }

  .col-sm-6 {
    width: 25%;
  }

  .col-sm-7 {
    width: 29.1666666667%;
  }

  .col-sm-8 {
    width: 33.3333333333%;
  }

  .col-sm-9 {
    width: 37.5%;
  }

  .col-sm-10 {
    width: 41.6666666667%;
  }

  .col-sm-11 {
    width: 45.8333333333%;
  }

  .col-sm-12 {
    width: 50%;
  }

  .col-sm-13 {
    width: 54.1666666667%;
  }

  .col-sm-14 {
    width: 58.3333333333%;
  }

  .col-sm-15 {
    width: 62.5%;
  }

  .col-sm-16 {
    width: 66.6666666667%;
  }

  .col-sm-17 {
    width: 70.8333333333%;
  }

  .col-sm-18 {
    width: 75%;
  }

  .col-sm-19 {
    width: 79.1666666667%;
  }

  .col-sm-20 {
    width: 83.3333333333%;
  }

  .col-sm-21 {
    width: 87.5%;
  }

  .col-sm-22 {
    width: 91.6666666667%;
  }

  .col-sm-23 {
    width: 95.8333333333%;
  }

  .col-sm-24 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 4.1666666667%;
  }

  .col-md-2 {
    width: 8.3333333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.6666666667%;
  }

  .col-md-5 {
    width: 20.8333333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.1666666667%;
  }

  .col-md-8 {
    width: 33.3333333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.6666666667%;
  }

  .col-md-11 {
    width: 45.8333333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.1666666667%;
  }

  .col-md-14 {
    width: 58.3333333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.6666666667%;
  }

  .col-md-17 {
    width: 70.8333333333%;
  }

  .col-md-18 {
    width: 75%;
  }

  .col-md-19 {
    width: 79.1666666667%;
  }

  .col-md-20 {
    width: 83.3333333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.6666666667%;
  }

  .col-md-23 {
    width: 95.8333333333%;
  }

  .col-md-24 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 4.1666666667%;
  }

  .col-lg-2 {
    width: 8.3333333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.6666666667%;
  }

  .col-lg-5 {
    width: 20.8333333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.1666666667%;
  }

  .col-lg-8 {
    width: 33.3333333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.6666666667%;
  }

  .col-lg-11 {
    width: 45.8333333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.1666666667%;
  }

  .col-lg-14 {
    width: 58.3333333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16 {
    width: 66.6666666667%;
  }

  .col-lg-17 {
    width: 70.8333333333%;
  }

  .col-lg-18 {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.1666666667%;
  }

  .col-lg-20 {
    width: 83.3333333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.6666666667%;
  }

  .col-lg-23 {
    width: 95.8333333333%;
  }

  .col-lg-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 4.1666666667%;
  }

  .col-xl-2 {
    width: 8.3333333333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.6666666667%;
  }

  .col-xl-5 {
    width: 20.8333333333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.1666666667%;
  }

  .col-xl-8 {
    width: 33.3333333333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.6666666667%;
  }

  .col-xl-11 {
    width: 45.8333333333%;
  }

  .col-xl-12 {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.1666666667%;
  }

  .col-xl-14 {
    width: 58.3333333333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.6666666667%;
  }

  .col-xl-17 {
    width: 70.8333333333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.1666666667%;
  }

  .col-xl-20 {
    width: 83.3333333333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.6666666667%;
  }

  .col-xl-23 {
    width: 95.8333333333%;
  }

  .col-xl-24 {
    width: 100%;
  }
}
body {
  list-style: none;
  margin: 0;
  border: none;
  padding: 0;
}

img, video {
  width: 100%;
  max-width: 540px;
}

svg, canvas {
  width: 300px;
  height: 300px;
}

nav {
  background-color: #448;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: wrap;
}

#footer .social {
  margin: auto;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  flex-wrap: wrap;
}
#footer .social a {
  margin: 0.2rem;
  width: 3rem;
  height: 3rem;
}
#footer #contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  flex-wrap: wrap;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
