@font-face{
    src: url('../../assets/font/death_star.otf'); /* OPEN TYPE FONT */
    font-family: 'Star Wars';
}
@font-face{
    src: url('../../assets/font/harry_potter.ttf'); /* TRUE TYPE FONT */
    font-family: 'Harry Potter';
}
@font-face{
    src: url('../../assets/font/lord_of_the_rings.ttf');
    font-family: 'Middle Earth';
}