// Importacion
@use "sass:math";
// Declaraciones
$functions: lineal, cuadratica, trigonometrica, exponencial, limite;
$ships: 
    "a-wing",
    "b-wing-prototype",
    "ghost",
    "interdictor-star-destroyer",
    "phantom-fathead",
    "resistance-x-wing",
    "tie-fighter",
    "u-wing",
    "x-wing",
    "y-wing-fighter",
    "zeta-class-cargo"
;
// Funciones
@function getCoords($i, $f){
    $x: $i;
    $y: $i / 2;
    $s: 0;
    @if $f == "cuadratica" {
        $y: math.pow($i - 50, 2) / 25;
        $x: ($i / 2) + 25;
    }
    @if $f == "trigonometrica" {
        $y: math.sin($x / 5) * 10;
    }
    @if $f == "exponencial" {
        $y: math.pow(2, ($i - 50) / 6) * -1;
    }
    @if $f == "limite" {
        @if ($i - 50) == 0 { $y: 0; }
        @else {$y: 50/($i - 50); }
    }
    @return translate($x * 1vw - 10, $y * 1vh);
}
@function getPosition($i){
    $x: 0;
    $y: 0;
    @if $i % 2 == 0 { $y: 180deg; }
    @if $i >= 2 { $x: 15deg; }
    @else {$x: -15deg; }
    @return rotate($x) rotateY($y);
}
@mixin flexbox(
    $fd: row,
    $jc: space-between,
    $ai: space-between,
    $g: .5rem,
    $w: wrap,
    $d: flex
){
    display: $d;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $w;
    gap: $g
}
// Clases de Utilidad
.ray{
    content: "";
    position: absolute;
    width: 5rem;
    height: .5rem;
    background-image: radial-gradient(
        #fff,
        var(--color),
        transparent
    );
    top: 2.5rem;
    right: 30%;
    animation: shoot .1s linear alternate infinite;
}
// Estructura
.giant-size{
    @include flexbox($w: wrap-reverse);
    height: 100vh;
    background: url("/assets/bg/hyperspace.jpg") center/cover;
    overflow: hidden;
    .rotate{
        @include flexbox;
        flex: 1 0 30%;
        animation: rotate 360s linear;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}n){
                transform: getPosition($i);
            }
        }
        .ship{
            flex: 1 0 min(100%, 280px);
            position: relative;
            width: 5rem;
            height: 5rem;
            overflow: visible;
            background: var(--bg) center/contain no-repeat;
            @for $i from 1 through length($ships){
                $s: nth($ships, $i);
                &:nth-child(#{$i}n){
                    --color: hsl(#{$i * 30}, 50%, 50%);
                    --bg: url("/assets/ship/#{$s}.webp");
                }
            }
            @for $i from 1 through length($functions){
                $f: nth($functions, $i);
                &:nth-child(#{$i}n){
                    animation: $f 5s linear $i *.2s alternate infinite;
                }
            }
            &::before{
                @extend .ray;
                top: 2rem;
            }
            &::after{
                @extend .ray;
                top: 4rem;
                animation-delay: .5s;
            }
        }
    }
}
// Animaciones
@each $f in $functions{
@keyframes #{$f}{
    @for $i from 0 through 100{
    #{$i}%{
        transform: getCoords($i, $f);
    }}
}}
@keyframes shoot{
    from{
        width: .1rem;
        right: 35%
    }
    to{
        width: 5rem;
        right: 0;
    }
}