#header{
    min-height: min(100vh, 640px);
    padding: 1rem;
    /* Atributos CSS Grid */
    display: grid;
    justify-content: center;
    align-content: center;
    /* Tipografia */
    font-size: min(calc(2vw + .8rem), 3rem);
    text-shadow: 0 0 .25rem #333;
    /* EXPLICACION:
        En las ultima version de CSS se incorporaron metodos que permiten realizar operaciones aritmeticas, que facilitan el desarrollo de un sitio responsive.

        min(a,b) funcion que permite determinar la medida mas pequeña
        calc(x + y) funcion que permite calcular con unidades incompatibles
    */
    /* Atributos de Fondo */
    color: #eee;
    background-color: #333;
    background-image:
        linear-gradient(
            hsla(250, 50%, 20%, .5),
            hsla(250, 50%, 30%, .5)
        ),
        url('../../assets/bg/dev-mobile.png'),
        url('../../assets/bg/dev-screen.png'),
        url('../../assets/bg/dev-software.png'),
        url('../../assets/bg/dev-windows.png');
    background-position: 
        center,
        bottom right, /* vertical: top center bottom*/
        left center, /*horizontal: left center right */
        40% 200%, /* x-axis y-axis */
        70% 10%;
    background-size:
        cover,
        clamp(3rem, 25%, 600px),
        clamp(5rem, 30%, 800px),
        clamp(2rem, 20%, 700px),
        clamp(3rem, 25%, 600px); /* (min, tamaño, maximo) */
    background-repeat: no-repeat;
    /* Attachment */
    background-attachment: 
        fixed;
    /* transition */
    transition: background 15s linear 2s;
    /* Perspectiva */
    perspective: 3rem;
    perspective-origin: center;
}
#header:hover{
    background-position: 
    top right,
    top left,
    bottom center,
    top center;
}
h1{
    font-family: 'Middle Earth';
    animation: appear 2s 2s ease-out;
    animation-fill-mode: backwards;
    transform: rotateX(5deg)
}