@charset 'UTF-8' ;

html {
  font-size : 16px ;
  font-weight : 400 ;
  line-height : 1.5 ;

  /* font-family: 'OpenDyslexic', sans-serif; */
  font-family: 'Lato', sans-serif;
} 

/* Comienzo Header */
.Header {
}

.Header .section {
}

.Header .section .article {}

/* Comienzo Aside */
.Aside {}

.section {}

.section .article {}

/* Comienzo Main */
.Main {}

.Main .section {}

.Main .section .article {}


/* Comienzo Footer */
.Footer {}

.Footer .section {}

.Footer .section .article {}
