@charset 'UTF-8' ;

/* Paletas de colores : https://coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c */

:root {
    --c_black :         #000 ;
    --c_grey800 :       #2B2B2B ;
    --c_grey700 :       #8B8B8B ;
    --c_grey500 :       #ADADAD ;
    --c_grey300 :       #F5F5F5 ;
    --c_grey200 :       #F1F1F1 ;
    --c_white :         #fff ;
    --c_green800 :      #8CC83A ;
    --c_green700 :      #87D322 ;
    --c_green500 :      #45EDA1 ;

    --fontBase :        16px ;
}

html {
  font-size :           var( --fontBase ) ;
  font-weight :         400 ;
  line-height :          1.5 ;

  /* font-family: 'OpenDyslexic', sans-serif; */
  font-family: 'Lato', sans-serif;
} 

.Body {
    max-width :                 1400px ;

    display :                   grid ;
    grid-template-rows :        56rem 46rem 36rem 53rem 138rem 70rem 34rem 7rem ;
    grid-template-columns :     repeat( 12 , 1fr ) ;
}


/* Comienzo Header */
.Header {
    grid-row:     1 / 2;
    grid-column:  1 / 13;

}

.Header .bk_header {
    position : absolute ;
    z-index: -1 ;

}

.Header .navbar {
    height: 99px ;

    display : flex ;
    flex-flow : row nowrap ;
    justify-content : space-around ;
    align-items : center ;

    color : var( --c_white ) ;
}

.Header .navbar .navbar__logo {
    display : inline-flex ;
    justify-content: center ;
    align-items: center ;
    gap : .5rem ;
}

.Header .navbar .navbar__logo--img {}

.Header .navbar .navbar__logo--caption {
    font-weight: 700 ;
    font-size: 1.25rem ;
}

.Header .navbar .navbar__menu {
    display : inline-flex ;
    align-items : center ;
    gap : 2rem ;
}

.Header .navbar .navbar__menu--link {
    list-style-type: none ;
}

.Header .navbar .navbar__cta {
    display : inline-flex ;
    align-items: center ;
    gap : 2rem ;

    color : var( --c_white ) ;
}

.Header .navbar .navbar__cta--link {
    text-decoration : none ;
}

.Header .navbar .navbar__cta--register {
    padding : .5rem 2.6rem ;

    border-radius : 2rem ;

    color : var( --c_black ) ;
    background-color : var( --c_white ) ;
    text-decoration: none ;

}

/* Comienzo Aside */
.Aside {
    grid-row: 2 / 3 ;
    grid-column: 1 / 3;

}

.section {}

.section .article {}

/* Comienzo Main */
.Main {
    grid-row: 2 / 3 ;
    grid-column: 3 / 13;

}

.Main .section {}

.Main .section .article {}


/* Comienzo Footer */
.Footer {
    grid-row: 3 / 4;
    grid-column: 1 / 13 ;

}

.Footer .section {}

.Footer .section .article {}
