@use "sass:math";
$childs: 10;
$path: '../../assets/icon';
$icons: car, wheel, clock, tower, building;

.bg-icon{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@each $ico in $icons{
    .#{$ico}{
        @extend .bg-icon;
        background-image: url('#{$path}/#{$ico}.svg');
} }

.car{
    animation: translate 5s linear infinite;
    position: relative;
    width: 100px;
    height: 50px;
    @for $i from 1 through $childs{
        &:nth-child(#{$i}){
            filter: hue-rotate(#{360/$childs * $i}deg);
            animation-timing-function: cubic-bezier(math.random(), math.random(), math.random(), math.random());
    } }
    .wheel{
        width: 1.5rem;
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        &.left{
            left: 12%;
        }
        &.right{
            right: 12%;
        }
    }
}
@keyframes translate {
    from{
        transform: translate(-10vw, -10vh);
    }
    to{
        transform: 
        translate(min(100vw, 960px), min(5vh, 120px))
        rotate(-60deg);
    }
}