.bg-icon, .building, .tower, .clock, .wheel, .car {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.car {
  background-image: url("../../assets/icon/car.svg");
}

.wheel {
  background-image: url("../../assets/icon/wheel.svg");
}

.clock {
  background-image: url("../../assets/icon/clock.svg");
}

.tower {
  background-image: url("../../assets/icon/tower.svg");
}

.building {
  background-image: url("../../assets/icon/building.svg");
}

.car {
  animation: translate 5s linear infinite;
  position: relative;
  width: 100px;
  height: 50px;
}
.car:nth-child(1) {
  filter: hue-rotate(36deg);
  animation-timing-function: cubic-bezier(0.7906894117, 0.2552316957, 0.3909758251, 0.7887598186);
}
.car:nth-child(2) {
  filter: hue-rotate(72deg);
  animation-timing-function: cubic-bezier(0.8196077283, 0.1700997922, 0.4841446288, 0.7887992382);
}
.car:nth-child(3) {
  filter: hue-rotate(108deg);
  animation-timing-function: cubic-bezier(0.2713169627, 0.190018428, 0.6701536022, 0.7000864931);
}
.car:nth-child(4) {
  filter: hue-rotate(144deg);
  animation-timing-function: cubic-bezier(0.2847891421, 0.1525780237, 0.4807516434, 0.2640578894);
}
.car:nth-child(5) {
  filter: hue-rotate(180deg);
  animation-timing-function: cubic-bezier(0.293661099, 0.341240851, 0.9961035119, 0.6756120942);
}
.car:nth-child(6) {
  filter: hue-rotate(216deg);
  animation-timing-function: cubic-bezier(0.1058352928, 0.0249984449, 0.4695123906, 0.9970421202);
}
.car:nth-child(7) {
  filter: hue-rotate(252deg);
  animation-timing-function: cubic-bezier(0.4988946762, 0.4966839001, 0.8667723972, 0.9187807189);
}
.car:nth-child(8) {
  filter: hue-rotate(288deg);
  animation-timing-function: cubic-bezier(0.814963455, 0.0528759863, 0.5167891203, 0.4769803229);
}
.car:nth-child(9) {
  filter: hue-rotate(324deg);
  animation-timing-function: cubic-bezier(0.8980785011, 0.2684377194, 0.7084239815, 0.1296342392);
}
.car:nth-child(10) {
  filter: hue-rotate(360deg);
  animation-timing-function: cubic-bezier(0.4501037069, 0.617744318, 0.8931902692, 0.2937568658);
}
.car .wheel {
  width: 1.5rem;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}
.car .wheel.left {
  left: 12%;
}
.car .wheel.right {
  right: 12%;
}

@keyframes translate {
  from {
    transform: translate(-10vw, -10vh);
  }
  to {
    transform: translate(min(100vw, 960px), min(5vh, 120px)) rotate(-60deg);
  }
}