@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j4zdyv');
  src:  url('fonts/icomoon.eot?j4zdyv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j4zdyv') format('truetype'),
    url('fonts/icomoon.woff?j4zdyv') format('woff'),
    url('fonts/icomoon.svg?j4zdyv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-about:before {
  content: "\e904";
}
.icon-gallery:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-contact:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-back:before {
  content: "\e967";
}
.icon-chat:before {
  content: "\e96d";
}
.icon-max:before {
  content: "\e98b";
}
.icon-min:before {
  content: "\e98c";
}
.icon-config:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-add:before {
  content: "\ea0a";
}
.icon-rem:before {
  content: "\ea0b";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-success:before {
  content: "\ea10";
}
.icon-logout:before {
  content: "\ea13";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-next:before {
  content: "\ea42";
}
.icon-prev:before {
  content: "\ea44";
}
.icon-git:before {
  content: "\eae7";
}
