[class*="icon-"]{
    @extend .d-block;
    filter: grayscale(90%);
    &:hover::before{
        animation: jump .5s linear alternate infinite;
    }
}
@each $class, $image in $icons{
    .icon-#{$class}::before{
        content: '#{$image}';
} }