.animaciones div {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: darkslateblue;
  color: white;
  border: 2px solid white;
}
.animaciones div:nth-child(1) {
  animation: lineal 5s linear alternate infinite;
}
.animaciones div:nth-child(2) {
  animation: cuadratica 5s linear alternate infinite;
}
.animaciones div:nth-child(3) {
  animation: trigonometrica 5s linear alternate infinite;
}
.animaciones div:nth-child(4) {
  animation: exponencial 5s linear alternate infinite;
}
.animaciones div:nth-child(5) {
  animation: radical 5s linear alternate infinite;
}
@keyframes lineal {
  0% {
    transform: translate(175px, -5px);
  }
  2% {
    transform: translate(180px, -4px);
  }
  4% {
    transform: translate(185px, -3px);
  }
  6% {
    transform: translate(190px, -2px);
  }
  8% {
    transform: translate(195px, -1px);
  }
  10% {
    transform: translate(200px, 0px);
  }
  12% {
    transform: translate(205px, 1px);
  }
  14% {
    transform: translate(210px, 2px);
  }
  16% {
    transform: translate(215px, 3px);
  }
  18% {
    transform: translate(220px, 4px);
  }
  20% {
    transform: translate(225px, 5px);
  }
  22% {
    transform: translate(230px, 6px);
  }
  24% {
    transform: translate(235px, 7px);
  }
  26% {
    transform: translate(240px, 8px);
  }
  28% {
    transform: translate(245px, 9px);
  }
  30% {
    transform: translate(250px, 10px);
  }
  32% {
    transform: translate(255px, 11px);
  }
  34% {
    transform: translate(260px, 12px);
  }
  36% {
    transform: translate(265px, 13px);
  }
  38% {
    transform: translate(270px, 14px);
  }
  40% {
    transform: translate(275px, 15px);
  }
  42% {
    transform: translate(280px, 16px);
  }
  44% {
    transform: translate(285px, 17px);
  }
  46% {
    transform: translate(290px, 18px);
  }
  48% {
    transform: translate(295px, 19px);
  }
  50% {
    transform: translate(300px, 20px);
  }
  52% {
    transform: translate(305px, 21px);
  }
  54% {
    transform: translate(310px, 22px);
  }
  56% {
    transform: translate(315px, 23px);
  }
  58% {
    transform: translate(320px, 24px);
  }
  60% {
    transform: translate(325px, 25px);
  }
  62% {
    transform: translate(330px, 26px);
  }
  64% {
    transform: translate(335px, 27px);
  }
  66% {
    transform: translate(340px, 28px);
  }
  68% {
    transform: translate(345px, 29px);
  }
  70% {
    transform: translate(350px, 30px);
  }
  72% {
    transform: translate(355px, 31px);
  }
  74% {
    transform: translate(360px, 32px);
  }
  76% {
    transform: translate(365px, 33px);
  }
  78% {
    transform: translate(370px, 34px);
  }
  80% {
    transform: translate(375px, 35px);
  }
  82% {
    transform: translate(380px, 36px);
  }
  84% {
    transform: translate(385px, 37px);
  }
  86% {
    transform: translate(390px, 38px);
  }
  88% {
    transform: translate(395px, 39px);
  }
  90% {
    transform: translate(400px, 40px);
  }
  92% {
    transform: translate(405px, 41px);
  }
  94% {
    transform: translate(410px, 42px);
  }
  96% {
    transform: translate(415px, 43px);
  }
  98% {
    transform: translate(420px, 44px);
  }
  100% {
    transform: translate(425px, 45px);
  }
}
@keyframes cuadratica {
  0% {
    transform: translate(175px, 156.25px);
  }
  2% {
    transform: translate(180px, 100px);
  }
  4% {
    transform: translate(185px, 56.25px);
  }
  6% {
    transform: translate(190px, 25px);
  }
  8% {
    transform: translate(195px, 6.25px);
  }
  10% {
    transform: translate(200px, 0px);
  }
  12% {
    transform: translate(205px, 6.25px);
  }
  14% {
    transform: translate(210px, 25px);
  }
  16% {
    transform: translate(215px, 56.25px);
  }
  18% {
    transform: translate(220px, 100px);
  }
  20% {
    transform: translate(225px, 156.25px);
  }
  22% {
    transform: translate(230px, 225px);
  }
  24% {
    transform: translate(235px, 306.25px);
  }
  26% {
    transform: translate(240px, 400px);
  }
  28% {
    transform: translate(245px, 506.25px);
  }
  30% {
    transform: translate(250px, 625px);
  }
  32% {
    transform: translate(255px, 756.25px);
  }
  34% {
    transform: translate(260px, 900px);
  }
  36% {
    transform: translate(265px, 1056.25px);
  }
  38% {
    transform: translate(270px, 1225px);
  }
  40% {
    transform: translate(275px, 1406.25px);
  }
  42% {
    transform: translate(280px, 1600px);
  }
  44% {
    transform: translate(285px, 1806.25px);
  }
  46% {
    transform: translate(290px, 2025px);
  }
  48% {
    transform: translate(295px, 2256.25px);
  }
  50% {
    transform: translate(300px, 2500px);
  }
  52% {
    transform: translate(305px, 2756.25px);
  }
  54% {
    transform: translate(310px, 3025px);
  }
  56% {
    transform: translate(315px, 3306.25px);
  }
  58% {
    transform: translate(320px, 3600px);
  }
  60% {
    transform: translate(325px, 3906.25px);
  }
  62% {
    transform: translate(330px, 4225px);
  }
  64% {
    transform: translate(335px, 4556.25px);
  }
  66% {
    transform: translate(340px, 4900px);
  }
  68% {
    transform: translate(345px, 5256.25px);
  }
  70% {
    transform: translate(350px, 5625px);
  }
  72% {
    transform: translate(355px, 6006.25px);
  }
  74% {
    transform: translate(360px, 6400px);
  }
  76% {
    transform: translate(365px, 6806.25px);
  }
  78% {
    transform: translate(370px, 7225px);
  }
  80% {
    transform: translate(375px, 7656.25px);
  }
  82% {
    transform: translate(380px, 8100px);
  }
  84% {
    transform: translate(385px, 8556.25px);
  }
  86% {
    transform: translate(390px, 9025px);
  }
  88% {
    transform: translate(395px, 9506.25px);
  }
  90% {
    transform: translate(400px, 10000px);
  }
  92% {
    transform: translate(405px, 10506.25px);
  }
  94% {
    transform: translate(410px, 11025px);
  }
  96% {
    transform: translate(415px, 11556.25px);
  }
  98% {
    transform: translate(420px, 12100px);
  }
  100% {
    transform: translate(425px, 12656.25px);
  }
}
@keyframes trigonometrica {
  0% {
    transform: translate(175px, 6.6175875px);
  }
  2% {
    transform: translate(180px, -45.64726254px);
  }
  4% {
    transform: translate(185px, -32.51439201px);
  }
  6% {
    transform: translate(190px, 27.20105554px);
  }
  8% {
    transform: translate(195px, 47.94621373px);
  }
  10% {
    transform: translate(200px, 0px);
  }
  12% {
    transform: translate(205px, -47.94621373px);
  }
  14% {
    transform: translate(210px, -27.20105554px);
  }
  16% {
    transform: translate(215px, 32.51439201px);
  }
  18% {
    transform: translate(220px, 45.64726254px);
  }
  20% {
    transform: translate(225px, -6.6175875px);
  }
  22% {
    transform: translate(230px, -49.4015812px);
  }
  24% {
    transform: translate(235px, -21.40913347px);
  }
  26% {
    transform: translate(240px, 37.25565802px);
  }
  28% {
    transform: translate(245px, 42.54517623px);
  }
  30% {
    transform: translate(250px, -13.11874269px);
  }
  32% {
    transform: translate(255px, -49.98775867px);
  }
  34% {
    transform: translate(260px, -15.24053106px);
  }
  36% {
    transform: translate(265px, 41.34143397px);
  }
  38% {
    transform: translate(270px, 38.69453408px);
  }
  40% {
    transform: translate(275px, -19.38908177px);
  }
  42% {
    transform: translate(280px, -49.6944327px);
  }
  44% {
    transform: translate(285px, -8.803781px);
  }
  46% {
    transform: translate(290px, 44.69983318px);
  }
  48% {
    transform: translate(295px, 34.16308574px);
  }
  50% {
    transform: translate(300px, -25.31828206px);
  }
  52% {
    transform: translate(305px, -48.52676418px);
  }
  54% {
    transform: translate(310px, -2.2121339px);
  }
  56% {
    transform: translate(315px, 47.2717667px);
  }
  58% {
    transform: translate(320px, 29.03055921px);
  }
  60% {
    transform: translate(325px, -30.80202296px);
  }
  62% {
    transform: translate(330px, -46.50529751px);
  }
  64% {
    transform: translate(335px, 4.41843431px);
  }
  66% {
    transform: translate(340px, 49.01198297px);
  }
  68% {
    transform: translate(345px, 23.3872581px);
  }
  70% {
    transform: translate(350px, -35.74382148px);
  }
  72% {
    transform: translate(355px, -43.66559914px);
  }
  74% {
    transform: translate(360px, 10.97126292px);
  }
  76% {
    transform: translate(365px, 49.88986397px);
  }
  78% {
    transform: translate(370px, 17.33247277px);
  }
  80% {
    transform: translate(375px, -40.05672976px);
  }
  82% {
    transform: translate(380px, -40.05763179px);
  }
  84% {
    transform: translate(385px, 17.331059px);
  }
  86% {
    transform: translate(390px, 49.88996393px);
  }
  88% {
    transform: translate(395px, 10.9727334px);
  }
  90% {
    transform: translate(400px, -43.66486486px);
  }
  92% {
    transform: translate(405px, -35.74487539px);
  }
  94% {
    transform: translate(410px, 23.38592592px);
  }
  96% {
    transform: translate(415px, 49.0122811px);
  }
  98% {
    transform: translate(420px, 4.41993562px);
  }
  100% {
    transform: translate(425px, -46.5047439px);
  }
}
@keyframes exponencial {
  0% {
    transform: translate(175px, 0.00629302);
  }
  2% {
    transform: translate(180px, 0.01734153);
  }
  4% {
    transform: translate(185px, 0.04778764);
  }
  6% {
    transform: translate(190px, 0.13168724);
  }
  8% {
    transform: translate(195px, 0.36288737);
  }
  10% {
    transform: translate(200px, 1);
  }
  12% {
    transform: translate(205px, 2.75567596);
  }
  14% {
    transform: translate(210px, 7.59375);
  }
  16% {
    transform: translate(215px, 20.92591433);
  }
  18% {
    transform: translate(220px, 57.66503906);
  }
  20% {
    transform: translate(225px, 158.90616191);
  }
  22% {
    transform: translate(230px, 437.89389038);
  }
  24% {
    transform: translate(235px, 1206.69366703);
  }
  26% {
    transform: translate(240px, 3325.25673008);
  }
  28% {
    transform: translate(245px, 9163.33003401);
  }
  30% {
    transform: translate(250px, 25251.16829404);
  }
  32% {
    transform: translate(255px, 69584.03744574);
  }
  34% {
    transform: translate(260px, 191751.05923288);
  }
  36% {
    transform: translate(265px, 528403.7843536);
  }
  38% {
    transform: translate(270px, 1456109.60604971);
  }
  40% {
    transform: translate(275px, 4012566.23743518);
  }
  42% {
    transform: translate(280px, 11057332.32094001);
  }
  44% {
    transform: translate(285px, 30470424.86552341);
  }
  46% {
    transform: translate(290px, 83966617.31213821);
  }
  48% {
    transform: translate(295px, 231384788.82256836);
  }
  50% {
    transform: translate(300px, 637621500.2140496);
  }
  52% {
    transform: translate(305px, 1757078240.1213784);
  }
  54% {
    transform: translate(310px, 4841938267.250439);
  }
  56% {
    transform: translate(315px, 13342812885.921719);
  }
  58% {
    transform: translate(320px, 36768468716.93302);
  }
  60% {
    transform: translate(325px, 101321985352.46805);
  }
  62% {
    transform: translate(330px, 279210559319.21014);
  }
  64% {
    transform: translate(335px, 769413826270.3042);
  }
  66% {
    transform: translate(340px, 2120255184830.252);
  }
  68% {
    transform: translate(345px, 5842736243240.123);
  }
  70% {
    transform: translate(350px, 16100687809804.727);
  }
  72% {
    transform: translate(355px, 44368278347104.68);
  }
  74% {
    transform: translate(360px, 122264598055704.62);
  }
  76% {
    transform: translate(365px, 336921613698326.2);
  }
  78% {
    transform: translate(370px, 928446791485507);
  }
  80% {
    transform: translate(375px, 2558498504021664.5);
  }
  82% {
    transform: translate(380px, 7050392822843069);
  }
  84% {
    transform: translate(385px, 19428598014914516);
  }
  86% {
    transform: translate(390px, 53538920498464560);
  }
  88% {
    transform: translate(395px, 147535916175757100);
  }
  90% {
    transform: translate(400px, 406561177535215200);
  }
  92% {
    transform: translate(405px, 1120350863459655400);
  }
  94% {
    transform: translate(410px, 3087323941908040700);
  }
  96% {
    transform: translate(415px, 8507664369396759000);
  }
  98% {
    transform: translate(420px, 23444366183864185000);
  }
  100% {
    transform: translate(425px, 64605076305106630000);
  }
}
@keyframes radical {
  0% {
    transform: translate(-25px, -25px);
  }
  2% {
    transform: translate(-20px, -20px);
  }
  4% {
    transform: translate(-15px, -15px);
  }
  6% {
    transform: translate(-10px, -10px);
  }
  8% {
    transform: translate(-5px, -5px);
  }
  10% {
    transform: translate(0px, 0px);
  }
  12% {
    transform: translate(5px, 5px);
  }
  14% {
    transform: translate(10px, 10px);
  }
  16% {
    transform: translate(15px, 15px);
  }
  18% {
    transform: translate(20px, 20px);
  }
  20% {
    transform: translate(25px, 25px);
  }
  22% {
    transform: translate(30px, 30px);
  }
  24% {
    transform: translate(35px, 35px);
  }
  26% {
    transform: translate(40px, 40px);
  }
  28% {
    transform: translate(45px, 45px);
  }
  30% {
    transform: translate(50px, 50px);
  }
  32% {
    transform: translate(55px, 55px);
  }
  34% {
    transform: translate(60px, 60px);
  }
  36% {
    transform: translate(65px, 65px);
  }
  38% {
    transform: translate(70px, 70px);
  }
  40% {
    transform: translate(75px, 75px);
  }
  42% {
    transform: translate(80px, 80px);
  }
  44% {
    transform: translate(85px, 85px);
  }
  46% {
    transform: translate(90px, 90px);
  }
  48% {
    transform: translate(95px, 95px);
  }
  50% {
    transform: translate(100px, 100px);
  }
  52% {
    transform: translate(105px, 105px);
  }
  54% {
    transform: translate(110px, 110px);
  }
  56% {
    transform: translate(115px, 115px);
  }
  58% {
    transform: translate(120px, 120px);
  }
  60% {
    transform: translate(125px, 125px);
  }
  62% {
    transform: translate(130px, 130px);
  }
  64% {
    transform: translate(135px, 135px);
  }
  66% {
    transform: translate(140px, 140px);
  }
  68% {
    transform: translate(145px, 145px);
  }
  70% {
    transform: translate(150px, 150px);
  }
  72% {
    transform: translate(155px, 155px);
  }
  74% {
    transform: translate(160px, 160px);
  }
  76% {
    transform: translate(165px, 165px);
  }
  78% {
    transform: translate(170px, 170px);
  }
  80% {
    transform: translate(175px, 175px);
  }
  82% {
    transform: translate(180px, 180px);
  }
  84% {
    transform: translate(185px, 185px);
  }
  86% {
    transform: translate(190px, 190px);
  }
  88% {
    transform: translate(195px, 195px);
  }
  90% {
    transform: translate(200px, 200px);
  }
  92% {
    transform: translate(205px, 205px);
  }
  94% {
    transform: translate(210px, 210px);
  }
  96% {
    transform: translate(215px, 215px);
  }
  98% {
    transform: translate(220px, 220px);
  }
  100% {
    transform: translate(225px, 225px);
  }
}
