@functions: 
	lineal, 
	cuadratica,
	trigonometrica, 
	exponencial, 
	radical;
@bg-folder: "../assets/img/";
@backgrounds: 
	"osx-high-sierra.jpg",
	"osx-mojave.jpg",
	"osx-leopard.png", 
	"osx-mountain-lion.jpg",
	"osx-lion.png", 
	"osx-sierra.jpg",
	"osx-mavericks.png", 
	"osx-snow-leopard.png",
	"osx-mojave-night.jpg";
/*mixins*/
	.normalize(
		@m: 0, 
		@p: 0, 
		@b: 0, 
		@o: 0, 
		@am: margin, 
		@ab: border, 
		@ap: padding, 
		@ao: outline
	){
		@{am}: @m;
		@{ao}: @o;
		@{ab}: @b;
		@{ap}: @p;
	}
	.cover(){
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
	}
/*cabecera*/
	#header{
		display: flex;
		justify-content: center;
		align-items: center;
		.normalize(@p: 1rem);
		position: relative;
		height: 100vw;
		max-height: 600px;
		.slide{
			.normalize;
			.cover;
			li{
				.cover;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				opacity: 0;
				z-index: -1;
				/*mixins nth-child*/
					.bg-images (@i: 1) when (@i <= length(@backgrounds)){
						@bg: extract(@backgrounds, @i);
						&:nth-child(@{i}){
							background-image: url("@{bg-folder}@{bg}");
						}
						.bg-images(@i + 1);
					}
				.bg-images;
				&.active{
					opacity: 1;
				}
			}
		}
		button{
			position: absolute;
			top:0;
			bottom: 0;
			.normalize(@p: 1rem);
			font-size: 2rem;
			color: #ccc;
			background-color: transparent;
			&.icon-prev{ left: 0 }
			&.icon-next{ right: 0 }
		}
	}
.example{
	.normalize(1rem 2rem, 1rem, .2rem solid #248, @ab:border-left);
	& > div {
			.normalize(.5rem, 1rem, .2rem solid whitesmoke);
			color: #ccc;
			background-color: darkslateblue;
			max-width: 250px;
			animation-direction: alternate;
			/*mixins nth-child*/
				.exdivs(@n:1) when (@n <=length(@functions)){
					@fn: extract(@functions, @n);
					&:nth-child(@{n}){
						animation: @fn 5s linear 3s * @n infinite;
					}
					@keyframes @fn {
						.animations(@x: -20px; @i: 0%) when (@i <= 100%){
							@{i}{
								transform:
									if(@fn = lineal, 
										translate(@x * 10px + 20px, @x * 10px + 200px),
									if(@fn = cuadratica,
										translate(@x * 10px + 20px, pow(@x,2)),
									if(@fn = trigonometrica,
										translate(@x * 10px + 20px, sin(@x) * 200px),
									if(@fn = exponencial,
										translate(@x * 10px + 20px, pow(1.2px, @x)),
										translate(@x, sqrt((@x + 25px)))
									)	)	)	);
								;
							}
							.animations(@x + 5; @i + 5);
						}
						.animations;
					}
					.exdivs(@n + 1);
				}
			.exdivs;
		}
}
/*selectores avanzados*/
	//atribute
	a[href="index.html"]:hover{
		background-color: darkslateblue;
	}
	//empieza con
	a[href^="http"]:hover{
		color: skyblue;
		transform: translate(0, .5rem);
	}
	//termina con
	a[href$="html"]:hover{
		color: limegreen;
		transform: translate(0, -.5rem);
	}
	//contiene
	a[href*="con"]:hover{
		color: #248;
		background-color: lightgrey
	}

	.button{
		display: block;
		margin: auto;
		width: 2rem;
		height: 2rem;
		background-color: blue;
		box-shadow: 0 0 black;
		&:hover{
			.shadows(@i: 0) when (@i <= 360){
				box-shadow+: sin(@i) * 30px cos(@i) * 30px .25rem hsl(@i, 50%, 50%);
				.shadows(@i + 30);
			}
			.shadows;
		}
	}