@keyframes intro{
    from{
        transform: 
            translateZ(30vh);
        opacity: .5;
    }
}
@keyframes entrance {
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes bounce{
    0%{

    }
    100%{

    }
}