/* Animaciones */
@keyframes intro{
    from{
        transform:
            scale(3)
            translateZ(10rem)
            translateY(10vh);
    }
}
@keyframes appear{
    from{
        transform:
            translateX(-5vw);
        opacity: 0;
    }
}
@keyframes headings {
    to{
        background-position: -500%;
    }
}

@keyframes scroll {
    to{
        transform: translate(calc(var(--size) * -11 + 2.5rem * 10));
    }
}

@keyframes clickme{
    from{
        transform: 
            rotate(-15deg)
            translateY(-.25rem);
    }
    to{
        transform: 
            rotate(15deg)
            translateY(-.25rem);
    }
}

@keyframes show {
    0%{
        opacity: 0;
        border: 5rem solid #333
    }
    100%{
        opacity: 1;
        border: 0;
    }
}