/* Animaciones */
@keyframes headings {
  to {
    background-position: -500%;
  }
}
@keyframes scroll {
  from {
    transform: translate(400%);
  }
  to {
    transform: translate(-1000%);
  }
}
@keyframes clickme {
  from {
    transform: rotate(-15deg) translateY(-0.25rem);
  }
  to {
    transform: rotate(15deg) translateY(-0.25rem);
  }
}