$windows-bg:
    "1",
    "10",
    "11",
    "3.1",
    "7",
    "8.1",
    "8",
    "95",
    "98-se",
    "me",
    "vista",
    "xp",
;
$ubuntu-bg: 
    "artful-aardvark",
    "bionic-beaver",
    "cosmic-cuttlefish",
    "disco-dingo",
    "eoan-ermine",
    "focal-fossa",
    "groovy-gorilla",
    "hisurte-hippo",
    "impish-Indri",
    "jammy-jellyfish",
;
$osx-bg: 
    "big-sur-dark",
    "big-sur-light",
    "big-sur-night",
    "big-sur",
    "catalina-night",
    "catalina",
    "el-capitan",
    "high-sierra",
    "leopard",
    "lion",
    "mavericks",
    "mojave-night",
    "mojave",
    "monterrey-dark",
    "monterrey-light",
    "mountain-lion",
    "sierra",
    "snow-leopard",
    "tiger",
    "yosemite",
;