.text-primary {
  color: #248;
}
.text-secondary {
  color: #999;
}
.text-success {
  color: #284;
}
.text-warning {
  color: #ca3;
}
.text-danger {
  color: #842;
}
.text-info {
  color: #3ac;
}
.text-light {
  color: #ddd;
}
.text-dark {
  color: #333;
}
.bg-primary {
  background-color: #248;
}
.bg-secondary {
  background-color: #999;
}
.bg-success {
  background-color: #284;
}
.bg-warning {
  background-color: #ca3;
}
.bg-danger {
  background-color: #842;
}
.bg-info {
  background-color: #3ac;
}
.bg-light {
  background-color: #ddd;
}
.bg-dark {
  background-color: #333;
}
.b-primary {
  border-color: #248;
}
.b-secondary {
  border-color: #999;
}
.b-success {
  border-color: #284;
}
.b-warning {
  border-color: #ca3;
}
.b-danger {
  border-color: #842;
}
.b-info {
  border-color: #3ac;
}
.b-light {
  border-color: #ddd;
}
.b-dark {
  border-color: #333;
}
