.text-blue {
  color: var(--bs-blue);
}

.text-indigo {
  color: var(--bs-indigo);
}

.text-purple {
  color: var(--bs-purple);
}

.text-pink {
  color: var(--bs-pink);
}

.text-red {
  color: var(--bs-red);
}

.text-orange {
  color: var(--bs-orange);
}

.text-yellow {
  color: var(--bs-yellow);
}

.text-green {
  color: var(--bs-green);
}

.text-teal {
  color: var(--bs-teal);
}

.text-cyan {
  color: var(--bs-cyan);
}

.text-black {
  color: var(--bs-black);
}

.text-white {
  color: var(--bs-white);
}

.bg-blue {
  background-color: var(--bs-blue);
}

.bg-indigo {
  background-color: var(--bs-indigo);
}

.bg-purple {
  background-color: var(--bs-purple);
}

.bg-pink {
  background-color: var(--bs-pink);
}

.bg-red {
  background-color: var(--bs-red);
}

.bg-orange {
  background-color: var(--bs-orange);
}

.bg-yellow {
  background-color: var(--bs-yellow);
}

.bg-green {
  background-color: var(--bs-green);
}

.bg-teal {
  background-color: var(--bs-teal);
}

.bg-cyan {
  background-color: var(--bs-cyan);
}

.bg-black {
  background-color: var(--bs-black);
}

.bg-white {
  background-color: var(--bs-white);
}

.caret-blue {
  caret-color: var(--bs-blue);
}

.caret-indigo {
  caret-color: var(--bs-indigo);
}

.caret-purple {
  caret-color: var(--bs-purple);
}

.caret-pink {
  caret-color: var(--bs-pink);
}

.caret-red {
  caret-color: var(--bs-red);
}

.caret-orange {
  caret-color: var(--bs-orange);
}

.caret-yellow {
  caret-color: var(--bs-yellow);
}

.caret-green {
  caret-color: var(--bs-green);
}

.caret-teal {
  caret-color: var(--bs-teal);
}

.caret-cyan {
  caret-color: var(--bs-cyan);
}

.caret-black {
  caret-color: var(--bs-black);
}

.caret-white {
  caret-color: var(--bs-white);
}

.border-blue {
  border-color: var(--bs-blue);
}

.border-indigo {
  border-color: var(--bs-indigo);
}

.border-purple {
  border-color: var(--bs-purple);
}

.border-pink {
  border-color: var(--bs-pink);
}

.border-red {
  border-color: var(--bs-red);
}

.border-orange {
  border-color: var(--bs-orange);
}

.border-yellow {
  border-color: var(--bs-yellow);
}

.border-green {
  border-color: var(--bs-green);
}

.border-teal {
  border-color: var(--bs-teal);
}

.border-cyan {
  border-color: var(--bs-cyan);
}

.border-black {
  border-color: var(--bs-black);
}

.border-white {
  border-color: var(--bs-white);
}

.shade-blue {
  --shade:var(--bs-blue);
}

.shade-indigo {
  --shade:var(--bs-indigo);
}

.shade-purple {
  --shade:var(--bs-purple);
}

.shade-pink {
  --shade:var(--bs-pink);
}

.shade-red {
  --shade:var(--bs-red);
}

.shade-orange {
  --shade:var(--bs-orange);
}

.shade-yellow {
  --shade:var(--bs-yellow);
}

.shade-green {
  --shade:var(--bs-green);
}

.shade-teal {
  --shade:var(--bs-teal);
}

.shade-cyan {
  --shade:var(--bs-cyan);
}

.shade-black {
  --shade:var(--bs-black);
}

.shade-white {
  --shade:var(--bs-white);
}

.shadow-blue {
  --shadow:var(--bs-blue);
}

.shadow-indigo {
  --shadow:var(--bs-indigo);
}

.shadow-purple {
  --shadow:var(--bs-purple);
}

.shadow-pink {
  --shadow:var(--bs-pink);
}

.shadow-red {
  --shadow:var(--bs-red);
}

.shadow-orange {
  --shadow:var(--bs-orange);
}

.shadow-yellow {
  --shadow:var(--bs-yellow);
}

.shadow-green {
  --shadow:var(--bs-green);
}

.shadow-teal {
  --shadow:var(--bs-teal);
}

.shadow-cyan {
  --shadow:var(--bs-cyan);
}

.shadow-black {
  --shadow:var(--bs-black);
}

.shadow-white {
  --shadow:var(--bs-white);
}

.outline-blue {
  outline-color: var(--bs-blue);
}

.outline-indigo {
  outline-color: var(--bs-indigo);
}

.outline-purple {
  outline-color: var(--bs-purple);
}

.outline-pink {
  outline-color: var(--bs-pink);
}

.outline-red {
  outline-color: var(--bs-red);
}

.outline-orange {
  outline-color: var(--bs-orange);
}

.outline-yellow {
  outline-color: var(--bs-yellow);
}

.outline-green {
  outline-color: var(--bs-green);
}

.outline-teal {
  outline-color: var(--bs-teal);
}

.outline-cyan {
  outline-color: var(--bs-cyan);
}

.outline-black {
  outline-color: var(--bs-black);
}

.outline-white {
  outline-color: var(--bs-white);
}