.numbers{
    counter-reset: numbers;
}
.counter::before{
    content: 'Combo ' counter(numbers) ": ";
    counter-increment: numbers;
}
li:hover :is(
    .counter,
    svg,
    .shake
){
    transform-origin: 10rem;
    animation: shake .15s linear alternate-reverse infinite;
}
.shake{
    animation-delay: .1s;
}
svg > rect{
    transform-origin: bottom center;
}