/* Tarjetas de presentacion */
.card{
    margin: 1rem .5rem;
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: -.1rem .1rem .25rem #666;
    overflow: hidden;
}
.card-header{
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    color: #eee;
    background-color: #012;
}
/* Degradados de color */
.orange-gradient{
    background: linear-gradient(to right, #c62, darkorange);
}