/*content*/
    main{
        padding: .5rem;
    }
    main .header,
    main section{
        margin: var(--m);
    }
    main .header{
        --m: -1rem -1rem .5rem;
        padding: 1rem;
    }
/* examples */
    .example{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%,100px), 420px));
        gap: .5rem;
        margin: .5rem min(2vw, 5rem);
        padding: 1rem 1.25rem;
        background-color: #eee;
        list-style: none;
        overflow: hidden;
    }
    .example::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: .25rem;
        background: 
            linear-gradient(#36c, #448, #c36)
            0%/200% 200% no-repeat; /* color image position/size repeat */
        transition: all 1s linear;
    }
    .example:hover::before{
        background-position: 0 100%;
    }
    .example :is(img, video, progress, meter){
        width: 100%;
        object-fit: contain;
    }
/* Transformaciones */
    [class*="transform-"]{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 100px;
    }
    [class*="transform-"] div{
        border: .1rem dashed #333;
        padding: .5rem;
        color: #eee;
        background-color: #c36;
        opacity: .8;
        transition: all 3s ease 1s; /* property duration timing delay*/
    }
    /* 2d */
    .transform-2d div:nth-child(1){
        transform: translate( 1rem, 50%);
    }
    .transform-2d div:nth-child(2){
        transform: scale(1.2);
    }
    .transform-2d div:nth-child(3){
        transform: rotate(-15deg);
    }
    .transform-2d div:nth-child(4){
        transform: skewX(30deg);
    }
    .transform-2d div:nth-child(5){
        transform: skew(-45deg, 45deg);
    }
    /* 3d */
    .transform-3d{
        perspective: 300px;
        perspective-origin: top center;
    }
    .transform-3d div:nth-child(1){
        transform: rotateX(60deg);
    }
    .transform-3d div:nth-child(2){
        transform: rotateY(60deg);
    }
    .transform-3d div:nth-child(3){
        transform: translateZ(3rem);
    }
    .transform-3d div:nth-child(4){
        transform: rotateX(15deg) rotateY(30deg) translateZ(-3rem);
    }

    [class*="transform-"]:hover div{
        transform: translate(.25rem, .5rem);
    }
/* animaciones */
    .animation{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .animation div{
        margin: .5rem;
        border-radius: 0 1rem 1rem 0;
        padding: 1rem .5rem;
        color: #eee;
        background: radial-gradient(circle at top right, #c36, #448);
        box-shadow: -.5rem .5rem .25rem #333;
    }
    /* timing */
    .animation div{
        animation-name: translate;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
    }
    .timing :nth-child(1){
        animation-timing-function: ease;
    }
    .timing :nth-child(2){
        animation-timing-function: ease-in;
    }
    .timing :nth-child(3){
        animation-timing-function: ease-out;
    }
    .timing :nth-child(4){
        animation-timing-function: ease-in-out;
    }
    .timing :nth-child(5){
        animation-timing-function: linear;
    }
    .timing :nth-child(6){
        animation-timing-function: cubic-bezier(0,1,1,-1);
    }
    /* direction */
    .direction div{
        border-radius: 5rem 10px / 100% 5vw; /* x/y */
        text-align: center;
    }
    .direction :nth-child(1){
        animation-direction: normal;
    }
    .direction :nth-child(2){
        animation-direction: reverse;
    }
    .direction :nth-child(3){
        animation-direction: alternate;
    }
    .direction :nth-child(4){
        animation-direction: alternate-reverse;
    }
    /*ejemplos animaciones*/
    .loading div{
        display: inline-block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: .5rem solid;
        border-color: #8ff #48f #36c #248;
        animation: loading 1s infinite;
    }
    .background{
        min-height: 300px;
        border: .1rem solid #eee;
        background:
            linear-gradient(
                to right,
                hsl(0, 50%, 50%),
                hsl(60, 50%, 50%),
                hsl(120, 50%, 50%),
                hsl(180, 50%, 50%),
                hsl(240, 50%, 50%),
                hsl(300, 50%, 50%),
                hsl(360, 50%, 50%)
            ) -600%/600%; /*color image position/size repeat*/
        animation: bg 600s linear infinite;
    }
    .movit{
        position: relative;
        display: block;
        min-height: 300px;
    }
    .movit .item{
        max-width: 4rem;
        min-height: 4rem;
        margin: .5rem;
        padding: 1rem;
        border: .1rem solid #333;
        animation: movit 10s infinite;
        animation-play-state: paused;
    }
    .movit .btn{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
/* fotogramas */
    @keyframes translate{
        from{
            transform: translate(calc(min(50vw, 540px) * -1));
        }
        to{
            transform: translate(min(50vw, 540px));
        }
    }
    @keyframes loading{
        to{ 
            transform: rotate(360deg);
        }
    }
    @keyframes bg{
        from{
            background-position: 0;
        }
    }
    @keyframes movit{
        0%{
            transform: 
                translate(0, 0)
                skew(15deg, 0);
            background-color:hsl(0, 50%, 50%);
        }
        25%{
            transform: 
                translate(50vw, 0)
                skew(0, 15deg);
            background-color:hsl(90, 50%, 50%);
        }
        50%{
            transform: 
                translate(50vw, 200px)
                skew(-15deg, 0);
            background-color: hsl(180, 50%, 50%);
        }
        75%{
            transform: 
                translate(0, 200px)
                skew(0, -15deg);
            background-color: hsl(270, 50%, 50%);
        }
        100%{
            transform: 
                translate(0, 0)
                skew(15deg, 0);
            background-color: hsl(0, 50%, 50%);
        }
    }
/* pantallas sm */
@media screen and (min-width: 576px){
    main .header,
    main section{
        --width: 540px;
        padding: 1rem calc(50vw - var(--width)/2);
    }
    main .header{
        width: 100vw;
        transform: translateX(calc(-50vw + var(--width)/2));
    }
}
/* pantallas md */
@media screen and (min-width: 768px){
    main .header,
    main section{
        --width: 720px;
    }
}
/* pantallas lg */
@media screen and (min-width: 992px){
    main .header,
    main section{
        --width: 960px;
    }
}