.card{
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 0 0 .5rem #999;
    overflow: hidden;
}

.card-header{
    display: block;
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    background-image: linear-gradient(
        #6288, /* HEX: RRGGBBAA | DEC: rgba(102, 34, 136, .55) */
        #a8c8
    )
}
/* Pseudoclases: Caracteristicas o Instancias de un Elemento */
    .card:hover{
        background-color: #eee;
    }
    .card:first-child .card-header{ /* que sea el primer hijo*/
        background-color: hsl(30, 50%, 50%);
    }
    .card:nth-child(3) .card-header{ /* que sea el numero de hijo N */
        background-color: rgb(248, 204, 51);
    }
    .card:last-child .card-header{ /* que sea el ultimo hijo*/
        background-color: #333c;
    }
/* Pseudoelementos: Parte o elemento dentro de Otro */
    .card::first-letter{ /* Primer Letra del Contenido*/
        font-size: 2rem;
        line-height: 1rem;
        letter-spacing: .1rem;
    }
    .card::first-line{ /* Primera Linea del contenido */
        color: #eee;
        text-shadow: 
            0 0 .25rem #c368, 
            -.2rem .2rem .2rem #333;
    }