$icons: 
    toggle  "☰",
    close   "×",
    prev    "<",
    next    ">",
    copy    "©",
    plus    "+",
    less    "-",
    up      "↑",
    down    "↓",
    left    "←",
    right   "→",
    check   "✓",
    cross   "✗",
    expand  "⤢",
    shrink  "↙",
;
$sizes: small 240px, medium 360px, large 480px, xlarge 640px;
$boxes: 
    m margin,
    g gap,
    br border-radius,
    b border-width,
    p padding,
    o outline-width;

$display: inline, inline-block, block, flex, grid, table;

@each $d in $display{ .d-#{$d}{ display: #{$d}; } }
@each $name, $value in $sizes{
    .#{$name}{
        --size: #{$value};
    }
}
@each $name, $icon in $icons{
    .icon-#{$name}::before{
        content: $icon;
} }
@each $prop, $attr in $boxes{
    @for $i from 0 through 10{
        .#{$prop}-#{$i}{
            #{$attr}: #{$i * 0.25}rem;
}}}
*{
    box-sizing: border-box;
}
body{
    @extend .m-0;
    display: grid;
    grid-template-areas: "header" "main" "footer" "nav";
    #header{
        grid-area: header;
    }
    #nav{
        grid-area: nav;
    }
    #root{
        grid-area: main;
    }
    #footer{
        grid-area: footer;
    }
}
.unstyled{
    @extend .m-0, .p-0;
    list-style: none;
}
.cover{
    width: 100%;
    height: 100%;
}
h1{
    @extend .m-0;
}
.gallery{
    position: relative;
    min-height: min(100vh, 640px);
    &-list{
        @extend .unstyled;
    }
    &-item{
        @extend .cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.active{
            opacity: 1;
        }
        img{
            @extend .cover;
            object-fit: cover;
        }
    }
    button{
        @extend .p-7, .b-0;
        position: absolute;
        top: 0;
        bottom: 0;
        color: #eee;
        background-color: transparent;
        font-size: min(calc(5vw + .5rem), 5rem);
        opacity: .5;
        transition: all 1s ease;
        &:hover{
            opacity: .8;
        }
        &.icon{
            &-prev{
                left: 0;
            }
            &-next{
                right: 0;
            }
        }
    }
    .controls{
        @extend .p-2, .g-2;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            @extend .p-3, .br-3;
            position: static;
            background-color: #ccc;
            &.active{
                padding: .75rem 2.25rem;
            }
        }
    }

    // Galeria alternativa
    &-alt{
        @extend .g-2;
        .box-item{
            @extend .br-2, .p-0;
            overflow: hidden;
            position: relative;
            transition: all .5s ease;
            &.active{
                position: fixed;
                z-index: 1;
                animation: appear 1s ease;
                animation-fill-mode: forwards;
            }
        }
        img{
            @extend .cover;
            object-fit: contain;
        }
        button{
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}
.header{
    position: relative;
    z-index: 1;
    color: #eee;
    text-shadow: 0 0 .25rem #333;
}
#header{
    .header{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#nav{
    @extend .p-3;
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background: linear-gradient(#248, #648);
    a{
        color: #ccc;
        text-decoration: none;
    }
    .navigation{
        @extend .m-0, .p-0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        list-style: none;
        transition: .5s linear;
        &.active{
            max-height: 100vh;
        }
    }
}

#footer{
    position: relative;
    min-height: min(100vh, 320px);
    .map{
        iframe{
            @extend .cover, .b-0;
            position: absolute;
            top: 0;
            left: 0;
            &.active,
            & + .icon-shrink{
                position: fixed;
                opacity: .9;
                z-index: 1;
            }
        }
        button{
            @extend .br-3, .b-0, .p-3;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

.auto{
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--size)), 1fr));
    & > *{
        flex: 1 0 min(100%, var(--size));
    }
}

@keyframes appear{
    from{
        top: 0;
        left: 0;
        transform: 
            scale(0.001)
            translate(0,0);
    }
    to{
        top: 50%;
        left: 50%;
        transform: 
            scale(1) 
            translate(-50%, -50%);
    }
}