/* Reglas Generales */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Raleway');
@import url('general.css');
@import url('icons.css');
/* Cabecera */
@import url('header.css');
/* Navegacion */
@import url('navigation.css');
/* Contenido */
@import url('section.css');
@import url('galleries.css');
@import url('animations.css');
/* Pie de Pagina */
@import url('footer.css');
