/* Reglas Generales */
    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&family=Raleway');
    * {
        font-family: 'Ubuntu', 'segoe ui', sans-serif;
        scroll-behavior: smooth;
    }
    /* Margenes */
    body,
    h1,
    h2,
    h3,
    header p,
    .example figure,
    #header,
    .menu{
        margin: 0;
    }
    /* Bordes */
    iframe{
        border: 0;
    }
    /* Estilos */
    .example,
    .menu{
        list-style: none;
    }
    .social a,
    .menu a{
        text-decoration: none;
    }
    .text-end{
        text-align: right;
    }
/* Navegacion */
    .menu{
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 8px;
        background-color: #224;
    }
    .menu a{
        color: #aaa;
    }
    .menu a.active,
    .menu a:hover{
        color: #eee;
        text-shadow: 0 0 4px; /* -x+ -y+ blur color */
    }
/* Cabecera */
    #header{
        padding: min(20%, 240px) 16px; /* top right bottom left*/
        text-align: center;
        background-image: url('../assets/bg/osx-mojave-night.jpg');
        background-position: center; /* x y | top bottom right left center */
        background-size: cover; /* width height | contain cover */
    }
    .header{
        margin: -1rem -1rem 0; /* top right bottom left*/
        padding: 16px;
        color: #eee;
        background-color: #224;
    }
    header{
        color: #224;
        border-bottom: 2px solid;
    }
/* Contenido */
    main{
        max-width: 1320px;
        margin: auto;
        padding: .5rem; /* Root EM (Ancho de "M" en la raiz <HTML>) default: 16px */
    }
    .card,
    article{
        margin: 1.5rem 0;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 .25rem #999;
        overflow: hidden;
    }
    /* Seccion de Ejemplo */
    .example{
        max-width: 720px;
        margin: 16px auto;
        border-left: 4px solid #224; /* width style color */
        padding: 16px;
        background-color: #eee;
        line-height: 1.5;
    }
    .container{
        display: flex;
        gap: 8px;
        overflow: auto;
    }
    /* Contenido Multimedia */
    iframe,
    video{
        width: 100%;
        height: calc(100% - 16px);
        background-color: black;
        object-fit: cover;
    }
    figure{
        min-width: min(100%, 640px);
        min-height: 376px;
        /*  ratio   width       height      example
            4:3     1.33(h)     75%(w)      640x480
            16:9    1.78(h)     56.25%(w)   640x360
            16:10   1.6(h)      62.5%(w)    640x400
        */
    }
    /* Tablas */
    th,
    td{
        width: 100px;
    }
    th,
    td,
    table caption{
        padding: 8px;
    }
    table caption{
        border-radius: 8px 8px 0 0; /*topleft topright bottomright bottomleft*/
    }
    .classic{
        border-collapse: collapse;
    }
    .classic caption,
    .classic th,
    .classic td{
        border: 2px solid #448;
    }
    .classic caption{
        border-bottom: none;
    }
    .modern,
    .modern caption,
    .modern tr,
    .modern td{
        color: #eee;
        background-color: rgba(68, 68, 136, .5);
    }
    .semantic thead{
        background-color: #c33;
    }
    .semantic tbody{
        background-color: #3c6;
    }
    .semantic tfoot{
        background-color: #248;
    }
/* Pie de Pagina */

    /* Formulario de Contacto */
    #contact{
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: auto;
        padding: .5rem;
    }
    input,
    textarea,
    select{
        margin-bottom: 8px;
        padding: 8px; /* top right bottom left */
        font-size: 16px;
    }
    textarea{
        resize: vertical;
        min-height: 64px;
    }
    .btn{
        border-radius: 4px;
        border: 1px solid #224; /* width style color */
        color: #eee;
        background-color: #224;
    }
    .btn:hover{
        background-color: #668;
    }
    /* Redes Sociales */
    .social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: .5rem;
        padding: 1rem;
    }
    .social a{
        width: 4rem;
        height: 4rem;
        border-radius: .5rem;
        background-color: #ccc;
        background-position: center;
        background-size: 2.5rem;
        background-repeat: no-repeat;
    }
    .social a:hover{
        background-color: #eee;
        background-size: 3rem;
        box-shadow: 0 .25rem .5rem #333;
    }
    /* Iconos redes sociales */
    .facebook{
        background-image: url('../assets/icon/facebook.svg');
    }
    .instagram{
        background-image: url('../assets/icon/instagram.svg');
    }
    .twitter{
        background-image: url('../assets/icon/twitter.svg');
    }
    .whatsapp{
        background-image: url('../assets/icon/whatsapp.svg');
    }
    .youtube{
        background-image: url('../assets/icon/youtube.svg');
    }
    .linkedin{
        background-image: url('../assets/icon/linkedin.svg');
    }
    .github{
        background-image: url('../assets/icon/github.svg');
    }
    /* Mapa de Contacto */
    #footer iframe{
        min-height: 320px;
    }