.animacion div {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
}
.animacion div:nth-child(1) {
  animation: lineal 2s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.animacion div:nth-child(2) {
  animation: cuadratica 2s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.animacion div:nth-child(3) {
  animation: trigonometrica 2s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.animacion div:nth-child(4) {
  animation: exponencial 2s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes lineal {
  0% {
    transform: translate(-80px, -20px);
  }
  10% {
    transform: translate(-64px, -16px);
  }
  20% {
    transform: translate(-48px, -12px);
  }
  30% {
    transform: translate(-32px, -8px);
  }
  40% {
    transform: translate(-16px, -4px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(16px, 4px);
  }
  70% {
    transform: translate(32px, 8px);
  }
  80% {
    transform: translate(48px, 12px);
  }
  90% {
    transform: translate(64px, 16px);
  }
  100% {
    transform: translate(80px, 20px);
  }
}
@keyframes cuadratica {
  0% {
    transform: translate(380px, 200px);
  }
  10% {
    transform: translate(384px, 128px);
  }
  20% {
    transform: translate(388px, 72px);
  }
  30% {
    transform: translate(392px, 32px);
  }
  40% {
    transform: translate(396px, 8px);
  }
  50% {
    transform: translate(400px, 0px);
  }
  60% {
    transform: translate(404px, 8px);
  }
  70% {
    transform: translate(408px, 32px);
  }
  80% {
    transform: translate(412px, 72px);
  }
  90% {
    transform: translate(416px, 128px);
  }
  100% {
    transform: translate(420px, 200px);
  }
}
@keyframes trigonometrica {
  0% {
    transform: translate(200px, -91px);
  }
  10% {
    transform: translate(280px, 29px);
  }
  20% {
    transform: translate(360px, 54px);
  }
  30% {
    transform: translate(440px, -99px);
  }
  40% {
    transform: translate(520px, 76px);
  }
  50% {
    transform: translate(600px, 0px);
  }
  60% {
    transform: translate(680px, -76px);
  }
  70% {
    transform: translate(760px, 99px);
  }
  80% {
    transform: translate(840px, -54px);
  }
  90% {
    transform: translate(920px, -29px);
  }
  100% {
    transform: translate(1000px, 91px);
  }
}
@keyframes exponencial {
  0% {
    transform: translate(180px, 0px);
  }
  10% {
    transform: translate(184px, 0px);
  }
  20% {
    transform: translate(188px, 0px);
  }
  30% {
    transform: translate(192px, 0px);
  }
  40% {
    transform: translate(196px, 0px);
  }
  50% {
    transform: translate(200px, 1px);
  }
  60% {
    transform: translate(204px, 5px);
  }
  70% {
    transform: translate(208px, 26px);
  }
  80% {
    transform: translate(212px, 130px);
  }
  90% {
    transform: translate(216px, 657px);
  }
  100% {
    transform: translate(220px, 3325px);
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 6.25%;
  }
  .col-sm-2 {
    width: 12.5%;
  }
  .col-sm-3 {
    width: 18.75%;
  }
  .col-sm-4 {
    width: 25%;
  }
  .col-sm-5 {
    width: 31.25%;
  }
  .col-sm-6 {
    width: 37.5%;
  }
  .col-sm-7 {
    width: 43.75%;
  }
  .col-sm-8 {
    width: 50%;
  }
  .col-sm-9 {
    width: 56.25%;
  }
  .col-sm-10 {
    width: 62.5%;
  }
  .col-sm-11 {
    width: 68.75%;
  }
  .col-sm-12 {
    width: 75%;
  }
  .col-sm-13 {
    width: 81.25%;
  }
  .col-sm-14 {
    width: 87.5%;
  }
  .col-sm-15 {
    width: 93.75%;
  }
  .col-sm-16 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 6.25%;
  }
  .col-md-2 {
    width: 12.5%;
  }
  .col-md-3 {
    width: 18.75%;
  }
  .col-md-4 {
    width: 25%;
  }
  .col-md-5 {
    width: 31.25%;
  }
  .col-md-6 {
    width: 37.5%;
  }
  .col-md-7 {
    width: 43.75%;
  }
  .col-md-8 {
    width: 50%;
  }
  .col-md-9 {
    width: 56.25%;
  }
  .col-md-10 {
    width: 62.5%;
  }
  .col-md-11 {
    width: 68.75%;
  }
  .col-md-12 {
    width: 75%;
  }
  .col-md-13 {
    width: 81.25%;
  }
  .col-md-14 {
    width: 87.5%;
  }
  .col-md-15 {
    width: 93.75%;
  }
  .col-md-16 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 6.25%;
  }
  .col-lg-2 {
    width: 12.5%;
  }
  .col-lg-3 {
    width: 18.75%;
  }
  .col-lg-4 {
    width: 25%;
  }
  .col-lg-5 {
    width: 31.25%;
  }
  .col-lg-6 {
    width: 37.5%;
  }
  .col-lg-7 {
    width: 43.75%;
  }
  .col-lg-8 {
    width: 50%;
  }
  .col-lg-9 {
    width: 56.25%;
  }
  .col-lg-10 {
    width: 62.5%;
  }
  .col-lg-11 {
    width: 68.75%;
  }
  .col-lg-12 {
    width: 75%;
  }
  .col-lg-13 {
    width: 81.25%;
  }
  .col-lg-14 {
    width: 87.5%;
  }
  .col-lg-15 {
    width: 93.75%;
  }
  .col-lg-16 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 6.25%;
  }
  .col-xl-2 {
    width: 12.5%;
  }
  .col-xl-3 {
    width: 18.75%;
  }
  .col-xl-4 {
    width: 25%;
  }
  .col-xl-5 {
    width: 31.25%;
  }
  .col-xl-6 {
    width: 37.5%;
  }
  .col-xl-7 {
    width: 43.75%;
  }
  .col-xl-8 {
    width: 50%;
  }
  .col-xl-9 {
    width: 56.25%;
  }
  .col-xl-10 {
    width: 62.5%;
  }
  .col-xl-11 {
    width: 68.75%;
  }
  .col-xl-12 {
    width: 75%;
  }
  .col-xl-13 {
    width: 81.25%;
  }
  .col-xl-14 {
    width: 87.5%;
  }
  .col-xl-15 {
    width: 93.75%;
  }
  .col-xl-16 {
    width: 100%;
  }
}
a[href^="http"] {
  color: #248;
  background-color: #ccc;
}
a[href$=".html"] {
  color: #333;
  background-color: #48f;
}
a[href*="whatsapp"] {
  color: white;
  background-color: limegreen;
}
a[href="https://facebook.com"] {
  color: #ccc;
  background-color: #248;
}
