
@funciones: lineal, cuadratica, trigonometrica, exponencial;
.style(){
	width:50px;
	height: 50px;
	border:1px solid black;
	line-height: 50px;
	text-align: center;
}
.animacion div{
	.style();
	.animaciones (@i:1) when (@i <= length(@funciones)){
		&:nth-child(@{i}){
			animation: extract(@funciones, @i) 2s ease-in;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
		}
		.animaciones(@i + 1);
	}
	.animaciones;
}

.key (@n:1) when (@n <= length(@funciones)){
	@f: extract(@funciones, @n);
	@keyframes @f{
		.porcentajes(@i:0%; @x:-20px) when (@i <= 100%){
			@{i}{
				transform: 
					if( @f = lineal, translate( @x * 4, @x), // y = x + b
					if( @f = cuadratica, translate( @x + 400px, pow(@x, 2)/2 ), // y = ax^2+bx+c
					if(	@f = trigonometrica, translate(@x * 20px + 600px, round(sin(@x) * 100px)),//y = sin(x)
						translate(@x + 200px, round(pow(1.5px, @x))) //y = n^x
						)));
			} 
			.porcentajes(@i + 10; @x + 4);
		}	
		.porcentajes;
	}
	.key(@n + 1);
}
.key;

@vw: 576px, 768px, 992px, 1200px;
@vname: sm, md, lg, xl;

.media (@i:1) when (@i <= length(@vw)){
	@media screen and (min-width: extract(@vw, @i)){
		.responsive (@c:1, @n: 16) when (@c <= @n){
			@vn: extract(@vname, @i);
			.col-@{vn}-@{c}{
				width: percentage( @c / @n );
			}
			.responsive(@c + 1);
		}
		.responsive;
	}
	.media(@i + 1);
}
.media;


a[href^="http"]{
	color:#248;
	background-color: #ccc;
}
a[href$=".html"]{
	color:#333;
	background-color: #48f;
}
a[href*="whatsapp"]{
	color:white;
	background-color:limegreen;
}
a[href="https://facebook.com"]{
	color:#ccc;
	background-color: #248;
}