@import "intro.less";

@funciones: lineal, cuadratica, trigonometrica, exponencial;
.style(){
	width:50px;
	height: 50px;
	border:1px solid black;
	line-height: 50px;
	text-align: center;
}
.animacion div{
	.style();
	.animaciones (@i:1) when (@i <= length(@funciones)){
		&:nth-child(@{i}){
			animation: extract(@funciones, @i) 2s ease-in;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
		}
		.animaciones(@i + 1);
	}
	.animaciones;
}

@keyframes lineal{
	.animation (@x:0px; @i:0%) when (@i <= 100%){
		@{i}{
			transform:
				translate(
					@x,
					@x / 2
				);
		}
		.animation(@x + 5; @i + 10);
	}
	.animation(5px);
}

@keyframes cuadratica {
	.animation (@x:0px; @i:0%) when (@i <= 100%){
		@{i}{
			transform:
				translate(
					@x + 100px,
					pow(@x, 2)
				);
		}
		.animation(@x + 3, @i + 10)
	}
	.animation(-15px);
}