@font-face{
    font-family: "Campana";
    src: url("../assets/font/CampanaScript.otf");
}
@font-face {
    font-family: "Amarillo";
    src: url("../assets/font/Amarillo.ttf");
}
/* EXPLICACION:
    SRC: indica donde esta ubicado el recurso y el formato del mismo
    COMPATIBILIDAD
    * OTF Open Type Font
    * TTF True Type Font
    * EOT Ethernet Open Type
    * WOFF Web Open Font File
    FONT-FAMILY: Corresponde al nombre con el que identificamos la fuente de Fantasia
*/