#footer{
    position: relative;
    padding: 5rem 0 1rem; /* top right bottom left */
    background: radial-gradient(
        /* forma y direccion */
        circle at center,
        /*colores*/
        hsla(30,60%,60%, .8), /* hsl (tono, saturacion, brillo)*/
        hsla(0,60%,40%, .8)
    );
}
/* Mapa de contacto */
    .cover{
        position: absolute;
        /*  Su referente es primer ancestro no STATIC
            si no existe utiliza al elemento raiz
            su ubicacion es la predeterminada
            permanece fuera del FLOW
        */
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .btn.map{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .icon-plus::before{
        content: '+'
    }
    .icon-less::before{
        content: '-'
    }
/* Formulario */
#contact{
    max-width: 720px;
    display: grid;
    margin: auto;
    border-radius: .5rem;
    padding: 1.5rem 2rem 1rem;
    background: linear-gradient(#eeea, #eee8);
}
.validate{
    --color: var(dark);
    max-height: 0;
    margin: 0;
    overflow: hidden;
    font-size: .8rem;
    color: var(--color);
}
label{
    margin-top: .5rem;
}
input,
textarea,
select{
    --color: var(--dark);
    outline: none;
    border-radius: .25rem;
    border: .1rem solid var(--color);
    padding: .25rem .5rem;
    box-shadow: 0 0 .25rem var(--color);
}
textarea{
    resize: vertical;
    min-height: 5rem;
}
.btn{
    position: relative;
    /*  El elemento es su propio referente 
        se desplaza con respecto a si misma
        Permanece dentro del FLOW
    */
    border-radius: .25rem;
    color: var(--color);
    border: 1px solid var(--dark);
    background-color: var(--bg);
    font-size: 1.25rem;
    text-transform: uppercase;
}
#contact .btn{
    --color: var(--dark);
    --bg: transparent;
    margin: .5rem 0 .5rem auto;
    padding: .5rem 1rem;
}
#contact .btn:hover{
    --color: var(--dark);
    --bg: var(--light);
    top: .5rem;
    left: .5rem;
    box-shadow: -.5rem -.5rem  var(--dark);
}
    /* validacion */
    form :focus + .validate{
        max-height: 320px;
    }
    form :not(:placeholder-shown, .btn):valid,
    form :not(:placeholder-shown, .btn):valid + .validate{
        --color: var(--success);
    }
    form :not(:placeholder-shown):invalid,
    form :not(:placeholder-shown):invalid + .validate{
        --color: var(--danger);
    }
/* Redes sociales */
.social{
    --dark: #ccc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding: .5rem;
}
.social a{
    position: relative;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: .5rem;
    /* color image position/size repeat */
    background: var(--dark) var(--bg) center/2.5rem no-repeat;
}
.social a:hover{
    bottom: .25rem;
    background: var(--light) var(--bg) center/3rem no-repeat;
    box-shadow: 0 .25rem .5rem #333;
}
    /* Iconos redes sociales */
    .facebook{
        --bg: url('../assets/icons/facebook.svg');
    }
    .instagram{
        --bg: url('../assets/icons/instagram.svg');
    }
    .twitter{
        --bg: url('../assets/icons/twitter.svg');
    }
    .whatsapp{
        --bg: url('../assets/icons/whatsapp.svg');
    }
    .youtube{
        --bg: url('../assets/icons/youtube.svg');
    }
    .linkedin{
        --bg: url('../assets/icons/linkedin.svg');
    }
    .github{
        --bg: url('../assets/icons/github.svg');
    }
/* Derechos de autor */
.copy{
    padding: 1rem;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
    opacity: .5;
    transition: all .5s linear; /*property duration delay timing*/
}
.copy:hover{
    opacity: .8;
}