#footer{
    padding: 1rem;
    color: #eee;
    background: #3338 linear-gradient(transparent, #012) center/cover;
}
/* Formulario de contacto */
    #contact{
        max-width: 720px;
        display: grid;
        margin: 1rem auto;
        border-radius: .25rem;
        padding: 1rem;
        color: #333;
        background-color: #eee;
        font-weight: bold;
    }
    #contact label{
        margin-top: .5rem;
        overflow: hidden;
    }
    #contact label::after{
        content: ' (*)';
        font-family: calibri;
        font-size: 1.25rem;
        color: #448;
        /* 
            :pseudo-class = Caracteristica o instancia de un elemento
            :pseudo-element = Parte o elemento dentro de una etiqueta
                ::before = contenido antes del contenido
                ::after = contenido despues del contenido
        */
    }
    #contact :is(
        input, 
        textarea, 
        select){
            outline: none;
            border: 1.5px solid #333;
            padding: .25rem 1rem;
            font-size: 1rem;
        }
    #contact textarea{
        resize: vertical;
        min-height: 5rem;
    }
    #contact button{
        margin: .25rem 0 0 auto;
        text-transform: uppercase;
    }
    #contact .validation{
        display: none;
    }
    #contact :focus + .validation{
        display: block;
    }
    /* Validation */
    #contact :not(button):valid{
        border-color: #284;
    }
    #contact :valid + .validation{
        color: #284;
    }
    #contact :not(:placeholder-shown):invalid{
        border-color: #c33;
    }
    #contact :not(:placeholder-shown):invalid + .validation{
        color: #c33;
    }
    .rules span{
        color: #448;
        font-size: 1.25rem;
    }
/* Redes sociales */
.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
}
.social a{
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    border-radius: .25rem;
    background-color: #eee;
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
    filter: grayscale(90%) opacity(.8);
}
.social a:hover{
    /*  ANIMACION: CSS
        animation: jump .5s ease-in-out alternate infinite; 
        // nombre duracion tipo modo repeticion
        transform-origin: bottom center
    */
    bottom: .25rem;
    background-size: 3rem;
    filter: drop-shadow(0 .5rem .5rem #333);
}
.facebook{
    background-image: url('../assets/icon/facebook.svg');
}
.instagram{
    background-image: url('../assets/icon/instagram.svg');
}
.twitter{
    background-image: url('../assets/icon/twitter.svg');
}
.github{
    background-image: url('../assets/icon/github.svg');
}
.linkedin{
    background-image: url('../assets/icon/linkedin.svg');
}
/*  
    Animacion 
    @keyframes jump {
    // Inicio
    from{ 
        transform: rotate(-15deg);
    }
    // Fin
    to{
        transform: rotate(15deg);
    }
}
*/