// Variables
    $primary: var(--first);
    $secondary: var(--second);
    $attributes:
        text color,
        bg background-color,
        border border-color,
        shadow --shadow,
        shade --shade;
    $colors: 
        primary #448,
        secondary #c36,
        light #eee,
        dark #333,
        danger #c33,
        warning #da3,
        success #3c6,
        info #36d;
    $path: '../assets/icon';
    $social: 
        facebook,
        github,
        instagram,
        linkedin,
        twitter,
        whatsapp,
        youtube;
// Mixins 
@mixin normalize($m:0, $p:0, $b:0, $ba: border, $ma: margin, $pa: padding){
    #{$ma}: $m;
    #{$ba}: $b;
    #{$pa}: $p;
}

// Loops
/* Redes sociales */
@each $ico in $social{ 
    .#{$ico}{
        --bg: url('#{$path}/#{$ico}.svg');
} }
/*Colores de Atributos*/
@each $prop, $attr in $attributes{
    @each $name, $value in $colors{
    .#{$prop}-#{$name}{ 
        #{$attr}: $value;
} } }
// Componentes
.icon{
    --light: #ccc;
    @include normalize(.5rem, 1.5rem, .5rem, border-radius);
    background: var(--light) var(--bg) center/2.25rem no-repeat;
    transition: all .25s ease;
    &:hover{
        --light: #fefefe;
        box-shadow: 0 .2rem .5rem #333;
        transform: 
            scale(1.25)
            translateY(-.5rem)
            rotate(360deg);
    }
}

// Nesting
#footer{
    @include normalize(0, 1rem, relative, position);
    .map{

    }
    #contact{
        @include normalize(1rem auto, 1.5rem 1rem, .5rem, border-radius);
        display: grid;
        background-color: rgb(var(--light), .9);
        .btn{
            @extend .text-light,.border-primary, .bg-primary;
            &:hover{
                @extend .text-primary, .bg-light;
            }
        }
    }
    .social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a{
            @extend .icon;
        }
    }
    .link{

    }
}
