#footer{
    position: relative;
    padding: 5rem 1rem 0;
    color: var(--light);
    text-shadow: -.2rem .2rem .2rem var(--dark);
    background-image: linear-gradient(#333B, #832B);
    /* EQUIVALENCIA
        #333b = rgba(51,51,51,.7), 
        #382b = rgb(136, 51, 34, .7) 
    */
}