form{
    display: flex;
    padding: 1.5rem;
}
.column{
    flex-direction: column;
    max-width: 540px;
    margin: auto;
}
label{
    margin: .5rem 0 .2rem; /*top right bottom left*/
}
input,
textarea,
select,
button{
    outline: none;
    border-radius: .25rem;
    border: .1rem solid;
    padding: .5rem;
    font-size: 1rem;
}
textarea{
    min-height: 5rem;
    resize: vertical;
}
.validation{
    display: none;
    margin: .2rem;
    font-weight: bold;
}
/* Validacion */
:focus + .validation{
    display: block;
}
:not(button):valid{
    border-color: #3c6;
}
:not(button):valid + .validation{
    color: #284;
}
:not(button, :placeholder-shown):invalid{
    border-color: #c33;
}
:not(button, :placeholder-shown):invalid + .validation{
    color: #822;
}
/* Boton */
form button{
    color: #eee;
    border: none;
    background-color: #204;
    text-transform: uppercase;
}
form button:hover{
    background-color: #408;
    box-shadow: 0 0 .5rem #204;
}