.lineal {
  animation: lineal 30s linear alternate infinite;
}

@keyframes lineal {
  0% {
    transform: translate(0vw, 0vh);
  }
  1% {
    transform: translate(0.5vw, 0.5vh);
  }
  2% {
    transform: translate(1vw, 1vh);
  }
  3% {
    transform: translate(1.5vw, 1.5vh);
  }
  4% {
    transform: translate(2vw, 2vh);
  }
  5% {
    transform: translate(2.5vw, 2.5vh);
  }
  6% {
    transform: translate(3vw, 3vh);
  }
  7% {
    transform: translate(3.5vw, 3.5vh);
  }
  8% {
    transform: translate(4vw, 4vh);
  }
  9% {
    transform: translate(4.5vw, 4.5vh);
  }
  10% {
    transform: translate(5vw, 5vh);
  }
  11% {
    transform: translate(5.5vw, 5.5vh);
  }
  12% {
    transform: translate(6vw, 6vh);
  }
  13% {
    transform: translate(6.5vw, 6.5vh);
  }
  14% {
    transform: translate(7vw, 7vh);
  }
  15% {
    transform: translate(7.5vw, 7.5vh);
  }
  16% {
    transform: translate(8vw, 8vh);
  }
  17% {
    transform: translate(8.5vw, 8.5vh);
  }
  18% {
    transform: translate(9vw, 9vh);
  }
  19% {
    transform: translate(9.5vw, 9.5vh);
  }
  20% {
    transform: translate(10vw, 10vh);
  }
  21% {
    transform: translate(10.5vw, 10.5vh);
  }
  22% {
    transform: translate(11vw, 11vh);
  }
  23% {
    transform: translate(11.5vw, 11.5vh);
  }
  24% {
    transform: translate(12vw, 12vh);
  }
  25% {
    transform: translate(12.5vw, 12.5vh);
  }
  26% {
    transform: translate(13vw, 13vh);
  }
  27% {
    transform: translate(13.5vw, 13.5vh);
  }
  28% {
    transform: translate(14vw, 14vh);
  }
  29% {
    transform: translate(14.5vw, 14.5vh);
  }
  30% {
    transform: translate(15vw, 15vh);
  }
  31% {
    transform: translate(15.5vw, 15.5vh);
  }
  32% {
    transform: translate(16vw, 16vh);
  }
  33% {
    transform: translate(16.5vw, 16.5vh);
  }
  34% {
    transform: translate(17vw, 17vh);
  }
  35% {
    transform: translate(17.5vw, 17.5vh);
  }
  36% {
    transform: translate(18vw, 18vh);
  }
  37% {
    transform: translate(18.5vw, 18.5vh);
  }
  38% {
    transform: translate(19vw, 19vh);
  }
  39% {
    transform: translate(19.5vw, 19.5vh);
  }
  40% {
    transform: translate(20vw, 20vh);
  }
  41% {
    transform: translate(20.5vw, 20.5vh);
  }
  42% {
    transform: translate(21vw, 21vh);
  }
  43% {
    transform: translate(21.5vw, 21.5vh);
  }
  44% {
    transform: translate(22vw, 22vh);
  }
  45% {
    transform: translate(22.5vw, 22.5vh);
  }
  46% {
    transform: translate(23vw, 23vh);
  }
  47% {
    transform: translate(23.5vw, 23.5vh);
  }
  48% {
    transform: translate(24vw, 24vh);
  }
  49% {
    transform: translate(24.5vw, 24.5vh);
  }
  50% {
    transform: translate(25vw, 25vh);
  }
  51% {
    transform: translate(25.5vw, 25.5vh);
  }
  52% {
    transform: translate(26vw, 26vh);
  }
  53% {
    transform: translate(26.5vw, 26.5vh);
  }
  54% {
    transform: translate(27vw, 27vh);
  }
  55% {
    transform: translate(27.5vw, 27.5vh);
  }
  56% {
    transform: translate(28vw, 28vh);
  }
  57% {
    transform: translate(28.5vw, 28.5vh);
  }
  58% {
    transform: translate(29vw, 29vh);
  }
  59% {
    transform: translate(29.5vw, 29.5vh);
  }
  60% {
    transform: translate(30vw, 30vh);
  }
  61% {
    transform: translate(30.5vw, 30.5vh);
  }
  62% {
    transform: translate(31vw, 31vh);
  }
  63% {
    transform: translate(31.5vw, 31.5vh);
  }
  64% {
    transform: translate(32vw, 32vh);
  }
  65% {
    transform: translate(32.5vw, 32.5vh);
  }
  66% {
    transform: translate(33vw, 33vh);
  }
  67% {
    transform: translate(33.5vw, 33.5vh);
  }
  68% {
    transform: translate(34vw, 34vh);
  }
  69% {
    transform: translate(34.5vw, 34.5vh);
  }
  70% {
    transform: translate(35vw, 35vh);
  }
  71% {
    transform: translate(35.5vw, 35.5vh);
  }
  72% {
    transform: translate(36vw, 36vh);
  }
  73% {
    transform: translate(36.5vw, 36.5vh);
  }
  74% {
    transform: translate(37vw, 37vh);
  }
  75% {
    transform: translate(37.5vw, 37.5vh);
  }
  76% {
    transform: translate(38vw, 38vh);
  }
  77% {
    transform: translate(38.5vw, 38.5vh);
  }
  78% {
    transform: translate(39vw, 39vh);
  }
  79% {
    transform: translate(39.5vw, 39.5vh);
  }
  80% {
    transform: translate(40vw, 40vh);
  }
  81% {
    transform: translate(40.5vw, 40.5vh);
  }
  82% {
    transform: translate(41vw, 41vh);
  }
  83% {
    transform: translate(41.5vw, 41.5vh);
  }
  84% {
    transform: translate(42vw, 42vh);
  }
  85% {
    transform: translate(42.5vw, 42.5vh);
  }
  86% {
    transform: translate(43vw, 43vh);
  }
  87% {
    transform: translate(43.5vw, 43.5vh);
  }
  88% {
    transform: translate(44vw, 44vh);
  }
  89% {
    transform: translate(44.5vw, 44.5vh);
  }
  90% {
    transform: translate(45vw, 45vh);
  }
  91% {
    transform: translate(45.5vw, 45.5vh);
  }
  92% {
    transform: translate(46vw, 46vh);
  }
  93% {
    transform: translate(46.5vw, 46.5vh);
  }
  94% {
    transform: translate(47vw, 47vh);
  }
  95% {
    transform: translate(47.5vw, 47.5vh);
  }
  96% {
    transform: translate(48vw, 48vh);
  }
  97% {
    transform: translate(48.5vw, 48.5vh);
  }
  98% {
    transform: translate(49vw, 49vh);
  }
  99% {
    transform: translate(49.5vw, 49.5vh);
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}
.cuadratica {
  animation: cuadratica 30s linear alternate infinite;
}

@keyframes cuadratica {
  0% {
    transform: translate(0vw, 100vh);
  }
  1% {
    transform: translate(0.5vw, 96.04vh);
  }
  2% {
    transform: translate(1vw, 92.16vh);
  }
  3% {
    transform: translate(1.5vw, 88.36vh);
  }
  4% {
    transform: translate(2vw, 84.64vh);
  }
  5% {
    transform: translate(2.5vw, 81vh);
  }
  6% {
    transform: translate(3vw, 77.44vh);
  }
  7% {
    transform: translate(3.5vw, 73.96vh);
  }
  8% {
    transform: translate(4vw, 70.56vh);
  }
  9% {
    transform: translate(4.5vw, 67.24vh);
  }
  10% {
    transform: translate(5vw, 64vh);
  }
  11% {
    transform: translate(5.5vw, 60.84vh);
  }
  12% {
    transform: translate(6vw, 57.76vh);
  }
  13% {
    transform: translate(6.5vw, 54.76vh);
  }
  14% {
    transform: translate(7vw, 51.84vh);
  }
  15% {
    transform: translate(7.5vw, 49vh);
  }
  16% {
    transform: translate(8vw, 46.24vh);
  }
  17% {
    transform: translate(8.5vw, 43.56vh);
  }
  18% {
    transform: translate(9vw, 40.96vh);
  }
  19% {
    transform: translate(9.5vw, 38.44vh);
  }
  20% {
    transform: translate(10vw, 36vh);
  }
  21% {
    transform: translate(10.5vw, 33.64vh);
  }
  22% {
    transform: translate(11vw, 31.36vh);
  }
  23% {
    transform: translate(11.5vw, 29.16vh);
  }
  24% {
    transform: translate(12vw, 27.04vh);
  }
  25% {
    transform: translate(12.5vw, 25vh);
  }
  26% {
    transform: translate(13vw, 23.04vh);
  }
  27% {
    transform: translate(13.5vw, 21.16vh);
  }
  28% {
    transform: translate(14vw, 19.36vh);
  }
  29% {
    transform: translate(14.5vw, 17.64vh);
  }
  30% {
    transform: translate(15vw, 16vh);
  }
  31% {
    transform: translate(15.5vw, 14.44vh);
  }
  32% {
    transform: translate(16vw, 12.96vh);
  }
  33% {
    transform: translate(16.5vw, 11.56vh);
  }
  34% {
    transform: translate(17vw, 10.24vh);
  }
  35% {
    transform: translate(17.5vw, 9vh);
  }
  36% {
    transform: translate(18vw, 7.84vh);
  }
  37% {
    transform: translate(18.5vw, 6.76vh);
  }
  38% {
    transform: translate(19vw, 5.76vh);
  }
  39% {
    transform: translate(19.5vw, 4.84vh);
  }
  40% {
    transform: translate(20vw, 4vh);
  }
  41% {
    transform: translate(20.5vw, 3.24vh);
  }
  42% {
    transform: translate(21vw, 2.56vh);
  }
  43% {
    transform: translate(21.5vw, 1.96vh);
  }
  44% {
    transform: translate(22vw, 1.44vh);
  }
  45% {
    transform: translate(22.5vw, 1vh);
  }
  46% {
    transform: translate(23vw, 0.64vh);
  }
  47% {
    transform: translate(23.5vw, 0.36vh);
  }
  48% {
    transform: translate(24vw, 0.16vh);
  }
  49% {
    transform: translate(24.5vw, 0.04vh);
  }
  50% {
    transform: translate(25vw, 0vh);
  }
  51% {
    transform: translate(25.5vw, 0.04vh);
  }
  52% {
    transform: translate(26vw, 0.16vh);
  }
  53% {
    transform: translate(26.5vw, 0.36vh);
  }
  54% {
    transform: translate(27vw, 0.64vh);
  }
  55% {
    transform: translate(27.5vw, 1vh);
  }
  56% {
    transform: translate(28vw, 1.44vh);
  }
  57% {
    transform: translate(28.5vw, 1.96vh);
  }
  58% {
    transform: translate(29vw, 2.56vh);
  }
  59% {
    transform: translate(29.5vw, 3.24vh);
  }
  60% {
    transform: translate(30vw, 4vh);
  }
  61% {
    transform: translate(30.5vw, 4.84vh);
  }
  62% {
    transform: translate(31vw, 5.76vh);
  }
  63% {
    transform: translate(31.5vw, 6.76vh);
  }
  64% {
    transform: translate(32vw, 7.84vh);
  }
  65% {
    transform: translate(32.5vw, 9vh);
  }
  66% {
    transform: translate(33vw, 10.24vh);
  }
  67% {
    transform: translate(33.5vw, 11.56vh);
  }
  68% {
    transform: translate(34vw, 12.96vh);
  }
  69% {
    transform: translate(34.5vw, 14.44vh);
  }
  70% {
    transform: translate(35vw, 16vh);
  }
  71% {
    transform: translate(35.5vw, 17.64vh);
  }
  72% {
    transform: translate(36vw, 19.36vh);
  }
  73% {
    transform: translate(36.5vw, 21.16vh);
  }
  74% {
    transform: translate(37vw, 23.04vh);
  }
  75% {
    transform: translate(37.5vw, 25vh);
  }
  76% {
    transform: translate(38vw, 27.04vh);
  }
  77% {
    transform: translate(38.5vw, 29.16vh);
  }
  78% {
    transform: translate(39vw, 31.36vh);
  }
  79% {
    transform: translate(39.5vw, 33.64vh);
  }
  80% {
    transform: translate(40vw, 36vh);
  }
  81% {
    transform: translate(40.5vw, 38.44vh);
  }
  82% {
    transform: translate(41vw, 40.96vh);
  }
  83% {
    transform: translate(41.5vw, 43.56vh);
  }
  84% {
    transform: translate(42vw, 46.24vh);
  }
  85% {
    transform: translate(42.5vw, 49vh);
  }
  86% {
    transform: translate(43vw, 51.84vh);
  }
  87% {
    transform: translate(43.5vw, 54.76vh);
  }
  88% {
    transform: translate(44vw, 57.76vh);
  }
  89% {
    transform: translate(44.5vw, 60.84vh);
  }
  90% {
    transform: translate(45vw, 64vh);
  }
  91% {
    transform: translate(45.5vw, 67.24vh);
  }
  92% {
    transform: translate(46vw, 70.56vh);
  }
  93% {
    transform: translate(46.5vw, 73.96vh);
  }
  94% {
    transform: translate(47vw, 77.44vh);
  }
  95% {
    transform: translate(47.5vw, 81vh);
  }
  96% {
    transform: translate(48vw, 84.64vh);
  }
  97% {
    transform: translate(48.5vw, 88.36vh);
  }
  98% {
    transform: translate(49vw, 92.16vh);
  }
  99% {
    transform: translate(49.5vw, 96.04vh);
  }
  100% {
    transform: translate(50vw, 100vh);
  }
}
.trigonometrica {
  animation: trigonometrica 30s linear alternate infinite;
}

@keyframes trigonometrica {
  0% {
    transform: translate(0vw, 0vh);
  }
  1% {
    transform: translate(0.5vw, 8.4147098481vh);
  }
  2% {
    transform: translate(1vw, 9.0929742683vh);
  }
  3% {
    transform: translate(1.5vw, 1.4112000806vh);
  }
  4% {
    transform: translate(2vw, -7.5680249531vh);
  }
  5% {
    transform: translate(2.5vw, -9.5892427466vh);
  }
  6% {
    transform: translate(3vw, -2.794154982vh);
  }
  7% {
    transform: translate(3.5vw, 6.5698659872vh);
  }
  8% {
    transform: translate(4vw, 9.8935824662vh);
  }
  9% {
    transform: translate(4.5vw, 4.1211848524vh);
  }
  10% {
    transform: translate(5vw, -5.4402111089vh);
  }
  11% {
    transform: translate(5.5vw, -9.9999020655vh);
  }
  12% {
    transform: translate(6vw, -5.36572918vh);
  }
  13% {
    transform: translate(6.5vw, 4.2016703683vh);
  }
  14% {
    transform: translate(7vw, 9.9060735569vh);
  }
  15% {
    transform: translate(7.5vw, 6.5028784016vh);
  }
  16% {
    transform: translate(8vw, -2.8790331667vh);
  }
  17% {
    transform: translate(8.5vw, -9.6139749188vh);
  }
  18% {
    transform: translate(9vw, -7.5098724677vh);
  }
  19% {
    transform: translate(9.5vw, 1.4987720966vh);
  }
  20% {
    transform: translate(10vw, 9.1294525073vh);
  }
  21% {
    transform: translate(10.5vw, 8.3665563854vh);
  }
  22% {
    transform: translate(11vw, -0.0885130929vh);
  }
  23% {
    transform: translate(11.5vw, -8.4622040418vh);
  }
  24% {
    transform: translate(12vw, -9.0557836201vh);
  }
  25% {
    transform: translate(12.5vw, -1.323517501vh);
  }
  26% {
    transform: translate(13vw, 7.6255845048vh);
  }
  27% {
    transform: translate(13.5vw, 9.563759284vh);
  }
  28% {
    transform: translate(14vw, 2.7090578831vh);
  }
  29% {
    transform: translate(14.5vw, -6.6363388421vh);
  }
  30% {
    transform: translate(15vw, -9.8803162409vh);
  }
  31% {
    transform: translate(15.5vw, -4.0403764532vh);
  }
  32% {
    transform: translate(16vw, 5.5142668124vh);
  }
  33% {
    transform: translate(16.5vw, 9.9991186011vh);
  }
  34% {
    transform: translate(17vw, 5.2908268612vh);
  }
  35% {
    transform: translate(17.5vw, -4.281826695vh);
  }
  36% {
    transform: translate(18vw, -9.9177885344vh);
  }
  37% {
    transform: translate(18.5vw, -6.4353813336vh);
  }
  38% {
    transform: translate(19vw, 2.9636857871vh);
  }
  39% {
    transform: translate(19.5vw, 9.6379538628vh);
  }
  40% {
    transform: translate(20vw, 7.4511316048vh);
  }
  41% {
    transform: translate(20.5vw, -1.586226688vh);
  }
  42% {
    transform: translate(21vw, -9.1652154792vh);
  }
  43% {
    transform: translate(21.5vw, -8.3177474263vh);
  }
  44% {
    transform: translate(22vw, 0.1770192511vh);
  }
  45% {
    transform: translate(22.5vw, 8.5090352453vh);
  }
  46% {
    transform: translate(23vw, 9.0178834765vh);
  }
  47% {
    transform: translate(23.5vw, 1.2357312275vh);
  }
  48% {
    transform: translate(24vw, -7.6825466132vh);
  }
  49% {
    transform: translate(24.5vw, -9.5375265276vh);
  }
  50% {
    transform: translate(25vw, -2.623748537vh);
  }
  51% {
    transform: translate(25.5vw, 6.7022917584vh);
  }
  52% {
    transform: translate(26vw, 9.8662759204vh);
  }
  53% {
    transform: translate(26.5vw, 3.9592515018vh);
  }
  54% {
    transform: translate(27vw, -5.5878904885vh);
  }
  55% {
    transform: translate(27.5vw, -9.9975517336vh);
  }
  56% {
    transform: translate(28vw, -5.2155100209vh);
  }
  57% {
    transform: translate(28.5vw, 4.3616475525vh);
  }
  58% {
    transform: translate(29vw, 9.9287264808vh);
  }
  59% {
    transform: translate(29.5vw, 6.3673800714vh);
  }
  60% {
    transform: translate(30vw, -3.048106211vh);
  }
  61% {
    transform: translate(30.5vw, -9.6611777001vh);
  }
  62% {
    transform: translate(31vw, -7.3918069665vh);
  }
  63% {
    transform: translate(31.5vw, 1.673557003vh);
  }
  64% {
    transform: translate(32vw, 9.200260382vh);
  }
  65% {
    transform: translate(32.5vw, 8.2682867949vh);
  }
  66% {
    transform: translate(33vw, -0.2655115402vh);
  }
  67% {
    transform: translate(33.5vw, -8.5551997898vh);
  }
  68% {
    transform: translate(34vw, -8.9792768069vh);
  }
  69% {
    transform: translate(34.5vw, -1.1478481378vh);
  }
  70% {
    transform: translate(35vw, 7.7389068156vh);
  }
  71% {
    transform: translate(35.5vw, 9.5105465325vh);
  }
  72% {
    transform: translate(36vw, 2.5382336276vh);
  }
  73% {
    transform: translate(36.5vw, -6.7677195689vh);
  }
  74% {
    transform: translate(37vw, -9.8514626047vh);
  }
  75% {
    transform: translate(37.5vw, -3.8778163541vh);
  }
  76% {
    transform: translate(38vw, 5.661076369vh);
  }
  77% {
    transform: translate(38.5vw, 9.9952015858vh);
  }
  78% {
    transform: translate(39vw, 5.1397845599vh);
  }
  79% {
    transform: translate(39.5vw, -4.4411266871vh);
  }
  80% {
    transform: translate(40vw, -9.9388865392vh);
  }
  81% {
    transform: translate(40.5vw, -6.2988799427vh);
  }
  82% {
    transform: translate(41vw, 3.1322878243vh);
  }
  83% {
    transform: translate(41.5vw, 9.683644611vh);
  }
  84% {
    transform: translate(42vw, 7.3319032007vh);
  }
  85% {
    transform: translate(42.5vw, -1.7607561995vh);
  }
  86% {
    transform: translate(43vw, -9.23458447vh);
  }
  87% {
    transform: translate(43.5vw, -8.2181783663vh);
  }
  88% {
    transform: translate(44vw, 0.3539830273vh);
  }
  89% {
    transform: translate(44.5vw, 8.6006940581vh);
  }
  90% {
    transform: translate(45vw, 8.939966636vh);
  }
  91% {
    transform: translate(45.5vw, 1.0598751175vh);
  }
  92% {
    transform: translate(46vw, -7.7946606962vh);
  }
  93% {
    transform: translate(46.5vw, -9.4828214127vh);
  }
  94% {
    transform: translate(47vw, -2.4525198547vh);
  }
  95% {
    transform: translate(47.5vw, 6.8326171474vh);
  }
  96% {
    transform: translate(48vw, 9.8358774543vh);
  }
  97% {
    transform: translate(48.5vw, 3.7960773903vh);
  }
  98% {
    transform: translate(49vw, -5.7338187199vh);
  }
  99% {
    transform: translate(49.5vw, -9.9920683419vh);
  }
  100% {
    transform: translate(50vw, -5.0636564111vh);
  }
}
.exponencial {
  animation: exponencial 30s linear alternate infinite;
}

@keyframes exponencial {
  0% {
    transform: translate(0vw, 10vh);
  }
  1% {
    transform: translate(0.5vw, 10.24vh);
  }
  2% {
    transform: translate(1vw, 10.48576vh);
  }
  3% {
    transform: translate(1.5vw, 10.73741824vh);
  }
  4% {
    transform: translate(2vw, 10.9951162778vh);
  }
  5% {
    transform: translate(2.5vw, 11.2589990684vh);
  }
  6% {
    transform: translate(3vw, 11.5292150461vh);
  }
  7% {
    transform: translate(3.5vw, 11.8059162072vh);
  }
  8% {
    transform: translate(4vw, 12.0892581961vh);
  }
  9% {
    transform: translate(4.5vw, 12.3794003929vh);
  }
  10% {
    transform: translate(5vw, 12.6765060023vh);
  }
  11% {
    transform: translate(5.5vw, 12.9807421463vh);
  }
  12% {
    transform: translate(6vw, 13.2922799578vh);
  }
  13% {
    transform: translate(6.5vw, 13.6112946768vh);
  }
  14% {
    transform: translate(7vw, 13.9379657491vh);
  }
  15% {
    transform: translate(7.5vw, 14.2724769271vh);
  }
  16% {
    transform: translate(8vw, 14.6150163733vh);
  }
  17% {
    transform: translate(8.5vw, 14.9657767663vh);
  }
  18% {
    transform: translate(9vw, 15.3249554087vh);
  }
  19% {
    transform: translate(9.5vw, 15.6927543385vh);
  }
  20% {
    transform: translate(10vw, 16.0693804426vh);
  }
  21% {
    transform: translate(10.5vw, 16.4550455732vh);
  }
  22% {
    transform: translate(11vw, 16.849966667vh);
  }
  23% {
    transform: translate(11.5vw, 17.254365867vh);
  }
  24% {
    transform: translate(12vw, 17.6684706478vh);
  }
  25% {
    transform: translate(12.5vw, 18.0925139433vh);
  }
  26% {
    transform: translate(13vw, 18.526734278vh);
  }
  27% {
    transform: translate(13.5vw, 18.9713759006vh);
  }
  28% {
    transform: translate(14vw, 19.4266889223vh);
  }
  29% {
    transform: translate(14.5vw, 19.8929294564vh);
  }
  30% {
    transform: translate(15vw, 20.3703597633vh);
  }
  31% {
    transform: translate(15.5vw, 20.8592483977vh);
  }
  32% {
    transform: translate(16vw, 21.3598703592vh);
  }
  33% {
    transform: translate(16.5vw, 21.8725072478vh);
  }
  34% {
    transform: translate(17vw, 22.3974474218vh);
  }
  35% {
    transform: translate(17.5vw, 22.9349861599vh);
  }
  36% {
    transform: translate(18vw, 23.4854258277vh);
  }
  37% {
    transform: translate(18.5vw, 24.0490760476vh);
  }
  38% {
    transform: translate(19vw, 24.6262538727vh);
  }
  39% {
    transform: translate(19.5vw, 25.2172839657vh);
  }
  40% {
    transform: translate(20vw, 25.8224987809vh);
  }
  41% {
    transform: translate(20.5vw, 26.4422387516vh);
  }
  42% {
    transform: translate(21vw, 27.0768524816vh);
  }
  43% {
    transform: translate(21.5vw, 27.7266969412vh);
  }
  44% {
    transform: translate(22vw, 28.3921376678vh);
  }
  45% {
    transform: translate(22.5vw, 29.0735489718vh);
  }
  46% {
    transform: translate(23vw, 29.7713141471vh);
  }
  47% {
    transform: translate(23.5vw, 30.4858256867vh);
  }
  48% {
    transform: translate(24vw, 31.2174855032vh);
  }
  49% {
    transform: translate(24.5vw, 31.9667051552vh);
  }
  50% {
    transform: translate(25vw, 32.733906079vh);
  }
  51% {
    transform: translate(25.5vw, 33.5195198249vh);
  }
  52% {
    transform: translate(26vw, 34.3239883007vh);
  }
  53% {
    transform: translate(26.5vw, 35.1477640199vh);
  }
  54% {
    transform: translate(27vw, 35.9913103563vh);
  }
  55% {
    transform: translate(27.5vw, 36.8551018049vh);
  }
  56% {
    transform: translate(28vw, 37.7396242482vh);
  }
  57% {
    transform: translate(28.5vw, 38.6453752302vh);
  }
  58% {
    transform: translate(29vw, 39.5728642357vh);
  }
  59% {
    transform: translate(29.5vw, 40.5226129774vh);
  }
  60% {
    transform: translate(30vw, 41.4951556888vh);
  }
  61% {
    transform: translate(30.5vw, 42.4910394253vh);
  }
  62% {
    transform: translate(31vw, 43.5108243715vh);
  }
  63% {
    transform: translate(31.5vw, 44.5550841565vh);
  }
  64% {
    transform: translate(32vw, 45.6244061762vh);
  }
  65% {
    transform: translate(32.5vw, 46.7193919245vh);
  }
  66% {
    transform: translate(33vw, 47.8406573306vh);
  }
  67% {
    transform: translate(33.5vw, 48.9888331066vh);
  }
  68% {
    transform: translate(34vw, 50.1645651011vh);
  }
  69% {
    transform: translate(34.5vw, 51.3685146636vh);
  }
  70% {
    transform: translate(35vw, 52.6013590155vh);
  }
  71% {
    transform: translate(35.5vw, 53.8637916319vh);
  }
  72% {
    transform: translate(36vw, 55.156522631vh);
  }
  73% {
    transform: translate(36.5vw, 56.4802791742vh);
  }
  74% {
    transform: translate(37vw, 57.8358058743vh);
  }
  75% {
    transform: translate(37.5vw, 59.2238652153vh);
  }
  76% {
    transform: translate(38vw, 60.6452379805vh);
  }
  77% {
    transform: translate(38.5vw, 62.100723692vh);
  }
  78% {
    transform: translate(39vw, 63.5911410606vh);
  }
  79% {
    transform: translate(39.5vw, 65.1173284461vh);
  }
  80% {
    transform: translate(40vw, 66.6801443288vh);
  }
  81% {
    transform: translate(40.5vw, 68.2804677927vh);
  }
  82% {
    transform: translate(41vw, 69.9191990197vh);
  }
  83% {
    transform: translate(41.5vw, 71.5972597962vh);
  }
  84% {
    transform: translate(42vw, 73.3155940313vh);
  }
  85% {
    transform: translate(42.5vw, 75.075168288vh);
  }
  86% {
    transform: translate(43vw, 76.876972327vh);
  }
  87% {
    transform: translate(43.5vw, 78.7220196628vh);
  }
  88% {
    transform: translate(44vw, 80.6113481347vh);
  }
  89% {
    transform: translate(44.5vw, 82.5460204899vh);
  }
  90% {
    transform: translate(45vw, 84.5271249817vh);
  }
  91% {
    transform: translate(45.5vw, 86.5557759813vh);
  }
  92% {
    transform: translate(46vw, 88.6331146048vh);
  }
  93% {
    transform: translate(46.5vw, 90.7603093553vh);
  }
  94% {
    transform: translate(47vw, 92.9385567799vh);
  }
  95% {
    transform: translate(47.5vw, 95.1690821426vh);
  }
  96% {
    transform: translate(48vw, 97.453140114vh);
  }
  97% {
    transform: translate(48.5vw, 99.7920154767vh);
  }
  98% {
    transform: translate(49vw, 102.1870238482vh);
  }
  99% {
    transform: translate(49.5vw, 104.6395124205vh);
  }
  100% {
    transform: translate(50vw, 107.1508607186vh);
  }
}
.radical {
  animation: radical 30s linear alternate infinite;
}

@keyframes radical {
  0% {
    transform: translate(0vw, -2vh);
  }
  1% {
    transform: translate(0.5vw, -2.0408163265vh);
  }
  2% {
    transform: translate(1vw, -2.0833333333vh);
  }
  3% {
    transform: translate(1.5vw, -2.1276595745vh);
  }
  4% {
    transform: translate(2vw, -2.1739130435vh);
  }
  5% {
    transform: translate(2.5vw, -2.2222222222vh);
  }
  6% {
    transform: translate(3vw, -2.2727272727vh);
  }
  7% {
    transform: translate(3.5vw, -2.3255813953vh);
  }
  8% {
    transform: translate(4vw, -2.380952381vh);
  }
  9% {
    transform: translate(4.5vw, -2.4390243902vh);
  }
  10% {
    transform: translate(5vw, -2.5vh);
  }
  11% {
    transform: translate(5.5vw, -2.5641025641vh);
  }
  12% {
    transform: translate(6vw, -2.6315789474vh);
  }
  13% {
    transform: translate(6.5vw, -2.7027027027vh);
  }
  14% {
    transform: translate(7vw, -2.7777777778vh);
  }
  15% {
    transform: translate(7.5vw, -2.8571428571vh);
  }
  16% {
    transform: translate(8vw, -2.9411764706vh);
  }
  17% {
    transform: translate(8.5vw, -3.0303030303vh);
  }
  18% {
    transform: translate(9vw, -3.125vh);
  }
  19% {
    transform: translate(9.5vw, -3.2258064516vh);
  }
  20% {
    transform: translate(10vw, -3.3333333333vh);
  }
  21% {
    transform: translate(10.5vw, -3.4482758621vh);
  }
  22% {
    transform: translate(11vw, -3.5714285714vh);
  }
  23% {
    transform: translate(11.5vw, -3.7037037037vh);
  }
  24% {
    transform: translate(12vw, -3.8461538462vh);
  }
  25% {
    transform: translate(12.5vw, -4vh);
  }
  26% {
    transform: translate(13vw, -4.1666666667vh);
  }
  27% {
    transform: translate(13.5vw, -4.347826087vh);
  }
  28% {
    transform: translate(14vw, -4.5454545455vh);
  }
  29% {
    transform: translate(14.5vw, -4.7619047619vh);
  }
  30% {
    transform: translate(15vw, -5vh);
  }
  31% {
    transform: translate(15.5vw, -5.2631578947vh);
  }
  32% {
    transform: translate(16vw, -5.5555555556vh);
  }
  33% {
    transform: translate(16.5vw, -5.8823529412vh);
  }
  34% {
    transform: translate(17vw, -6.25vh);
  }
  35% {
    transform: translate(17.5vw, -6.6666666667vh);
  }
  36% {
    transform: translate(18vw, -7.1428571429vh);
  }
  37% {
    transform: translate(18.5vw, -7.6923076923vh);
  }
  38% {
    transform: translate(19vw, -8.3333333333vh);
  }
  39% {
    transform: translate(19.5vw, -9.0909090909vh);
  }
  40% {
    transform: translate(20vw, -10vh);
  }
  41% {
    transform: translate(20.5vw, -11.1111111111vh);
  }
  42% {
    transform: translate(21vw, -12.5vh);
  }
  43% {
    transform: translate(21.5vw, -14.2857142857vh);
  }
  44% {
    transform: translate(22vw, -16.6666666667vh);
  }
  45% {
    transform: translate(22.5vw, -20vh);
  }
  46% {
    transform: translate(23vw, -25vh);
  }
  47% {
    transform: translate(23.5vw, -33.3333333333vh);
  }
  48% {
    transform: translate(24vw, -50vh);
  }
  49% {
    transform: translate(24.5vw, -100vh);
  }
  50% {
    transform: translate(25vw, 1vh);
  }
  51% {
    transform: translate(25.5vw, 100vh);
  }
  52% {
    transform: translate(26vw, 50vh);
  }
  53% {
    transform: translate(26.5vw, 33.3333333333vh);
  }
  54% {
    transform: translate(27vw, 25vh);
  }
  55% {
    transform: translate(27.5vw, 20vh);
  }
  56% {
    transform: translate(28vw, 16.6666666667vh);
  }
  57% {
    transform: translate(28.5vw, 14.2857142857vh);
  }
  58% {
    transform: translate(29vw, 12.5vh);
  }
  59% {
    transform: translate(29.5vw, 11.1111111111vh);
  }
  60% {
    transform: translate(30vw, 10vh);
  }
  61% {
    transform: translate(30.5vw, 9.0909090909vh);
  }
  62% {
    transform: translate(31vw, 8.3333333333vh);
  }
  63% {
    transform: translate(31.5vw, 7.6923076923vh);
  }
  64% {
    transform: translate(32vw, 7.1428571429vh);
  }
  65% {
    transform: translate(32.5vw, 6.6666666667vh);
  }
  66% {
    transform: translate(33vw, 6.25vh);
  }
  67% {
    transform: translate(33.5vw, 5.8823529412vh);
  }
  68% {
    transform: translate(34vw, 5.5555555556vh);
  }
  69% {
    transform: translate(34.5vw, 5.2631578947vh);
  }
  70% {
    transform: translate(35vw, 5vh);
  }
  71% {
    transform: translate(35.5vw, 4.7619047619vh);
  }
  72% {
    transform: translate(36vw, 4.5454545455vh);
  }
  73% {
    transform: translate(36.5vw, 4.347826087vh);
  }
  74% {
    transform: translate(37vw, 4.1666666667vh);
  }
  75% {
    transform: translate(37.5vw, 4vh);
  }
  76% {
    transform: translate(38vw, 3.8461538462vh);
  }
  77% {
    transform: translate(38.5vw, 3.7037037037vh);
  }
  78% {
    transform: translate(39vw, 3.5714285714vh);
  }
  79% {
    transform: translate(39.5vw, 3.4482758621vh);
  }
  80% {
    transform: translate(40vw, 3.3333333333vh);
  }
  81% {
    transform: translate(40.5vw, 3.2258064516vh);
  }
  82% {
    transform: translate(41vw, 3.125vh);
  }
  83% {
    transform: translate(41.5vw, 3.0303030303vh);
  }
  84% {
    transform: translate(42vw, 2.9411764706vh);
  }
  85% {
    transform: translate(42.5vw, 2.8571428571vh);
  }
  86% {
    transform: translate(43vw, 2.7777777778vh);
  }
  87% {
    transform: translate(43.5vw, 2.7027027027vh);
  }
  88% {
    transform: translate(44vw, 2.6315789474vh);
  }
  89% {
    transform: translate(44.5vw, 2.5641025641vh);
  }
  90% {
    transform: translate(45vw, 2.5vh);
  }
  91% {
    transform: translate(45.5vw, 2.4390243902vh);
  }
  92% {
    transform: translate(46vw, 2.380952381vh);
  }
  93% {
    transform: translate(46.5vw, 2.3255813953vh);
  }
  94% {
    transform: translate(47vw, 2.2727272727vh);
  }
  95% {
    transform: translate(47.5vw, 2.2222222222vh);
  }
  96% {
    transform: translate(48vw, 2.1739130435vh);
  }
  97% {
    transform: translate(48.5vw, 2.1276595745vh);
  }
  98% {
    transform: translate(49vw, 2.0833333333vh);
  }
  99% {
    transform: translate(49.5vw, 2.0408163265vh);
  }
  100% {
    transform: translate(50vw, 2vh);
  }
}