.functions div {
  margin: 0.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #36c;
  box-shadow: -0.5rem 0.5rem rgba(238, 238, 238, 0.2) inset, -0.5rem 0.5rem 0.5rem #333;
}

.lineal {
  animation: lineal 5s linear 2s alternate infinite;
}

@keyframes lineal {
  0% {
    transform: translate(0vw, 0vmin);
  }
  1% {
    transform: translate(0.5vw, 0.5vmin);
  }
  2% {
    transform: translate(1vw, 1vmin);
  }
  3% {
    transform: translate(1.5vw, 1.5vmin);
  }
  4% {
    transform: translate(2vw, 2vmin);
  }
  5% {
    transform: translate(2.5vw, 2.5vmin);
  }
  6% {
    transform: translate(3vw, 3vmin);
  }
  7% {
    transform: translate(3.5vw, 3.5vmin);
  }
  8% {
    transform: translate(4vw, 4vmin);
  }
  9% {
    transform: translate(4.5vw, 4.5vmin);
  }
  10% {
    transform: translate(5vw, 5vmin);
  }
  11% {
    transform: translate(5.5vw, 5.5vmin);
  }
  12% {
    transform: translate(6vw, 6vmin);
  }
  13% {
    transform: translate(6.5vw, 6.5vmin);
  }
  14% {
    transform: translate(7vw, 7vmin);
  }
  15% {
    transform: translate(7.5vw, 7.5vmin);
  }
  16% {
    transform: translate(8vw, 8vmin);
  }
  17% {
    transform: translate(8.5vw, 8.5vmin);
  }
  18% {
    transform: translate(9vw, 9vmin);
  }
  19% {
    transform: translate(9.5vw, 9.5vmin);
  }
  20% {
    transform: translate(10vw, 10vmin);
  }
  21% {
    transform: translate(10.5vw, 10.5vmin);
  }
  22% {
    transform: translate(11vw, 11vmin);
  }
  23% {
    transform: translate(11.5vw, 11.5vmin);
  }
  24% {
    transform: translate(12vw, 12vmin);
  }
  25% {
    transform: translate(12.5vw, 12.5vmin);
  }
  26% {
    transform: translate(13vw, 13vmin);
  }
  27% {
    transform: translate(13.5vw, 13.5vmin);
  }
  28% {
    transform: translate(14vw, 14vmin);
  }
  29% {
    transform: translate(14.5vw, 14.5vmin);
  }
  30% {
    transform: translate(15vw, 15vmin);
  }
  31% {
    transform: translate(15.5vw, 15.5vmin);
  }
  32% {
    transform: translate(16vw, 16vmin);
  }
  33% {
    transform: translate(16.5vw, 16.5vmin);
  }
  34% {
    transform: translate(17vw, 17vmin);
  }
  35% {
    transform: translate(17.5vw, 17.5vmin);
  }
  36% {
    transform: translate(18vw, 18vmin);
  }
  37% {
    transform: translate(18.5vw, 18.5vmin);
  }
  38% {
    transform: translate(19vw, 19vmin);
  }
  39% {
    transform: translate(19.5vw, 19.5vmin);
  }
  40% {
    transform: translate(20vw, 20vmin);
  }
  41% {
    transform: translate(20.5vw, 20.5vmin);
  }
  42% {
    transform: translate(21vw, 21vmin);
  }
  43% {
    transform: translate(21.5vw, 21.5vmin);
  }
  44% {
    transform: translate(22vw, 22vmin);
  }
  45% {
    transform: translate(22.5vw, 22.5vmin);
  }
  46% {
    transform: translate(23vw, 23vmin);
  }
  47% {
    transform: translate(23.5vw, 23.5vmin);
  }
  48% {
    transform: translate(24vw, 24vmin);
  }
  49% {
    transform: translate(24.5vw, 24.5vmin);
  }
  50% {
    transform: translate(25vw, 25vmin);
  }
  51% {
    transform: translate(25.5vw, 25.5vmin);
  }
  52% {
    transform: translate(26vw, 26vmin);
  }
  53% {
    transform: translate(26.5vw, 26.5vmin);
  }
  54% {
    transform: translate(27vw, 27vmin);
  }
  55% {
    transform: translate(27.5vw, 27.5vmin);
  }
  56% {
    transform: translate(28vw, 28vmin);
  }
  57% {
    transform: translate(28.5vw, 28.5vmin);
  }
  58% {
    transform: translate(29vw, 29vmin);
  }
  59% {
    transform: translate(29.5vw, 29.5vmin);
  }
  60% {
    transform: translate(30vw, 30vmin);
  }
  61% {
    transform: translate(30.5vw, 30.5vmin);
  }
  62% {
    transform: translate(31vw, 31vmin);
  }
  63% {
    transform: translate(31.5vw, 31.5vmin);
  }
  64% {
    transform: translate(32vw, 32vmin);
  }
  65% {
    transform: translate(32.5vw, 32.5vmin);
  }
  66% {
    transform: translate(33vw, 33vmin);
  }
  67% {
    transform: translate(33.5vw, 33.5vmin);
  }
  68% {
    transform: translate(34vw, 34vmin);
  }
  69% {
    transform: translate(34.5vw, 34.5vmin);
  }
  70% {
    transform: translate(35vw, 35vmin);
  }
  71% {
    transform: translate(35.5vw, 35.5vmin);
  }
  72% {
    transform: translate(36vw, 36vmin);
  }
  73% {
    transform: translate(36.5vw, 36.5vmin);
  }
  74% {
    transform: translate(37vw, 37vmin);
  }
  75% {
    transform: translate(37.5vw, 37.5vmin);
  }
  76% {
    transform: translate(38vw, 38vmin);
  }
  77% {
    transform: translate(38.5vw, 38.5vmin);
  }
  78% {
    transform: translate(39vw, 39vmin);
  }
  79% {
    transform: translate(39.5vw, 39.5vmin);
  }
  80% {
    transform: translate(40vw, 40vmin);
  }
  81% {
    transform: translate(40.5vw, 40.5vmin);
  }
  82% {
    transform: translate(41vw, 41vmin);
  }
  83% {
    transform: translate(41.5vw, 41.5vmin);
  }
  84% {
    transform: translate(42vw, 42vmin);
  }
  85% {
    transform: translate(42.5vw, 42.5vmin);
  }
  86% {
    transform: translate(43vw, 43vmin);
  }
  87% {
    transform: translate(43.5vw, 43.5vmin);
  }
  88% {
    transform: translate(44vw, 44vmin);
  }
  89% {
    transform: translate(44.5vw, 44.5vmin);
  }
  90% {
    transform: translate(45vw, 45vmin);
  }
  91% {
    transform: translate(45.5vw, 45.5vmin);
  }
  92% {
    transform: translate(46vw, 46vmin);
  }
  93% {
    transform: translate(46.5vw, 46.5vmin);
  }
  94% {
    transform: translate(47vw, 47vmin);
  }
  95% {
    transform: translate(47.5vw, 47.5vmin);
  }
  96% {
    transform: translate(48vw, 48vmin);
  }
  97% {
    transform: translate(48.5vw, 48.5vmin);
  }
  98% {
    transform: translate(49vw, 49vmin);
  }
  99% {
    transform: translate(49.5vw, 49.5vmin);
  }
  100% {
    transform: translate(50vw, 50vmin);
  }
}
.cuadratica {
  animation: cuadratica 5s linear 4s alternate infinite;
}

@keyframes cuadratica {
  0% {
    transform: translate(0vw, 100vmin);
  }
  1% {
    transform: translate(0.5vw, 96.04vmin);
  }
  2% {
    transform: translate(1vw, 92.16vmin);
  }
  3% {
    transform: translate(1.5vw, 88.36vmin);
  }
  4% {
    transform: translate(2vw, 84.64vmin);
  }
  5% {
    transform: translate(2.5vw, 81vmin);
  }
  6% {
    transform: translate(3vw, 77.44vmin);
  }
  7% {
    transform: translate(3.5vw, 73.96vmin);
  }
  8% {
    transform: translate(4vw, 70.56vmin);
  }
  9% {
    transform: translate(4.5vw, 67.24vmin);
  }
  10% {
    transform: translate(5vw, 64vmin);
  }
  11% {
    transform: translate(5.5vw, 60.84vmin);
  }
  12% {
    transform: translate(6vw, 57.76vmin);
  }
  13% {
    transform: translate(6.5vw, 54.76vmin);
  }
  14% {
    transform: translate(7vw, 51.84vmin);
  }
  15% {
    transform: translate(7.5vw, 49vmin);
  }
  16% {
    transform: translate(8vw, 46.24vmin);
  }
  17% {
    transform: translate(8.5vw, 43.56vmin);
  }
  18% {
    transform: translate(9vw, 40.96vmin);
  }
  19% {
    transform: translate(9.5vw, 38.44vmin);
  }
  20% {
    transform: translate(10vw, 36vmin);
  }
  21% {
    transform: translate(10.5vw, 33.64vmin);
  }
  22% {
    transform: translate(11vw, 31.36vmin);
  }
  23% {
    transform: translate(11.5vw, 29.16vmin);
  }
  24% {
    transform: translate(12vw, 27.04vmin);
  }
  25% {
    transform: translate(12.5vw, 25vmin);
  }
  26% {
    transform: translate(13vw, 23.04vmin);
  }
  27% {
    transform: translate(13.5vw, 21.16vmin);
  }
  28% {
    transform: translate(14vw, 19.36vmin);
  }
  29% {
    transform: translate(14.5vw, 17.64vmin);
  }
  30% {
    transform: translate(15vw, 16vmin);
  }
  31% {
    transform: translate(15.5vw, 14.44vmin);
  }
  32% {
    transform: translate(16vw, 12.96vmin);
  }
  33% {
    transform: translate(16.5vw, 11.56vmin);
  }
  34% {
    transform: translate(17vw, 10.24vmin);
  }
  35% {
    transform: translate(17.5vw, 9vmin);
  }
  36% {
    transform: translate(18vw, 7.84vmin);
  }
  37% {
    transform: translate(18.5vw, 6.76vmin);
  }
  38% {
    transform: translate(19vw, 5.76vmin);
  }
  39% {
    transform: translate(19.5vw, 4.84vmin);
  }
  40% {
    transform: translate(20vw, 4vmin);
  }
  41% {
    transform: translate(20.5vw, 3.24vmin);
  }
  42% {
    transform: translate(21vw, 2.56vmin);
  }
  43% {
    transform: translate(21.5vw, 1.96vmin);
  }
  44% {
    transform: translate(22vw, 1.44vmin);
  }
  45% {
    transform: translate(22.5vw, 1vmin);
  }
  46% {
    transform: translate(23vw, 0.64vmin);
  }
  47% {
    transform: translate(23.5vw, 0.36vmin);
  }
  48% {
    transform: translate(24vw, 0.16vmin);
  }
  49% {
    transform: translate(24.5vw, 0.04vmin);
  }
  50% {
    transform: translate(25vw, 0vmin);
  }
  51% {
    transform: translate(25.5vw, 0.04vmin);
  }
  52% {
    transform: translate(26vw, 0.16vmin);
  }
  53% {
    transform: translate(26.5vw, 0.36vmin);
  }
  54% {
    transform: translate(27vw, 0.64vmin);
  }
  55% {
    transform: translate(27.5vw, 1vmin);
  }
  56% {
    transform: translate(28vw, 1.44vmin);
  }
  57% {
    transform: translate(28.5vw, 1.96vmin);
  }
  58% {
    transform: translate(29vw, 2.56vmin);
  }
  59% {
    transform: translate(29.5vw, 3.24vmin);
  }
  60% {
    transform: translate(30vw, 4vmin);
  }
  61% {
    transform: translate(30.5vw, 4.84vmin);
  }
  62% {
    transform: translate(31vw, 5.76vmin);
  }
  63% {
    transform: translate(31.5vw, 6.76vmin);
  }
  64% {
    transform: translate(32vw, 7.84vmin);
  }
  65% {
    transform: translate(32.5vw, 9vmin);
  }
  66% {
    transform: translate(33vw, 10.24vmin);
  }
  67% {
    transform: translate(33.5vw, 11.56vmin);
  }
  68% {
    transform: translate(34vw, 12.96vmin);
  }
  69% {
    transform: translate(34.5vw, 14.44vmin);
  }
  70% {
    transform: translate(35vw, 16vmin);
  }
  71% {
    transform: translate(35.5vw, 17.64vmin);
  }
  72% {
    transform: translate(36vw, 19.36vmin);
  }
  73% {
    transform: translate(36.5vw, 21.16vmin);
  }
  74% {
    transform: translate(37vw, 23.04vmin);
  }
  75% {
    transform: translate(37.5vw, 25vmin);
  }
  76% {
    transform: translate(38vw, 27.04vmin);
  }
  77% {
    transform: translate(38.5vw, 29.16vmin);
  }
  78% {
    transform: translate(39vw, 31.36vmin);
  }
  79% {
    transform: translate(39.5vw, 33.64vmin);
  }
  80% {
    transform: translate(40vw, 36vmin);
  }
  81% {
    transform: translate(40.5vw, 38.44vmin);
  }
  82% {
    transform: translate(41vw, 40.96vmin);
  }
  83% {
    transform: translate(41.5vw, 43.56vmin);
  }
  84% {
    transform: translate(42vw, 46.24vmin);
  }
  85% {
    transform: translate(42.5vw, 49vmin);
  }
  86% {
    transform: translate(43vw, 51.84vmin);
  }
  87% {
    transform: translate(43.5vw, 54.76vmin);
  }
  88% {
    transform: translate(44vw, 57.76vmin);
  }
  89% {
    transform: translate(44.5vw, 60.84vmin);
  }
  90% {
    transform: translate(45vw, 64vmin);
  }
  91% {
    transform: translate(45.5vw, 67.24vmin);
  }
  92% {
    transform: translate(46vw, 70.56vmin);
  }
  93% {
    transform: translate(46.5vw, 73.96vmin);
  }
  94% {
    transform: translate(47vw, 77.44vmin);
  }
  95% {
    transform: translate(47.5vw, 81vmin);
  }
  96% {
    transform: translate(48vw, 84.64vmin);
  }
  97% {
    transform: translate(48.5vw, 88.36vmin);
  }
  98% {
    transform: translate(49vw, 92.16vmin);
  }
  99% {
    transform: translate(49.5vw, 96.04vmin);
  }
  100% {
    transform: translate(50vw, 100vmin);
  }
}
.trigonometrica {
  animation: trigonometrica 5s linear 6s alternate infinite;
}

@keyframes trigonometrica {
  0% {
    transform: translate(0vw, 0vmin);
  }
  1% {
    transform: translate(0.5vw, 4.207354924vmin);
  }
  2% {
    transform: translate(1vw, 4.5464871341vmin);
  }
  3% {
    transform: translate(1.5vw, 0.7056000403vmin);
  }
  4% {
    transform: translate(2vw, -3.7840124765vmin);
  }
  5% {
    transform: translate(2.5vw, -4.7946213733vmin);
  }
  6% {
    transform: translate(3vw, -1.397077491vmin);
  }
  7% {
    transform: translate(3.5vw, 3.2849329936vmin);
  }
  8% {
    transform: translate(4vw, 4.9467912331vmin);
  }
  9% {
    transform: translate(4.5vw, 2.0605924262vmin);
  }
  10% {
    transform: translate(5vw, -2.7201055544vmin);
  }
  11% {
    transform: translate(5.5vw, -4.9999510328vmin);
  }
  12% {
    transform: translate(6vw, -2.68286459vmin);
  }
  13% {
    transform: translate(6.5vw, 2.1008351841vmin);
  }
  14% {
    transform: translate(7vw, 4.9530367785vmin);
  }
  15% {
    transform: translate(7.5vw, 3.2514392008vmin);
  }
  16% {
    transform: translate(8vw, -1.4395165833vmin);
  }
  17% {
    transform: translate(8.5vw, -4.8069874594vmin);
  }
  18% {
    transform: translate(9vw, -3.7549362339vmin);
  }
  19% {
    transform: translate(9.5vw, 0.7493860483vmin);
  }
  20% {
    transform: translate(10vw, 4.5647262536vmin);
  }
  21% {
    transform: translate(10.5vw, 4.1832781927vmin);
  }
  22% {
    transform: translate(11vw, -0.0442565465vmin);
  }
  23% {
    transform: translate(11.5vw, -4.2311020209vmin);
  }
  24% {
    transform: translate(12vw, -4.52789181vmin);
  }
  25% {
    transform: translate(12.5vw, -0.6617587505vmin);
  }
  26% {
    transform: translate(13vw, 3.8127922524vmin);
  }
  27% {
    transform: translate(13.5vw, 4.781879642vmin);
  }
  28% {
    transform: translate(14vw, 1.3545289415vmin);
  }
  29% {
    transform: translate(14.5vw, -3.3181694211vmin);
  }
  30% {
    transform: translate(15vw, -4.9401581205vmin);
  }
  31% {
    transform: translate(15.5vw, -2.0201882266vmin);
  }
  32% {
    transform: translate(16vw, 2.7571334062vmin);
  }
  33% {
    transform: translate(16.5vw, 4.9995593005vmin);
  }
  34% {
    transform: translate(17vw, 2.6454134306vmin);
  }
  35% {
    transform: translate(17.5vw, -2.1409133475vmin);
  }
  36% {
    transform: translate(18vw, -4.9588942672vmin);
  }
  37% {
    transform: translate(18.5vw, -3.2176906668vmin);
  }
  38% {
    transform: translate(19vw, 1.4818428935vmin);
  }
  39% {
    transform: translate(19.5vw, 4.8189769314vmin);
  }
  40% {
    transform: translate(20vw, 3.7255658024vmin);
  }
  41% {
    transform: translate(20.5vw, -0.793113344vmin);
  }
  42% {
    transform: translate(21vw, -4.5826077396vmin);
  }
  43% {
    transform: translate(21.5vw, -4.1588737131vmin);
  }
  44% {
    transform: translate(22vw, 0.0885096255vmin);
  }
  45% {
    transform: translate(22.5vw, 4.2545176227vmin);
  }
  46% {
    transform: translate(23vw, 4.5089417382vmin);
  }
  47% {
    transform: translate(23.5vw, 0.6178656137vmin);
  }
  48% {
    transform: translate(24vw, -3.8412733066vmin);
  }
  49% {
    transform: translate(24.5vw, -4.7687632638vmin);
  }
  50% {
    transform: translate(25vw, -1.3118742685vmin);
  }
  51% {
    transform: translate(25.5vw, 3.3511458792vmin);
  }
  52% {
    transform: translate(26vw, 4.9331379602vmin);
  }
  53% {
    transform: translate(26.5vw, 1.9796257509vmin);
  }
  54% {
    transform: translate(27vw, -2.7939452443vmin);
  }
  55% {
    transform: translate(27.5vw, -4.9987758668vmin);
  }
  56% {
    transform: translate(28vw, -2.6077550104vmin);
  }
  57% {
    transform: translate(28.5vw, 2.1808237762vmin);
  }
  58% {
    transform: translate(29vw, 4.9643632404vmin);
  }
  59% {
    transform: translate(29.5vw, 3.1836900357vmin);
  }
  60% {
    transform: translate(30vw, -1.5240531055vmin);
  }
  61% {
    transform: translate(30.5vw, -4.83058885vmin);
  }
  62% {
    transform: translate(31vw, -3.6959034832vmin);
  }
  63% {
    transform: translate(31.5vw, 0.8367785015vmin);
  }
  64% {
    transform: translate(32vw, 4.600130191vmin);
  }
  65% {
    transform: translate(32.5vw, 4.1341433975vmin);
  }
  66% {
    transform: translate(33vw, -0.1327557701vmin);
  }
  67% {
    transform: translate(33.5vw, -4.2775998949vmin);
  }
  68% {
    transform: translate(34vw, -4.4896384034vmin);
  }
  69% {
    transform: translate(34.5vw, -0.5739240689vmin);
  }
  70% {
    transform: translate(35vw, 3.8694534078vmin);
  }
  71% {
    transform: translate(35.5vw, 4.7552732663vmin);
  }
  72% {
    transform: translate(36vw, 1.2691168138vmin);
  }
  73% {
    transform: translate(36.5vw, -3.3838597844vmin);
  }
  74% {
    transform: translate(37vw, -4.9257313023vmin);
  }
  75% {
    transform: translate(37.5vw, -1.938908177vmin);
  }
  76% {
    transform: translate(38vw, 2.8305381845vmin);
  }
  77% {
    transform: translate(38.5vw, 4.9976007929vmin);
  }
  78% {
    transform: translate(39vw, 2.5698922799vmin);
  }
  79% {
    transform: translate(39.5vw, -2.2205633435vmin);
  }
  80% {
    transform: translate(40vw, -4.9694432696vmin);
  }
  81% {
    transform: translate(40.5vw, -3.1494399714vmin);
  }
  82% {
    transform: translate(41vw, 1.5661439122vmin);
  }
  83% {
    transform: translate(41.5vw, 4.8418223055vmin);
  }
  84% {
    transform: translate(42vw, 3.6659516004vmin);
  }
  85% {
    transform: translate(42.5vw, -0.8803780997vmin);
  }
  86% {
    transform: translate(43vw, -4.617292235vmin);
  }
  87% {
    transform: translate(43.5vw, -4.1090891832vmin);
  }
  88% {
    transform: translate(44vw, 0.1769915137vmin);
  }
  89% {
    transform: translate(44.5vw, 4.3003470291vmin);
  }
  90% {
    transform: translate(45vw, 4.469983318vmin);
  }
  91% {
    transform: translate(45.5vw, 0.5299375588vmin);
  }
  92% {
    transform: translate(46vw, -3.8973303481vmin);
  }
  93% {
    transform: translate(46.5vw, -4.7414107063vmin);
  }
  94% {
    transform: translate(47vw, -1.2262599273vmin);
  }
  95% {
    transform: translate(47.5vw, 3.4163085737vmin);
  }
  96% {
    transform: translate(48vw, 4.9179387272vmin);
  }
  97% {
    transform: translate(48.5vw, 1.8980386951vmin);
  }
  98% {
    transform: translate(49vw, -2.86690936vmin);
  }
  99% {
    transform: translate(49.5vw, -4.9960341709vmin);
  }
  100% {
    transform: translate(50vw, -2.5318282055vmin);
  }
}
.exponencial {
  animation: exponencial 5s linear 8s alternate infinite;
}

@keyframes exponencial {
  0% {
    transform: translate(0vw, 1vmin);
  }
  1% {
    transform: translate(0.5vw, 1.0488088482vmin);
  }
  2% {
    transform: translate(1vw, 1.1vmin);
  }
  3% {
    transform: translate(1.5vw, 1.153689733vmin);
  }
  4% {
    transform: translate(2vw, 1.21vmin);
  }
  5% {
    transform: translate(2.5vw, 1.2690587063vmin);
  }
  6% {
    transform: translate(3vw, 1.331vmin);
  }
  7% {
    transform: translate(3.5vw, 1.3959645769vmin);
  }
  8% {
    transform: translate(4vw, 1.4641vmin);
  }
  9% {
    transform: translate(4.5vw, 1.5355610346vmin);
  }
  10% {
    transform: translate(5vw, 1.61051vmin);
  }
  11% {
    transform: translate(5.5vw, 1.6891171381vmin);
  }
  12% {
    transform: translate(6vw, 1.771561vmin);
  }
  13% {
    transform: translate(6.5vw, 1.8580288519vmin);
  }
  14% {
    transform: translate(7vw, 1.9487171vmin);
  }
  15% {
    transform: translate(7.5vw, 2.0438317371vmin);
  }
  16% {
    transform: translate(8vw, 2.14358881vmin);
  }
  17% {
    transform: translate(8.5vw, 2.2482149108vmin);
  }
  18% {
    transform: translate(9vw, 2.357947691vmin);
  }
  19% {
    transform: translate(9.5vw, 2.4730364018vmin);
  }
  20% {
    transform: translate(10vw, 2.5937424601vmin);
  }
  21% {
    transform: translate(10.5vw, 2.720340042vmin);
  }
  22% {
    transform: translate(11vw, 2.8531167061vmin);
  }
  23% {
    transform: translate(11.5vw, 2.9923740462vmin);
  }
  24% {
    transform: translate(12vw, 3.1384283767vmin);
  }
  25% {
    transform: translate(12.5vw, 3.2916114509vmin);
  }
  26% {
    transform: translate(13vw, 3.4522712144vmin);
  }
  27% {
    transform: translate(13.5vw, 3.6207725959vmin);
  }
  28% {
    transform: translate(14vw, 3.7974983358vmin);
  }
  29% {
    transform: translate(14.5vw, 3.9828498555vmin);
  }
  30% {
    transform: translate(15vw, 4.1772481694vmin);
  }
  31% {
    transform: translate(15.5vw, 4.3811348411vmin);
  }
  32% {
    transform: translate(16vw, 4.5949729864vmin);
  }
  33% {
    transform: translate(16.5vw, 4.8192483252vmin);
  }
  34% {
    transform: translate(17vw, 5.054470285vmin);
  }
  35% {
    transform: translate(17.5vw, 5.3011731577vmin);
  }
  36% {
    transform: translate(18vw, 5.5599173135vmin);
  }
  37% {
    transform: translate(18.5vw, 5.8312904735vmin);
  }
  38% {
    transform: translate(19vw, 6.1159090448vmin);
  }
  39% {
    transform: translate(19.5vw, 6.4144195208vmin);
  }
  40% {
    transform: translate(20vw, 6.7274999493vmin);
  }
  41% {
    transform: translate(20.5vw, 7.0558614729vmin);
  }
  42% {
    transform: translate(21vw, 7.4002499443vmin);
  }
  43% {
    transform: translate(21.5vw, 7.7614476202vmin);
  }
  44% {
    transform: translate(22vw, 8.1402749387vmin);
  }
  45% {
    transform: translate(22.5vw, 8.5375923822vmin);
  }
  46% {
    transform: translate(23vw, 8.9543024326vmin);
  }
  47% {
    transform: translate(23.5vw, 9.3913516205vmin);
  }
  48% {
    transform: translate(24vw, 9.8497326758vmin);
  }
  49% {
    transform: translate(24.5vw, 10.3304867825vmin);
  }
  50% {
    transform: translate(25vw, 10.8347059434vmin);
  }
  51% {
    transform: translate(25.5vw, 11.3635354607vmin);
  }
  52% {
    transform: translate(26vw, 11.9181765377vmin);
  }
  53% {
    transform: translate(26.5vw, 12.4998890068vmin);
  }
  54% {
    transform: translate(27vw, 13.1099941915vmin);
  }
  55% {
    transform: translate(27.5vw, 13.7498779075vmin);
  }
  56% {
    transform: translate(28vw, 14.4209936106vmin);
  }
  57% {
    transform: translate(28.5vw, 15.1248656983vmin);
  }
  58% {
    transform: translate(29vw, 15.8630929717vmin);
  }
  59% {
    transform: translate(29.5vw, 16.6373522681vmin);
  }
  60% {
    transform: translate(30vw, 17.4494022689vmin);
  }
  61% {
    transform: translate(30.5vw, 18.3010874949vmin);
  }
  62% {
    transform: translate(31vw, 19.1943424958vmin);
  }
  63% {
    transform: translate(31.5vw, 20.1311962444vmin);
  }
  64% {
    transform: translate(32vw, 21.1137767454vmin);
  }
  65% {
    transform: translate(32.5vw, 22.1443158688vmin);
  }
  66% {
    transform: translate(33vw, 23.2251544199vmin);
  }
  67% {
    transform: translate(33.5vw, 24.3587474557vmin);
  }
  68% {
    transform: translate(34vw, 25.5476698619vmin);
  }
  69% {
    transform: translate(34.5vw, 26.7946222013vmin);
  }
  70% {
    transform: translate(35vw, 28.1024368481vmin);
  }
  71% {
    transform: translate(35.5vw, 29.4740844214vmin);
  }
  72% {
    transform: translate(36vw, 30.9126805329vmin);
  }
  73% {
    transform: translate(36.5vw, 32.4214928635vmin);
  }
  74% {
    transform: translate(37vw, 34.0039485862vmin);
  }
  75% {
    transform: translate(37.5vw, 35.6636421499vmin);
  }
  76% {
    transform: translate(38vw, 37.4043434448vmin);
  }
  77% {
    transform: translate(38.5vw, 39.2300063649vmin);
  }
  78% {
    transform: translate(39vw, 41.1447777893vmin);
  }
  79% {
    transform: translate(39.5vw, 43.1530070014vmin);
  }
  80% {
    transform: translate(40vw, 45.2592555682vmin);
  }
  81% {
    transform: translate(40.5vw, 47.4683077015vmin);
  }
  82% {
    transform: translate(41vw, 49.785181125vmin);
  }
  83% {
    transform: translate(41.5vw, 52.2151384716vmin);
  }
  84% {
    transform: translate(42vw, 54.7636992375vmin);
  }
  85% {
    transform: translate(42.5vw, 57.4366523188vmin);
  }
  86% {
    transform: translate(43vw, 60.2400691612vmin);
  }
  87% {
    transform: translate(43.5vw, 63.1803175507vmin);
  }
  88% {
    transform: translate(44vw, 66.2640760774vmin);
  }
  89% {
    transform: translate(44.5vw, 69.4983493058vmin);
  }
  90% {
    transform: translate(45vw, 72.8904836851vmin);
  }
  91% {
    transform: translate(45.5vw, 76.4481842363vmin);
  }
  92% {
    transform: translate(46vw, 80.1795320536vmin);
  }
  93% {
    transform: translate(46.5vw, 84.09300266vmin);
  }
  94% {
    transform: translate(47vw, 88.197485259vmin);
  }
  95% {
    transform: translate(47.5vw, 92.502302926vmin);
  }
  96% {
    transform: translate(48vw, 97.0172337849vmin);
  }
  97% {
    transform: translate(48.5vw, 101.7525332186vmin);
  }
  98% {
    transform: translate(49vw, 106.7189571634vmin);
  }
  99% {
    transform: translate(49.5vw, 111.9277865404vmin);
  }
  100% {
    transform: translate(50vw, 117.3908528797vmin);
  }
}
.racional {
  animation: racional 5s linear 10s alternate infinite;
}

@keyframes racional {
  0% {
    transform: translate(0vw, -2vmin);
  }
  1% {
    transform: translate(0.5vw, -2.0408163265vmin);
  }
  2% {
    transform: translate(1vw, -2.0833333333vmin);
  }
  3% {
    transform: translate(1.5vw, -2.1276595745vmin);
  }
  4% {
    transform: translate(2vw, -2.1739130435vmin);
  }
  5% {
    transform: translate(2.5vw, -2.2222222222vmin);
  }
  6% {
    transform: translate(3vw, -2.2727272727vmin);
  }
  7% {
    transform: translate(3.5vw, -2.3255813953vmin);
  }
  8% {
    transform: translate(4vw, -2.380952381vmin);
  }
  9% {
    transform: translate(4.5vw, -2.4390243902vmin);
  }
  10% {
    transform: translate(5vw, -2.5vmin);
  }
  11% {
    transform: translate(5.5vw, -2.5641025641vmin);
  }
  12% {
    transform: translate(6vw, -2.6315789474vmin);
  }
  13% {
    transform: translate(6.5vw, -2.7027027027vmin);
  }
  14% {
    transform: translate(7vw, -2.7777777778vmin);
  }
  15% {
    transform: translate(7.5vw, -2.8571428571vmin);
  }
  16% {
    transform: translate(8vw, -2.9411764706vmin);
  }
  17% {
    transform: translate(8.5vw, -3.0303030303vmin);
  }
  18% {
    transform: translate(9vw, -3.125vmin);
  }
  19% {
    transform: translate(9.5vw, -3.2258064516vmin);
  }
  20% {
    transform: translate(10vw, -3.3333333333vmin);
  }
  21% {
    transform: translate(10.5vw, -3.4482758621vmin);
  }
  22% {
    transform: translate(11vw, -3.5714285714vmin);
  }
  23% {
    transform: translate(11.5vw, -3.7037037037vmin);
  }
  24% {
    transform: translate(12vw, -3.8461538462vmin);
  }
  25% {
    transform: translate(12.5vw, -4vmin);
  }
  26% {
    transform: translate(13vw, -4.1666666667vmin);
  }
  27% {
    transform: translate(13.5vw, -4.347826087vmin);
  }
  28% {
    transform: translate(14vw, -4.5454545455vmin);
  }
  29% {
    transform: translate(14.5vw, -4.7619047619vmin);
  }
  30% {
    transform: translate(15vw, -5vmin);
  }
  31% {
    transform: translate(15.5vw, -5.2631578947vmin);
  }
  32% {
    transform: translate(16vw, -5.5555555556vmin);
  }
  33% {
    transform: translate(16.5vw, -5.8823529412vmin);
  }
  34% {
    transform: translate(17vw, -6.25vmin);
  }
  35% {
    transform: translate(17.5vw, -6.6666666667vmin);
  }
  36% {
    transform: translate(18vw, -7.1428571429vmin);
  }
  37% {
    transform: translate(18.5vw, -7.6923076923vmin);
  }
  38% {
    transform: translate(19vw, -8.3333333333vmin);
  }
  39% {
    transform: translate(19.5vw, -9.0909090909vmin);
  }
  40% {
    transform: translate(20vw, -10vmin);
  }
  41% {
    transform: translate(20.5vw, -11.1111111111vmin);
  }
  42% {
    transform: translate(21vw, -12.5vmin);
  }
  43% {
    transform: translate(21.5vw, -14.2857142857vmin);
  }
  44% {
    transform: translate(22vw, -16.6666666667vmin);
  }
  45% {
    transform: translate(22.5vw, -20vmin);
  }
  46% {
    transform: translate(23vw, -25vmin);
  }
  47% {
    transform: translate(23.5vw, -33.3333333333vmin);
  }
  48% {
    transform: translate(24vw, -50vmin);
  }
  49% {
    transform: translate(24.5vw, -100vmin);
  }
  50% {
    transform: translate(25vw, 1vmin);
  }
  51% {
    transform: translate(25.5vw, 100vmin);
  }
  52% {
    transform: translate(26vw, 50vmin);
  }
  53% {
    transform: translate(26.5vw, 33.3333333333vmin);
  }
  54% {
    transform: translate(27vw, 25vmin);
  }
  55% {
    transform: translate(27.5vw, 20vmin);
  }
  56% {
    transform: translate(28vw, 16.6666666667vmin);
  }
  57% {
    transform: translate(28.5vw, 14.2857142857vmin);
  }
  58% {
    transform: translate(29vw, 12.5vmin);
  }
  59% {
    transform: translate(29.5vw, 11.1111111111vmin);
  }
  60% {
    transform: translate(30vw, 10vmin);
  }
  61% {
    transform: translate(30.5vw, 9.0909090909vmin);
  }
  62% {
    transform: translate(31vw, 8.3333333333vmin);
  }
  63% {
    transform: translate(31.5vw, 7.6923076923vmin);
  }
  64% {
    transform: translate(32vw, 7.1428571429vmin);
  }
  65% {
    transform: translate(32.5vw, 6.6666666667vmin);
  }
  66% {
    transform: translate(33vw, 6.25vmin);
  }
  67% {
    transform: translate(33.5vw, 5.8823529412vmin);
  }
  68% {
    transform: translate(34vw, 5.5555555556vmin);
  }
  69% {
    transform: translate(34.5vw, 5.2631578947vmin);
  }
  70% {
    transform: translate(35vw, 5vmin);
  }
  71% {
    transform: translate(35.5vw, 4.7619047619vmin);
  }
  72% {
    transform: translate(36vw, 4.5454545455vmin);
  }
  73% {
    transform: translate(36.5vw, 4.347826087vmin);
  }
  74% {
    transform: translate(37vw, 4.1666666667vmin);
  }
  75% {
    transform: translate(37.5vw, 4vmin);
  }
  76% {
    transform: translate(38vw, 3.8461538462vmin);
  }
  77% {
    transform: translate(38.5vw, 3.7037037037vmin);
  }
  78% {
    transform: translate(39vw, 3.5714285714vmin);
  }
  79% {
    transform: translate(39.5vw, 3.4482758621vmin);
  }
  80% {
    transform: translate(40vw, 3.3333333333vmin);
  }
  81% {
    transform: translate(40.5vw, 3.2258064516vmin);
  }
  82% {
    transform: translate(41vw, 3.125vmin);
  }
  83% {
    transform: translate(41.5vw, 3.0303030303vmin);
  }
  84% {
    transform: translate(42vw, 2.9411764706vmin);
  }
  85% {
    transform: translate(42.5vw, 2.8571428571vmin);
  }
  86% {
    transform: translate(43vw, 2.7777777778vmin);
  }
  87% {
    transform: translate(43.5vw, 2.7027027027vmin);
  }
  88% {
    transform: translate(44vw, 2.6315789474vmin);
  }
  89% {
    transform: translate(44.5vw, 2.5641025641vmin);
  }
  90% {
    transform: translate(45vw, 2.5vmin);
  }
  91% {
    transform: translate(45.5vw, 2.4390243902vmin);
  }
  92% {
    transform: translate(46vw, 2.380952381vmin);
  }
  93% {
    transform: translate(46.5vw, 2.3255813953vmin);
  }
  94% {
    transform: translate(47vw, 2.2727272727vmin);
  }
  95% {
    transform: translate(47.5vw, 2.2222222222vmin);
  }
  96% {
    transform: translate(48vw, 2.1739130435vmin);
  }
  97% {
    transform: translate(48.5vw, 2.1276595745vmin);
  }
  98% {
    transform: translate(49vw, 2.0833333333vmin);
  }
  99% {
    transform: translate(49.5vw, 2.0408163265vmin);
  }
  100% {
    transform: translate(50vw, 2vmin);
  }
}

/*# sourceMappingURL=functions.css.map */
