.gallery li{
    opacity: 0;
    transition: all .5s ease-out;
}
.gallery li.active{
    opacity: 1;
}
[class*="gallery-"]{
    border: none;
    padding: 1rem 10%;
    color: var(--light);
    background-color: transparent;
    font-size: min(calc(2vw + 1rem), 5rem);
    opacity: .3;
    transition: all .5s ease-in-out;
}
.indicators{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, -100%);
}
.indicators button{
    border-radius: 1.5rem;
    padding: .75rem;
    background-color: var(--light);
    opacity: .5;
    transition: all .5s ease-in;
}
.indicators .active{
    padding: .75rem 2.5rem;
}
.indicators button:hover,
[class*="gallery-"]:hover{
    opacity: .7;
}