/* Variables */
	:root{
		--first: #3c6;
		--second: #36c;
		--light: #eee;
		--dark: #333;
		--font: 'Raleway', 'calibri', 'segoe ui', sans-serif;
	}
/* Reglas Generales */
	*{
		box-sizing: border-box;
		font-family: var(--font);
	}
	body,
	h1,
	h2,
	h3,
	h4,
	[class*="menu"]{
		margin: 0;
	}
	[class*="menu"]{
		padding: 0;
	}
	[class*="menu"],
	.example{
		list-style: none;
	}
/* Pagina Principal */
	body{
		max-width: 1440px;
		display: grid;
		grid-template-areas:
			'error error' 
			'nav header'
			'nav main'
			'nav footer';
		margin: auto;
	}
	body::before{ grid-area: 'error'; }
	nav{ grid-area: nav; }
	#header{ grid-area: header; }
	main{ grid-area: main; }
	#footer{ grid-area: footer; }
/* Utilidades */
	.opacity{
		opacity: .3;
	}
	.opacity:hover{
		opacity: .7;
	}
	canvas, svg{
		display: none;
		border: .1rem solid var(--dark);
		width: min(100%,300px);
		height: 300px;
	}
	@media screen and (min-width: 576px){
		canvas,svg{	display: inline-block; }
	}