// variables
	//mediaqueries
	$sm: 576px;
	$md: 768px;
	$lg: 992px;
	$xl: 1200px;
	$cols: 16;
	//iconos
	$routes: '../assets/icon';
	$icon: 
		'css',
		'facebook',
		'github',
		'instagram',
		'linkedin',
		'twitter',
		'whatsapp',
		'youtube';
// mixin parametrico normalize
	@mixin normalize($m:0, $p:0, $b: none, $o:none, $ba:border, $ma:margin, $pa: padding, $oa:outline){
		#{$ma}: $m;
		#{$oa}: $o;
		#{$ba}: $b;
		#{$pa}: $p;
	}
// mixin parametrico backgrounds
	@mixin bg($bs:cover, $bc:inherit, $bp:center, $ba:scroll, $br:no-repeat){
		background-color: $bc;
		background-position: $bp;
		background-size: $bs;
		background-repeat: $br;
		background-attachment: $ba;
	}
// mixin parametrico flexbox
	@mixin flexbox($fd: column, $fj:center, $fa: unset, $fw:wrap, $f:flex){
		display: $f;
		flex-direction: $fd;
		justify-content: $fj;
		align-items: $fa;
		flex-wrap: $fw;
	}
// mixin metodo for sistema de grillas
	@mixin media($vw, $vn){
		@media screen and (min-width: $vw){
			@for $i from 1 through $cols{
				.col-#{$vn}-#{$i}{
					width: percentage($i / $cols); 
	}	}	}	}
	@include media($sm, sm);
	@include media($md, md);
	@include media($lg, lg);
	@include media($xl, xl);
// funcion each icon class
	@each $ico in $icon {
		.#{$ico}{
			background-image: url($routes+'/'+$ico+'.svg');
	}	}
//	estilos redes sociales	
	.social{
		@include flexbox(row);
		a{
			@include normalize(1vmin, $b:.5rem, $ba:border-radius);
			@include bg(calc(3vmin + 1rem), #eee);
			width:calc(5vmin + 1rem);
			height:calc(5vmin + 1rem);
			opacity: .6;
			transition: all .5s ease-out;
			&:hover{
				opacity: .8;
				animation: jump 1s ease-out;
				animation-iteration-count: infinite;
			&:active{
				opacity: 1;
				box-shadow: 0 0 .5rem #eee;
			}
	}	}	}
// implememntacion mixins formulario
	#contact{
		@include flexbox;
		max-width: 540px;
		margin: auto;
		label{
			height: 0;
			margin-top: .5rem;
			overflow: hidden;
			@media screen and (min-width: $md){
				height: auto;
		}	}
		input,
		textarea{
			@include normalize(.25rem, .25rem .5rem, .2rem solid transparent, $ma:border-radius );
			transition: all .5s ease;
			font-size: 1rem;
			&:focus{
				border-color: #333;
				transform: scale(1.1);
				& + .valid{
					@include normalize( 0 0 .25rem .25rem, .5rem, #ccc, $ba:border-color, $ma:border-radius );
					transform: scale(1.1);
					height: auto;
					background-color: #333;
					font-weight: bold;
				}
				&:valid{
					border-color: lightgreen;
					& + .valid{
						border-color: lightgreen;
						color: darkgreen;
						background-color: lightgreen;
		}	}	}	}
		.valid{
			@include normalize;
			overflow: hidden;
			height: 0;
			transition: all .5s ease;
		}
		.button{
			@include normalize(.2rem 0, .5rem 1rem, .25rem, $ba:border-radius);
		}
	}
