#header {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--light);
  background: var(--first) linear-gradient(var(--first), var(--dark));
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  #header {
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: 100vh;
  }
}
#header .portrait {
  margin: 0.5rem;
  border: 0.2rem solid var(--second);
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--light);
  opacity: 0.8;
  animation: appearFromLeft 2s ease-out 0.5s;
  animation-fill-mode: backwards;
}
#header .header {
  margin: 0;
  border: 0;
  padding: 1rem;
  max-width: 40rem;
  max-height: unset;
  width: 100%;
  height: auto;
  font-size: min(calc(2vw + 0.5rem), 2.5rem);
  text-shadow: 0 0 0.5rem var(--dark);
  animation: appearFromRight 2s ease-out 0.5s;
  animation-fill-mode: backwards;
}
main section {
  min-height: 100vh;
  padding: 1rem;
}
main section:nth-child(1n) {
  --bg: radial-gradient(circle at top left, hsl(67.5, 50%, 60%), hsl(22.5, 50%, 40%));
}
main section:nth-child(2n) {
  --bg: radial-gradient(circle at top left, hsl(135, 50%, 60%), hsl(45, 50%, 40%));
}
main section:nth-child(3n) {
  --bg: radial-gradient(circle at top left, hsl(202.5, 50%, 60%), hsl(67.5, 50%, 40%));
}
main section:nth-child(4n) {
  --bg: radial-gradient(circle at top left, hsl(270, 50%, 60%), hsl(90, 50%, 40%));
}
main section .header {
  margin: -1rem -1rem 1rem;
  border: 0;
  padding: 0.5rem min(calc(100vw - 660px), 1rem);
  background: var(--bg);
}
main .osx-bg {
  background: var(--bg) center / cover;
}
main .osx-bg:nth-child(1n) {
  --bg: url('../assets/bg/osx-catalina-night.jpg');
}
main .osx-bg:nth-child(2n) {
  --bg: url('../assets/bg/osx-catalina.jpg');
}
main .osx-bg:nth-child(3n) {
  --bg: url('../assets/bg/osx-el-capitan.jpg');
}
main .osx-bg:nth-child(4n) {
  --bg: url('../assets/bg/osx-high-sierra.jpg');
}
main .osx-bg:nth-child(5n) {
  --bg: url('../assets/bg/osx-leopard.jpg');
}
main .osx-bg:nth-child(6n) {
  --bg: url('../assets/bg/osx-lion.jpg');
}
main .osx-bg:nth-child(7n) {
  --bg: url('../assets/bg/osx-mavericks.jpg');
}
main .osx-bg:nth-child(8n) {
  --bg: url('../assets/bg/osx-mojave-night.jpg');
}
main .osx-bg:nth-child(9n) {
  --bg: url('../assets/bg/osx-mojave.jpg');
}
main .osx-bg:nth-child(10n) {
  --bg: url('../assets/bg/osx-monterrey-dark.jpg');
}
main .osx-bg:nth-child(11n) {
  --bg: url('../assets/bg/osx-monterrey-light.jpg');
}
main .osx-bg:nth-child(12n) {
  --bg: url('../assets/bg/osx-mountain-lion.jpg');
}
main .osx-bg:nth-child(13n) {
  --bg: url('../assets/bg/osx-sierra.jpg');
}
main .osx-bg:nth-child(14n) {
  --bg: url('../assets/bg/osx-snow-leopard.jpg');
}
main .osx-bg:nth-child(15n) {
  --bg: url('../assets/bg/osx-tiger.jpg');
}
main .osx-bg:nth-child(16n) {
  --bg: url('../assets/bg/osx-yosemite.jpg');
}
main .ubuntu-bg {
  background: var(--bg) center / cover;
}
main .ubuntu-bg:nth-child(1n) {
  --bg: url('../assets/bg/ubuntu-artful-aardvark.jpg');
}
main .ubuntu-bg:nth-child(2n) {
  --bg: url('../assets/bg/ubuntu-bionic-beaver.jpg');
}
main .ubuntu-bg:nth-child(3n) {
  --bg: url('../assets/bg/ubuntu-cosmic-cuttlefish.jpg');
}
main .ubuntu-bg:nth-child(4n) {
  --bg: url('../assets/bg/ubuntu-disco-dingo.jpg');
}
main .ubuntu-bg:nth-child(5n) {
  --bg: url('../assets/bg/ubuntu-eoan-ermine.jpg');
}
main .ubuntu-bg:nth-child(6n) {
  --bg: url('../assets/bg/ubuntu-focal-fossa.jpg');
}
main .ubuntu-bg:nth-child(7n) {
  --bg: url('../assets/bg/ubuntu-groovy-gorilla.jpg');
}
main .ubuntu-bg:nth-child(8n) {
  --bg: url('../assets/bg/ubuntu-hisurte-hippo.jpg');
}
main .ubuntu-bg:nth-child(9n) {
  --bg: url('../assets/bg/ubuntu-impish-Indri.jpg');
}
main .ubuntu-bg:nth-child(10n) {
  --bg: url('../assets/bg/ubuntu-jammy-jellyfish.jpg');
}
.zeroise {
  margin: 0;
  border: 0;
  padding: 0;
}
.unstyled {
  list-style: none;
  text-decoration: none;
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}
.r-portrait,
#header .portrait {
  max-width: 20rem;
  max-height: 20rem;
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
}
/* Sistema de Grillas */
.col-1 {
  width: 4.16666667%;
}
.col-2 {
  width: 8.33333333%;
}
.col-3 {
  width: 12.5%;
}
.col-4 {
  width: 16.66666667%;
}
.col-5 {
  width: 20.83333333%;
}
.col-6 {
  width: 25%;
}
.col-7 {
  width: 29.16666667%;
}
.col-8 {
  width: 33.33333333%;
}
.col-9 {
  width: 37.5%;
}
.col-10 {
  width: 41.66666667%;
}
.col-11 {
  width: 45.83333333%;
}
.col-12 {
  width: 50%;
}
.col-13 {
  width: 54.16666667%;
}
.col-14 {
  width: 58.33333333%;
}
.col-15 {
  width: 62.5%;
}
.col-16 {
  width: 66.66666667%;
}
.col-17 {
  width: 70.83333333%;
}
.col-18 {
  width: 75%;
}
.col-19 {
  width: 79.16666667%;
}
.col-20 {
  width: 83.33333333%;
}
.col-21 {
  width: 87.5%;
}
.col-22 {
  width: 91.66666667%;
}
.col-23 {
  width: 95.83333333%;
}
.col-24 {
  width: 100%;
}
