#header{
    padding: min(20%, 240px) 1rem;
    text-align: center;
    font-size: min(3rem, calc(3vw + .5rem));
    background-image: 
        radial-gradient(
            circle at top right,
            hsla(20, 50%, 60%, .7),
            hsla(260, 50%, 40%, .7)
        ),
        url('../assets/icon/cr.svg'),
        url('../assets/bg/osx-mountain-lion.jpg');
    background-position: center;
    background-size: 
        contain,
        clamp(5rem, 50%, 240px), /*(min,size,max)*/
        cover;
    background-repeat: no-repeat;
    background-attachment: 
        scroll,
        scroll,
        fixed;
    text-shadow: 0 0 .5rem #333; /*-x+ -y+ blur color*/
    overflow: hidden;
    perspective: 10rem; /*profundidad*/
    perspective-origin: center; /*punto de fuga*/
}
.header{
    margin: -1rem -1rem .5rem; /* top right bottom left */
    padding: 1rem;
    color: #eee;
    background-color: #448;
}
header{
    color: #448;
    border-bottom: 2px solid;
}
/* Animaciones Cabecera */
h1{
    animation: intro 5s 2s linear;
    animation-fill-mode: backwards;
    /* name duration timing*/
    transform: 
        translateZ(3rem)
        rotateX(15deg);
}
h1 + p{
    animation: entrance 5s linear;
    animation-fill-mode: forwards;
    transform: translateX(-100vw);
    opacity: .5;
}