#header{
    display: flex;
    flex-direction: column-reverse;
}
.header{
    padding: min(50%, 270px) 1rem;
    font-size: min(calc(2vw + .5rem), 3rem);
    /*  Explicacion:
        min(a,b)        utiliza el valor mas chico
        a =             calcula 2% viewport + 1/2 font html
        b =             equivalente a 3 veces font html
    */
    color: #eee;
    text-align: center;
    background: 
        url('../assets/bg/bg_millenium_falcon.png') 20% 50%/min(50%,600px) no-repeat, /*millenium falcon*/
        url('../assets/bg/bg_death_star.png') 80% 10%/min(20%,300px) no-repeat,/*death star*/
        #012 url('../assets/bg/bg_galaxy.jpg') center/cover; /*galaxy*/
    /* color image position/size repeat*/
    background-attachment:
        scroll,
        fixed,
        fixed;
}
.header h1,
.header span{
    text-shadow: 0 0 .5rem, 
        -.2rem -.2rem #da3, 
        -.2rem .2rem #da3,
        .2rem .2rem #da3,
        .2rem -.2rem #da3;
    letter-spacing: .3rem;
    font-family: 'star wars';
}
nav{
    width: 100%;
    position: fixed;
    /* EXPLICACION:
        El elemento se ubica con respecto al viewport
        y permanece fuera del flujo del documento
    */
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background: linear-gradient(to right, #224, #012)
}
nav .btn{
    min-width: 2.5rem;
    font-size: 1.25rem;
    padding: .5rem;
    color: #eee;
    border-color: #eee;
}
nav a{
    padding: .5rem; /* root EM */
    color: #ccc;
}
.menu a.active,
.menu a:hover{
    color: #dfc;
    text-shadow: 0 0 .5rem #efc;
}
.menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all .3s linear 0s;
}
.menu.active{
    max-height: 100vh;
    background-color: #012;
}
/* Medium Devices - Tablets */
@media screen and (min-width: 768px) {
    nav .btn{
        display: none;
    }
    .menu{
        display: flex;
        width: auto;
        max-height: 640px;
    }
}
/* ExtraLarge Devices - HD Desktop */
@media screen and (min-width: 1200px){
    nav{
        padding: .5rem calc(50vw - 660px);
    }
}