//	Variables: Dato que se almacena en memoria y cuyo valor puede cambiar;
	@light: #eee;
	@dark: #333;
	@letter: 1rem;
	@r: (@letter / 4);
	@path: '../assets/bg';
	@backgrounds:
		'osx-el_capitan.jpg',
		'osx-yosemite.jpg',
		'osx-sierra.jpg',
		'osx-high_sierra.jpg';
	@col: 24;
// 	Nesting: Implementacion de selectores en forma de cascada;
	#header{
		.flexbox(column);
		.normalize(min(100vh, 640px); 1rem; center; text-align; @ma:min-height);
		position: relative;
		perspective-origin: center;
		perspective: 25rem;
		color: @light;
		// Encabezado
		.header{
			transform: rotateX(30deg);
			animation: star_wars 10s linear 1s;
			animation-fill-mode: backwards;
			.font;
			h1{	
				font-family: 'star wars';
				text-shadow: 0 0 min(2vw, 3rem) var(--dark);
			}
			h1,p{ &:extend(.zeroise); }
			.control{
				.flexbox;
				span{
					.normalize(.25rem; .5rem; 1rem; border-radius);
					min-width: 1rem;
					background-color: @light;
					box-shadow: 0 0 .5rem @dark;
					transition: all .5s ease-in;
					&.active{ min-width: 3rem; }
				}
			}
		}
		// Galeria
		.slide{
			&:extend(.zeroise);
			&:extend(.unstyled);
			li{
				&:extend(.cover);
				.bg(@backgrounds);
				opacity: 0;
				transition: all 2s ease-out;
				&.active{ opacity: 1; }
			}
		}
		// Controles
		button{
			&:extend(.unstyled);
			.position(absolute; top; bottom);
			.font;
			border: none;
			background-color: transparent;
			&.icon-prev{ left:0; }
			&.icon-next{ right:0; }
		}
	}
//	Mixin: Selectores que se implementan como atributos;
	.zeroise{ .normalize; }
	.unstyled{
		outline: none;
		list-style: none;
		text-decoration: none;
	}
	.cover{
		.position(absolute; @z:-1);
		width: 100%;
		height: 100%;
	}
//	Mixin Parametrico: Estilos que reciben valores como argumentos;
	.normalize(@m:0; @p:0; @b:0; @ba: border; @ma: margin; @pa: padding){
		@{ma}: @m;
		@{ba}: @b;
		@{pa}: @p;
	}
	.font(@f1: 2vw, @f2: .8rem, @f3: 5rem){
		font-size: ~'min(calc(@{f1} + @{f2}), @{f3})';
	}
	.flexbox(
		@fd: row;
		@fj: center;
		@fa: stretch;
		@fw: wrap;
		@f: flex
	){
		display: @f;
		flex-direction: @fd;
		justify-content: @fj;
		align-items: @fa;
		flex-wrap: @fw;
	}
	.position(@p: relative; @p1:top; @p2:left; @x:0; @y:0; @z:0){
		position: @p;
		@{p1}:@y;
		@{p2}:@x;
		z-index: @z;
	}
// 	Mixin Recursivo: Estilos que se repiten en base a una condicion
	.bg(@array; @ba: fixed; @i: 1) when (@i <= length(@array)){
		@bg: extract(@array, @i);
		&:nth-child(@{i}){
			background: url('@{path}/@{bg}') center/cover;
			background-attachment: @ba;
		}	.bg(@array; @ba; @i + 1);
	}
	.grid(@i:1) when(@i <= @col){
		.col-@{i}{ width: percentage((@i / @col)); }
		.grid(@i + 1);
	}
	/*Sistema de Grillas*/
	.grid;
/* animacion*/
@keyframes star_wars{
	0%{
		transform: 
			rotateX(0deg)
			translateZ(100rem)
			translateY(100vh);
	}
	30%{
		transform: 
			rotateX(0deg)
			translateZ(0);
	}
	60%{
		transform: 
			translateY(-100vh)
			rotateX(15deg)
			scale(.5);
	}
	100%{
		transform: rotateX(30deg);
	}
}
@import url('animation.less');