#home{
    min-height: min(100vh, 480px);
}
.slide{
    align-items: flex-end;
    gap: 2rem;
    overflow-y: hidden;
    overflow-x: auto;
    background-image: linear-gradient(
        transparent 15%,
        #e75 15%,
        hsla(30,60%,60%, .6),
        hsla(0,60%,40%, .6)
    );
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem var(--dark);
}
.item{
    flex: 0 0 min(100%, 320px);
}
.item img{
    width: 100%;
    min-height: min(100vh, 480px);
}

#home .item:hover img{
    transform-origin: bottom center;
    animation: jump .5s alternate infinite;
}