@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sznhsq');
  src:  url('../fonts/icomoon.eot?sznhsq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sznhsq') format('truetype'),
    url('../fonts/icomoon.woff?sznhsq') format('woff'),
    url('../fonts/icomoon.svg?sznhsq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-about:before {
  content: "\e904";
}
.icon-gallery:before {
  content: "\e90e";
}
.icon-contact:before {
  content: "\e976";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
