@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4m8gul');
  src:  url('../fonts/icomoon.eot?4m8gul#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4m8gul') format('truetype'),
    url('../fonts/icomoon.woff?4m8gul') format('woff'),
    url('../fonts/icomoon.svg?4m8gul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-about:before {
  content: "\e904";
}
.icon-gallery:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e912";
}
.icon-contact:before {
  content: "\e944";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pdf:before {
  content: "\eadf";
}
