@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?7w2o7r');
  src:  url('../assets/fonts/icomoon.eot?7w2o7r#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?7w2o7r') format('truetype'),
    url('../assets/fonts/icomoon.woff?7w2o7r') format('woff'),
    url('../assets/fonts/icomoon.svg?7w2o7r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-about:before {
  content: "\e904";
}
.icon-gallery:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-contact:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-back:before {
  content: "\e967";
}
.icon-chat:before {
  content: "\e96d";
}
.icon-max:before {
  content: "\e98b";
}
.icon-min:before {
  content: "\e98c";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-cancel:before {
  content: "\ea0f";
}
.icon-success:before {
  content: "\ea10";
}
.icon-login:before {
  content: "\ea13";
}
.icon-logout:before {
  content: "\ea14";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-backward:before {
  content: "\ea1f";
}
.icon-forward:before {
  content: "\ea20";
}
.icon-next:before {
  content: "\ea42";
}
.icon-prev:before {
  content: "\ea44";
}
.icon-embed:before {
  content: "\ea80";
}
.icon-git:before {
  content: "\eae7";
}
