@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rp85yp');
  src:  url('../fonts/icomoon.eot?rp85yp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rp85yp') format('truetype'),
    url('../fonts/icomoon.woff?rp85yp') format('woff'),
    url('../fonts/icomoon.svg?rp85yp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-gallery:before {
  content: "\e90e";
}
.icon-contact:before {
  content: "\e944";
}
.icon-chat:before {
  content: "\e96f";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-embed:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
