.menu-open::before{
    content: '\2630';
}
.menu-close::before{
    content: '\00d7';
}
.icon-home::before{
    content: '🏠'
}
.icon-about::before{
    content: '🌁'
}
.icon-globe::before{
    content: '🌐';
}
.icon-book::before{
    content: '📚';
}
.icon-business::before{
    content: '💻';
}
.icon-sheet::before{
    content: '📄';
}
.icon-contact::before{
    content: '🧑‍💼';
}