/* Icons */
.icon-home::before{
    content: '🏠';
}
.icon-about::before{
    content: '📰';
}
.icon-gallery::before{
    content: '📷';
}
.icon-contact::before{
    content: '🧑‍💼';
}
.icon-calendar::before{
    content: '📅';
}
.icon-studies::before{
    content: '✒️';
}
.icon-jobs::before{
    content: '👔';
}
.icon-projects::before{
    content: '💻';
}
/* Buttons */
.media-open::before{
    content: '\25f9';
}
.media-close::before{
    content:'\25fa';
}
.menu-open::before{
    content: '\2630';
}
.menu-close::before{
    content: '\26cc';
}
.map-open::before{
    content: '\271c';
}
.map-close::before{
    content: '\2015';
}