//Variables
	//colores
		@fst:#ccc; 
		@snd:#248; 
		@trd: #36c;
	//tamaños
		@sm: 576px;
		@md:768px;
		@lg:992px;
		@xl:1200px;

// anidacion de estilos
body{
	.normalize;
	#header{
		/*flexbox*/
			.flexbox(row; space-between; center);
		/*attributes*/
			.normalize(.5rem 1rem);
			color:@fst;
			background-color: @snd;
		nav{
			background-color: @trd;
		}
	}
	main{
		.header{
			background-color:@trd;
		}
		section{
			.mediaQuery(@sm);
			.mediaQuery(@md);
			.mediaQuery(@lg);
			.mediaQuery(@xl);
		}
	}
	#footer{
		color:@fst;
		background-color: @snd;
		#contact{
			*{
				width:100%;
			}
				.flexbox;
				.normalize(0; 1rem auto);
				.mediaQuery(@sm);
				.mediaQuery(@md);
				.mediaQuery(@lg);
		}
	}

}
// Mixins (estilos que se implementa en otro elemento)
	.rounded (){
		border-radius: 50%;
		--webkit-border-radius: 50%;
		--moz-border-radius: 50%;
		--o-border-radius: 50%;
		--ms-border-radius: 50%;
	}
// Mixins Parametricos (Funcion)
	.normalize(@p:0; @m:0; @b:0){
		margin:@m;
		border:@b;
		padding:@p;
	}
	.flexbox(
			@fd:column;
			@fj:center;
			@fa:flex-start;
			@fw:wrap;
			@f:flex
		){
		display: @f;
		flex-direction: @fd;
		justify-content: @fj;
		align-items: @fa;
		flex-wrap: @fw;
	}
.mediaQuery (@vw){
	@media screen and (max-width: @vw){
		max-width: 	
			if(@vw < @md, 540px,
			if(@vw < @lg, 720px,
			if(@vw < @xl, 992px,
				1140px)));
	}
}
//mixins parametricos (Bucles)
	.width (@n; @i:0px)  when (@i <= @n){
		width: @n * @i;
		.width(@n; @i + 1);
	}

	.grid ( @n; @i:1) when (@i <= @n){
		.col-@{i}{
			width: percentage(@i / @n);
		}
		.grid (@n; @i + 1);
	}

	.grid(24);