@import url(icomoon.css);
* {
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  transition: all 1s ease;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ccc;
}
nav a {
  display: block;
  padding: 0.5rem;
  color: #248;
  text-decoration: none;
}
nav #menu {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #d9d9d9;
  color: #d9d9d9;
  background-color: transparent;
}
nav #menu:hover {
  padding: 0.5rem 1rem;
  color: #808080;
  background-color: #d9d9d9;
}
@media screen and (min-width: 768px) {
  nav #menu {
    display: none;
  }
}
nav .menu {
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
nav .menu a:hover {
  background-color: #bfbfbf;
}
@media screen and (min-width: 768px) {
  nav .menu {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  nav .menu span {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  nav .menu span {
    display: inline-block;
  }
}
nav .openMenu {
  height: 8.5rem;
}
@media screen and (min-width: 768px) {
  nav .openMenu {
    height: auto;
  }
}
#header {
  padding: 1rem;
  height: 100vh;
  position: relative;
}
#header .slide {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
#header .slide li {
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
#header .slide li:nth-child(1) {
  background-image: url('../assets/img/osx-high-sierra.jpg');
}
#header .slide li:nth-child(2) {
  background-image: url('../assets/img/osx-leopard.png');
}
#header .slide li:nth-child(3) {
  background-image: url('../assets/img/osx-lion.png');
}
#header .slide li:nth-child(4) {
  background-image: url('../assets/img/osx-mavericks.png');
}
#header .slide li:nth-child(5) {
  background-image: url('../assets/img/osx-mojave-night.jpg');
}
#header .slide li:nth-child(6) {
  background-image: url('../assets/img/osx-mojave.jpg');
}
#header .slide li:nth-child(7) {
  background-image: url('../assets/img/osx-mountain-lion.jpg');
}
#header .slide li:nth-child(8) {
  background-image: url('../assets/img/osx-sierra.jpg');
}
#header .slide li:nth-child(9) {
  background-image: url('../assets/img/osx-snow-leopard.png');
}
#header .slide .active {
  opacity: 1;
}
main {
  display: block;
  padding: 0.5rem;
  grid-template-columns: auto auto auto;
  grid-template-areas: 'aside section-a section-a' 'aside section-b section-b';
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  main {
    display: grid;
  }
}
@media screen and (min-width: 768px) {
  main section {
    max-width: 720px;
  }
}
main section .videoSlide video {
  display: none;
}
main section .videoSlide .active {
  display: block;
}
main section svg,
main section canvas,
main section figure {
  max-width: 300px;
}
main section svg img,
main section canvas img,
main section figure img {
  width: 100%;
}
main section #vidPlay {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #d9d9d9;
  color: #d9d9d9;
  background-color: transparent;
}
main section:first-child {
  grid-area: aside;
}
main section:last-child {
  grid-area: section-b;
}
footer {
  color: #248;
  background-color: #ccc;
}
footer #contact {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: no-wrap;
}
@media screen and (min-width: 768px) {
  footer #contact {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  footer #contact {
    max-width: 960px;
  }
}
footer #contact input,
footer #contact textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0.5rem 1rem;
  resize: none;
}
footer #contact input + .validate,
footer #contact textarea + .validate {
  overflow: hidden;
  height: 0;
}
footer #contact input:focus + .validate,
footer #contact textarea:focus + .validate {
  height: auto;
  padding: 0.5rem;
  background-color: #b3b3b3;
}
footer #contact button {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #d9d9d9;
  color: #d9d9d9;
  background-color: transparent;
}
footer #contact button:hover {
  padding: 0.5rem 1rem;
  color: #808080;
  background-color: #d9d9d9;
}
.col-1 {
  width: 4.16666667%;
}
.col-2 {
  width: 8.33333333%;
}
.col-3 {
  width: 12.5%;
}
.col-4 {
  width: 16.66666667%;
}
.col-5 {
  width: 20.83333333%;
}
.col-6 {
  width: 25%;
}
.col-7 {
  width: 29.16666667%;
}
.col-8 {
  width: 33.33333333%;
}
.col-9 {
  width: 37.5%;
}
.col-10 {
  width: 41.66666667%;
}
.col-11 {
  width: 45.83333333%;
}
.col-12 {
  width: 50%;
}
.col-13 {
  width: 54.16666667%;
}
.col-14 {
  width: 58.33333333%;
}
.col-15 {
  width: 62.5%;
}
.col-16 {
  width: 66.66666667%;
}
.col-17 {
  width: 70.83333333%;
}
.col-18 {
  width: 75%;
}
.col-19 {
  width: 79.16666667%;
}
.col-20 {
  width: 83.33333333%;
}
.col-21 {
  width: 87.5%;
}
.col-22 {
  width: 91.66666667%;
}
.col-23 {
  width: 95.83333333%;
}
.col-24 {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 4.16666667%;
  }
  .col-sm-2 {
    width: 8.33333333%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-4 {
    width: 16.66666667%;
  }
  .col-sm-5 {
    width: 20.83333333%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-7 {
    width: 29.16666667%;
  }
  .col-sm-8 {
    width: 33.33333333%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-10 {
    width: 41.66666667%;
  }
  .col-sm-11 {
    width: 45.83333333%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-13 {
    width: 54.16666667%;
  }
  .col-sm-14 {
    width: 58.33333333%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-16 {
    width: 66.66666667%;
  }
  .col-sm-17 {
    width: 70.83333333%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-19 {
    width: 79.16666667%;
  }
  .col-sm-20 {
    width: 83.33333333%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-22 {
    width: 91.66666667%;
  }
  .col-sm-23 {
    width: 95.83333333%;
  }
  .col-sm-24 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 4.16666667%;
  }
  .col-md-2 {
    width: 8.33333333%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-4 {
    width: 16.66666667%;
  }
  .col-md-5 {
    width: 20.83333333%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-7 {
    width: 29.16666667%;
  }
  .col-md-8 {
    width: 33.33333333%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-10 {
    width: 41.66666667%;
  }
  .col-md-11 {
    width: 45.83333333%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-13 {
    width: 54.16666667%;
  }
  .col-md-14 {
    width: 58.33333333%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-16 {
    width: 66.66666667%;
  }
  .col-md-17 {
    width: 70.83333333%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-19 {
    width: 79.16666667%;
  }
  .col-md-20 {
    width: 83.33333333%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-22 {
    width: 91.66666667%;
  }
  .col-md-23 {
    width: 95.83333333%;
  }
  .col-md-24 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 4.16666667%;
  }
  .col-lg-2 {
    width: 8.33333333%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-4 {
    width: 16.66666667%;
  }
  .col-lg-5 {
    width: 20.83333333%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-7 {
    width: 29.16666667%;
  }
  .col-lg-8 {
    width: 33.33333333%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-10 {
    width: 41.66666667%;
  }
  .col-lg-11 {
    width: 45.83333333%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-13 {
    width: 54.16666667%;
  }
  .col-lg-14 {
    width: 58.33333333%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-16 {
    width: 66.66666667%;
  }
  .col-lg-17 {
    width: 70.83333333%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-19 {
    width: 79.16666667%;
  }
  .col-lg-20 {
    width: 83.33333333%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-22 {
    width: 91.66666667%;
  }
  .col-lg-23 {
    width: 95.83333333%;
  }
  .col-lg-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 4.16666667%;
  }
  .col-xl-2 {
    width: 8.33333333%;
  }
  .col-xl-3 {
    width: 12.5%;
  }
  .col-xl-4 {
    width: 16.66666667%;
  }
  .col-xl-5 {
    width: 20.83333333%;
  }
  .col-xl-6 {
    width: 25%;
  }
  .col-xl-7 {
    width: 29.16666667%;
  }
  .col-xl-8 {
    width: 33.33333333%;
  }
  .col-xl-9 {
    width: 37.5%;
  }
  .col-xl-10 {
    width: 41.66666667%;
  }
  .col-xl-11 {
    width: 45.83333333%;
  }
  .col-xl-12 {
    width: 50%;
  }
  .col-xl-13 {
    width: 54.16666667%;
  }
  .col-xl-14 {
    width: 58.33333333%;
  }
  .col-xl-15 {
    width: 62.5%;
  }
  .col-xl-16 {
    width: 66.66666667%;
  }
  .col-xl-17 {
    width: 70.83333333%;
  }
  .col-xl-18 {
    width: 75%;
  }
  .col-xl-19 {
    width: 79.16666667%;
  }
  .col-xl-20 {
    width: 83.33333333%;
  }
  .col-xl-21 {
    width: 87.5%;
  }
  .col-xl-22 {
    width: 91.66666667%;
  }
  .col-xl-23 {
    width: 95.83333333%;
  }
  .col-xl-24 {
    width: 100%;
  }
}
