/* Definicion de Areas */
body{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
        "nav";
}
/* Asignacion de Areas */
header{ 
    grid-area: header; 
}
nav{ 
    grid-area: nav;    
}
main{ 
    grid-area: main;   
}
footer{ 
    grid-area: footer; 
}
/* Medium Devices - Tablets */
@media screen and (min-width: 768px){
    body{
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer";
    }
}
/* Extra Large Devices - Desktop */
@media screen and (min-width: 1200px){
    body{
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }
    main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        max-width: 1320px;
        margin: auto;
        gap: 1rem;
        padding: 1rem;
    }
    section{
        grid-column: 1; /* SHORTHAND: column-start / column-end */
    }
    aside{
        grid-column: 2;
        grid-row: 1; /* SHORTHAND: row-start / row-end */
    }
}