/*Header*/
#header {
  margin: 0;
  border: none;
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  background-color: #333;
}
#header .header {
  text-shadow: 0 0 0.5rem #333;
  color: #eee;
}
#header .slide {
  margin: 0;
  border: none;
  padding: 0;
  list-style: none;
}
#header .slide li {
  position: absolute;
  top: 0;
  left: 0;
}
#header button {
  margin: 0;
  border: none;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  color: #eee;
  background-color: transparent;
}
#header button.icon-prev {
  position: absolute;
  top: 0;
  left: 0;
}
#header button.icon-next {
  position: absolute;
  top: 0;
  right: 0;
}
.text-shadow {
  text-shadow: 0 0 0.5rem #333;
}
.box-shadow {
  box-shadow: 0 0 0.5rem #333;
}
