/*Importaciones*/
@font-face {
  src: url('../assets/fonts/starjedi.ttf');
  font-family: 'star wars';
}
/*Header*/
#header {
  margin: 0;
  border: none;
  padding: 1rem;
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*viewport height*/
  min-height: 200px;
  max-height: 600px;
  text-align: center;
  /*Slide Gallery*/
}
#header .header {
  text-shadow: 0 0 0.5rem #333;
  color: #eee;
  font-size: calc(2vw + 0.5rem);
  /*viewport width*/
}
#header .header h1 {
  font-family: star wars;
}
#header .header h1,
#header .header p {
  margin: 0;
  border: none;
  padding: 0;
}
#header .header span {
  margin: 0.25rem;
  border: none;
  padding: 0;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #333;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #eee;
}
#header .header span.active {
  width: 3rem;
}
#header .slide {
  margin: 0;
  border: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
#header .slide li {
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
}
#header .slide li:nth-child(1) {
  background-image: url('../assets/img/osx-high-sierra.jpg');
}
#header .slide li:nth-child(2) {
  background-image: url('../assets/img/osx-leopard.png');
}
#header .slide li:nth-child(3) {
  background-image: url('../assets/img/osx-lion.png');
}
#header .slide li:nth-child(4) {
  background-image: url('../assets/img/osx-mavericks.png');
}
#header .slide li:nth-child(5) {
  background-image: url('../assets/img/osx-mojave-night.jpg');
}
#header .slide li:nth-child(6) {
  background-image: url('../assets/img/osx-mojave.jpg');
}
#header .slide li:nth-child(7) {
  background-image: url('../assets/img/osx-mountain-lion.jpg');
}
#header .slide li:nth-child(8) {
  background-image: url('../assets/img/osx-sierra.jpg');
}
#header .slide li:nth-child(9) {
  background-image: url('../assets/img/osx-snow-leopard.png');
}
#header .slide li.active {
  opacity: 1;
}
#header button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  border: none;
  padding: 0.5rem;
  color: #eee;
  background-color: transparent;
  font-size: calc(2vw + 1rem);
}
#header button.icon-prev {
  position: absolute;
  top: 0;
  left: 0;
}
#header button.icon-next {
  position: absolute;
  top: 0;
  right: 0;
}
.transition {
  transition: all 0.5s ease-in-out;
}
.text-shadow {
  text-shadow: 0 0 0.5rem #333;
}
.box-shadow {
  box-shadow: 0 0 0.5rem #333;
}
/* Grid System */
.col-1 {
  width: 4.16666667%;
}
.col-2 {
  width: 8.33333333%;
}
.col-3 {
  width: 12.5%;
}
.col-4 {
  width: 16.66666667%;
}
.col-5 {
  width: 20.83333333%;
}
.col-6 {
  width: 25%;
}
.col-7 {
  width: 29.16666667%;
}
.col-8 {
  width: 33.33333333%;
}
.col-9 {
  width: 37.5%;
}
.col-10 {
  width: 41.66666667%;
}
.col-11 {
  width: 45.83333333%;
}
.col-12 {
  width: 50%;
}
.col-13 {
  width: 54.16666667%;
}
.col-14 {
  width: 58.33333333%;
}
.col-15 {
  width: 62.5%;
}
.col-16 {
  width: 66.66666667%;
}
.col-17 {
  width: 70.83333333%;
}
.col-18 {
  width: 75%;
}
.col-19 {
  width: 79.16666667%;
}
.col-20 {
  width: 83.33333333%;
}
.col-21 {
  width: 87.5%;
}
.col-22 {
  width: 91.66666667%;
}
.col-23 {
  width: 95.83333333%;
}
.col-24 {
  width: 100%;
}
