/*Content First - Mobile First*/
	/*General Rules*/
		@import url('icomoon.css');
		@import url('less.css');
		@import url('sass.css');
		:root{
			--first: #448;
			--second: #36c;
			--light: #eee;
			--dark: #333;
			--hover: rgba(51,51,51,.5);
		}
		*{
			box-sizing: border-box;
			font-family: 'Raleway','segoe ui', 'calibri', sans-serif;
		}
		body,
		h1,
		h2,
		h3,
		.menu{
			margin: 0;
		}
		.btn{
			margin: .5rem;
			border-radius: .25rem;
			border: .1rem solid var(--light);
			color: var(--light);
			background-color: transparent;
			font-size: 1.2rem;
		}
		.btn:hover{
			color: var(--first);
			background-color: var(--light);
		}
		.opacity{ opacity: .3; }
		.opacity:hover{ opacity: .7; }
	/*Navigation*/
		nav{
			position: sticky;
			top: 0;
			z-index: 2;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background: 
				var(--first)
				linear-gradient( var(--second), var(--first));
		}
		nav a{
			display: block;
			padding: .5rem;
			color: var(--light);
			text-decoration: none;
		}
		nav span{
			padding: .5rem;
		}
		.logo{
			font-weight: bold;
			text-transform: uppercase;
		}
		.menu{
			width: 100%;
			max-height: 0;
			padding: 0;
			list-style: none;
			overflow: hidden;
		}
		.menu.active{
			max-height: 600px;
		}
		.menu a:hover{
			background-color: var(--hover);
		}
		.icon-back{
			position: fixed;
			right: .5rem;
			bottom: .5rem;
			border-radius: 1rem;
			background-color: var(--dark);
		}
/*Small Devices - Smartphones*/
	@media screen and (min-width: 576px){

	}
/*Medium Devices - Tablets*/
	@media screen and (min-width: 768px){
	/*Navigation*/
		nav .btn,
		nav span{ 
			display: none 
		}	
		nav .menu,
		.menu a{
			display: flex;
			align-items: center;
		}
		nav .menu{ 
			width: auto;
			max-height: 600px; 
		}
		.menu a{ font-size: 1.5rem; }	
	}
/*Large Devices - Desktop*/
	@media screen and (min-width: 992px){
	/*Navigation*/
		nav span{
			display: block;
			font-size: 1rem;
		}
	}
/*ExtraLarge Devices - HD Desktop*/	
	@media screen and (min-width: 1200px){
	/*Navigation*/
		nav{ justify-content: space-around }
	}