//Variables
	$icon: '../assets/icon';
	$social:
		'css',
		'facebook',
		'github',
		'instagram',
		'linkedin',
		'twitter',
		'whatsapp',
		'youtube';
	$attribs:
		text color,
		bg background-color,
		border border-color;
	$colors:
		primary #448,
		secondary #88e,
		light #eee,
		dark #333,
		info #36c,
		warning #f93,
		danger #c33,
		success #3c6;
	$queries:
		sm 576px,
		md 768px,
		lg 992px,
		xl 1200px;
	$form: Name, Email, Phone, Consult;
	$cols: 24;
// Loops each
	@each $ico in $social{
		.#{$ico}{
			background-image: url('#{$icon}/#{$ico}.svg');
	}	}
	@each $prop, $attr in $attribs{
		@each $cn, $cv in $colors{
			.#{$prop}-#{$cn}{
				#{$attr}:$cv;
	}	}	}
	// each ( (vn, vw) => media )
	@each $vn, $vw in $queries{
		@media screen and (min-width: $vw){
			// for (i = 1; i <= cols; i++)
			@for $i from 1 through $cols{
				.col-#{$vn}-#{$i}{
					width: percentage( $i / $cols );
	}	}	}	}
// Hidden Style
	%transition{
		transition: all .5s ease;
	}
	%icon{
		width: 5rem;
		height: 5rem;
		background-size: 2.5rem;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		opacity: .5;
		&:hover{
			background-size: 4rem; 
			opacity: .9;
			transform: rotate(360deg);
	}	}
//Mixins
	@mixin normalize(
		$m:0, $p:0, $b:none, $o:none,
		$ba: border, $ma: margin, $pa: padding, $oa: outline
	){
		#{$ma}: $m;
		#{$oa}: $o;
		#{$ba}: $b;
		#{$pa}: $p;
	}
/*Nesting*/
	.menu a{
		position: relative;
		@extend %transition;
		&::after{
			@extend %transition;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: .25rem;
			height: .25rem;
			background-color: var(--snd);
			opacity: 0;
		}
		&:hover{
			padding-left: 20vw;
			transform: 
				scale(1.2);
			&::after{
				width: 100%;
				opacity: 1;
				box-shadow: 0 0 .5rem var(--dark);
			}
			@media screen and (min-width: 768px){
				padding: .5rem;
			}
		}
	}
	section{
		.header{ @include normalize(.5rem 0, $b: .1rem solid #9998, $ba: border-bottom); }	
		.example{ list-style: none; }
	}
	#footer{
		@include normalize($p: 1rem);
		#contact{
			@include normalize(.5rem auto, $o: grid, $oa: display);
			@extend .col-sm-20, .col-md-18, .col-lg-12;
			label{ 
				@include normalize(.5rem, $ma: margin-top, $o: 0, $oa: max-height); 
				&::after{
					content: ' (*)';
					@extend .text-danger;
				}
			}
			@media screen and (min-width: 768px){
				label{ max-height: 100px }
			}
			@media screen and (min-width: 1200px){
				grid-template-columns: 50% 50%;
				grid-template-areas: 
					'heading 	heading'
					'lblName 	lblPhone'
					'cmdName 	cmdPhone'
					'vldName 	vldPhone'
					'lblEmail 	lblEmail'
					'cmdEmail 	cmdEmail'
					'vldEmail 	vldEmail'
					'lblCon 	lblCon'
					'cmdCon 	cmdCon'
					'.  		button'
					'msg 		msg';
				gap: 0 .5rem;
				h2{grid-area: heading }
				@each $sel in $form{
					label[for="contact#{$sel}"]{ grid-area: lbl+$sel }
					#contact#{$sel}{ grid-area: cmd+$sel;
					& + .valid { grid-area: vld+$sel;
				}	}	}
				.button{ grid-area: button}
				div:last-child{ grid-area: msg}
			}
			textarea{
				resize: none;
				min-height: 8rem;
			}
			input,
			textarea{
				@include normalize($p: .5rem 1rem, $b: .1rem solid #999);
				@extend %transition;
				&:focus{
					transform: scale(1.1);
					&:valid{
						@extend .border-success;
						& + .valid{ @extend .bg-success; } }
					&:not(:placeholder-shown):invalid{
						@extend .border-danger;
						& + .valid{ @extend .bg-danger;  } }
					& + .valid{
						max-height: 300px;
						padding: .5rem;
						text-shadow: 0 0 .5rem #333;
						transform: scale(1.1);
						@extend .text-light, .bg-dark;
			}	}	}
			.button{
				@include normalize(auto, .5rem 1rem, .1rem solid, $ma: margin-left);
				@extend 
					.text-dark, 
					.bg-light, 
					.border-dark,
					%transition;
				&:hover{
					@extend 
						.text-light,
						.bg-dark;
				}	}
			.valid{
				@extend %transition;
				max-height: 0;
				overflow: hidden;

		}	}
		.social{
			@include normalize(auto);
			a {	@extend %icon, %transition; }
	}	}

