// Variables
	//colores
	@pri: #448;
	@snd: #eee;
	//mediaQueries
		@sm: 576px;
		@md: 768px;
		@lg: 992px;
		@xl: 1200px;
	//icons
		@icon: '../assets/icon';
		@bg: '../assets/img';
		@slides: 
			'osx-lion.png',
			'osx-mavericks.png',
			'osx-mojave-night.jpg',
			'osx-sierra.jpg';

//Anidacion de estilos
body{
	.normalize;
}
img, video{
	width: 100%;
	max-width: 540px;
}
nav{
	background-color: @pri;
	.flexbox(@fj:space-between);
	a{
		display: block;
		color:@snd;
		text-decoration: none;
	}
	.menu{
		width: 100%;
		.normalize;
		@media screen and (min-width: @md){
			width: auto;
			.flexbox;
		}
		a{
			padding: .5rem;
			&:hover{
				background-color: lighten(@pri, 10%);
			}
		}
	}
}
#header{
	padding: .5rem;
	position:relative;
	min-height: 95vh;
	.slide{
		.normalize;
		.p-slide;
		li{
			.p-slide;
			.bg-slide;
			background-position: center;
			background-size: cover;
			opacity: 0;
			&.active{
				opacity: 1;
			}
		}
	}
}
#footer{
	#contact{
		margin: auto;
		.flexbox(column);
		button{
			align-self: flex-end;
		}
	}
}
// Mixins: Estilos que se anidan como reglas;
	.normalize(){
		margin: 0;
		border: none;
		padding: 0;
		list-style: none;
	}
	.p-slide{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
// Mixins parametricos: estilos que utilizan parametros similar a las funciones JS;
	.flexbox(
		@fdir: row;
		@fj: center;
		@fa: unset;
		@fw: wrap;
		@d: flex;
	){
		display: @d;
		flex-direction: @fdir;
		justify-content: @fj;
		align-items: @fa;
		flex-wrap: @fw;
	}
// Mixins recursivos: estilos que se aplican en un ciclo mientras se cumpla una condicion;
	.bg-slide(@i: 1) when (@i <= 4){
		@li: extract(@slides, @i);
		&:nth-child(@{i}){
			background-image: url('@{bg}/@{li}');
		}
		.bg-slide(@i + 1);
	}
	@cols: 24;
	.mediaQueries (@vw, @vn) {
		@media screen and (min-width: @vw){
			.grid(@i: 1) when (@i <= @cols){
				.col-@{vn}-@{i}{
					width: percentage((@i / @cols));
				}
				.grid(@i + 1);
			}	
			.grid;
		}	
	}
	.mediaQueries (@sm, sm);
	.mediaQueries (@md, md);
	.mediaQueries (@lg, lg);
	.mediaQueries (@xl, xl);