/*Content First - Mobile First*/
	/*Reglas Generales*/
		*{
			box-sizing: border-box;
			font-family: sans-serif;
		}
		body,
		.menu,
		h1,
		h2,
		h3,
		h4,
		.copy,
		#header p{
			margin: 0;
		}
		.menu{
			padding: 0;
		}
		.btn{
			margin: .5rem;
			border-radius: .25rem;
			border: 1px solid #eee;
			color: #eee;
			background-color: transparent;
			font-size: 1rem;
		}
		.btn:hover{
			color: #448;
			background-color: #eee;
		}
	/*Navegacion*/
		nav{
			position: sticky;
			top: 0;
			z-index: 2;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background: linear-gradient(to right, #c36, #448);
		}
		nav a{
			display: block;
			padding: .5rem;
			color: #eee;
			text-decoration: none;
		}
		.menu{
			width: 100%;
			max-height: 0;
			overflow: hidden;
			list-style: none;
		}
		.menu.active{
			max-height: 640px;
		}
		.menu a:hover{
			text-shadow: 0 0 .25rem #eee;
			background-color: rgba(51,51,51,.5);
		}
	/*Cabecera*/
		#header{
			display: grid;
			align-content: center;
			height: min(100vh, 640px);
			text-align: center;
			font-size: min(calc(2vw + .5rem), 3rem);
			background-color: #ccc;
		}
	/*Contenido*/
		main{
			margin: 1rem auto;
		}
		section{
			margin: 1rem;
			border-radius: .25rem;
			padding: 1rem;
			box-shadow: 0 0 .5rem #333;
		}
		main .header{
			margin: -1rem -1rem .5rem;
			border-radius: .25rem .25rem 0 0;
			padding: 1rem;
			color: #eee;
			text-shadow: 0 0 .25rem #333;
			background: linear-gradient(to left, #c36, #448);
		}
		main h3{
			border-bottom: .1rem solid #666;
		}
	/*Ejemplos*/
		.example{
			margin: .5rem min(5vw, 2rem);
			border-left: .25rem solid #c36;
			padding: 1rem;
			background-color: #eee;
			list-style: none;
		}
	/*Pie de Pagina*/
		#footer{
			padding: 1rem;
			color: #eee;
			text-shadow: 0 0 .5rem #333; /*x y blur color*/
			background: linear-gradient(#c36,#448);
		}
		#contact{
			display: grid;
			margin: auto;
			padding: 1rem .5rem;
		}
		#contact :is(input, textarea, select){
			outline: none;
			margin-bottom: .25rem;
			border-radius: .25rem;
			border: .1rem solid #eee;
			padding: .5rem 1rem;
		}
		#contact textarea{
			min-height: 8rem;
			resize: none;
		}
		#contact :is(input, textarea, select):focus{
			box-shadow: 0 0 .5rem #eee;
		}
		#contact .btn{
			margin: .5rem 0;
			padding: .5rem 1rem;
			justify-self: flex-end;
			text-transform: uppercase;
		}
		.map{
			position: relative;
			left: -1rem;
			right: -1rem;
			padding-top: min(56.25%, 640px);
			/*
				aspect-ratio	width 		height
				4:3				1.33(h) 	75%(w)
				16:9			1.78(h) 	56.25%(w)
			*/
		}
		.map iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% + 2rem);
			height: 100%;
			border: none;
		}
		.copy{
			padding: 1rem;
			text-align: center;
		}
/*Small Devices - Smartphones*/
@media screen and (min-width: 576px){
	main, 
	#contact{
		max-width: 540px;
	}
}
/*Medium Devices - Tablets*/
@media screen and (min-width: 768px){
	/*Navegacion*/
	nav .btn{
		display: none;
	}
	.menu{
		display: flex;
		width: auto;
		max-height: 640px;
	}
	main, 
	#contact{
		max-width: 720px;
	}
}
/*Large Devices - Laptops*/
@media screen and (min-width: 992px){
	nav{
		justify-content: space-around;
	}
	main{
		max-width: 960px;
	}
	section{
		display: flex;
		flex-wrap: wrap;
	}
	main .header{ width: calc(100% + 2rem) }
	main article{ padding: .5rem }
	.col-a{ width: 33.3% } /*1 de 3 columnas*/
	.col-b{ width: 66.6% } /*2 de 3 columnas*/
	.col-c{ width: 100% }  /*3 de 3 columnas*/
}
/*Extra Large Devices - Desktop*/
@media screen and (min-width: 1200px){
	nav{
		padding: .5rem calc(50vw - 570px);
	}
}