//colors
$color: #572ee5
$bg_color: #fefefe
$special_color: #33c9ca
//media screen
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1140px
//images
$icon: "../assets/icons/"
$camera: url($icon+"bg_camera.svg") no-repeat left center, url($icon+"bg_light.svg") no-repeat right center 
$tape: url($icon+"bg_tape.svg") no-repeat right center
//iconos
$icons: logo, search, link, fav, trash, max, close, download, facebook, instagram, twitter
//mixins
=mode($color: $color, $bg_color:$bg_color)
	color: $color
	background-color: $bg_color
=normalize($m:0, $b:0, $p: 1rem)
	margin: $m
	border: $b
	padding: $p
.no_results
	margin: 5rem auto 1rem
.notFound
	margin: 0 auto 5rem
/*content first*/
*
	box-sizing: border-box
	font-family: century gothic, sans-serif
	outline: none
	background-color: transparent
	text-decoration: none
	transition: all .5s ease-in
#mode
	display: none
body
	margin:0
/*Icons*/
.icon
	display: inline-block
	+normalize(.5rem,0,0)
	border-radius: .25rem
	width: 1.5rem
	height: 1.5rem
	background-repeat: no-repeat
	background-position: center
	background-size: contain
@each $ico in $icons
	.#{$ico}
		background-image: url($icon+"icon_"+$ico+".svg")
	.#{$ico}:hover,
	#mode:checked ~ * .#{$ico}:hover
		background-image: url($icon+"icon_"+$ico+"_hover.svg")
	#mode:checked ~ * .#{$ico}
		background-image: url($icon+"icon_"+$ico+"_noc.svg")
.special
	color: $special_color
.button
	cursor: pointer
	+mode($color, transparent)
	+normalize(.5rem, .1rem solid $color, .5rem .75rem)
	&:hover
		+mode($bg_color, $color)
/*webkit*/
::-webkit-scrollbar,
.scroller
	-webkit-appearance: none
	border-radius: .5rem
::-webkit-scrollbar-thumb,
.scroller
	-webkit-appearance: none
	+normalize(.5rem auto)
	border-radius: 1rem
	background: radial-gradient( ellipse at bottom right, darken($bg_color, 20%), $bg_color)
/*barra de navegacion*/
nav
	+mode
	+normalize($p: .5rem 0)
	position: sticky
	top: 0
	z-index: 3
	border-top: .2rem solid $color
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	@media screen and (min-width: $md)
		display: flex
		justify-content: space-between
		padding: .2rem 1rem
		#menu
			display: none
	@media screen and (min-width: $xl)
		justify-content: space-around
	.icon
		+normalize(0 .5rem)
		width: 3rem
		height: 3rem
	#menu
		+mode
		+normalize($p:0)
		line-height: 1.5rem
		font-size: 2rem
	/*menu principal*/
	.menu
		+normalize
		overflow: hidden
		display: none
		position: fixed
		top: 4.2rem
		width: 100%
		height: 100vh
		+mode($bg_color, $color)
		list-style: none
		text-align: center
		@media screen and (min-width: $md)
			+normalize($p:0)
			height: auto
			position: static
			display: flex
			width: auto
			background-color: transparent
		li
			@media screen and (min-width: $md)
				border-bottom: .2rem solid transparent
				&:not(:last-child):hover
					border-color: $special_color
			&.active a
				@media screen and (min-width: $md)
					+mode(darken($bg_color, 20%), transparent)
			a
				+normalize($p: .5rem 1rem)
				display: inline-block
				color:$bg_color
				font-weight: bold
				@media screen and (min-width: $md)
					+mode($color, transparent)
				&::after
					+normalize(auto, none, 0)
					content: ''
					display: block
					width: 60%
					height: 1px
					margin-top: 1rem
					background-color: $bg_color
					@media screen and (min-width: $md)
						display: none
			/*modo diurno / nocturno */
			&:first-child
				label
					cursor: pointer
					background-color: transparent
					&:after
						content:' Diurno'
			/*crear gifo*/
			&:last-child
				a
					+normalize($p: .25rem)
					display: none
					border-radius: 50%
					width: 2.25rem
					font-size: 1.5rem
					text-align: center
					@media screen and (min-width: $md)
						display: block
						&:hover
							+mode($bg_color, $color)
				&.active
					a
						+mode($bg_color,darken($bg_color, 20%))
	/*menu desplegable*/
	.open
		display: block
		opacity: .8
		@media screen and (min-width: $md)
			display: flex
			padding: 0
			
/*cabecera*/
#header	
	+mode
	+normalize($p: 0)
	text-align: center
	h1
		+normalize(auto, none, .2rem 3rem)
		max-width: $sm
	img 
		+normalize(auto, none, 0 1rem)
		display: block
		width: 100%
		max-width: $sm * 3/4
	/*formulario de busqueda*/
	form
		position: sticky
		top: 0
		+normalize(auto, none, 0 1rem)
		display: flex
		flex-direction: column
		position: relative
		max-width: $sm
		/*campo de busqueda*/
		input
			+normalize(0, 2px solid $color, .5rem)
			outline: none
			border-radius: 1rem 1rem 0 0
			border-bottom: none
			width: 100%
			&:invalid
				padding: 0 1rem
				& ~ #suggestion option
					display: none
				& ~ label
					display: block
			/*visualizacion de sugerencias*/
			&:focus,
			&:valid
				+normalize(0, 2px solid $color, .5rem .25rem .5rem 3rem)
				border-radius: 1rem 1rem 0 0
				border-bottom: none
				& ~ #suggestion
					overflow: auto
					height: auto
					padding: 0 .5rem .5rem
					&:before
						width: 90%
						height: 1px
						background-color: darken($bg_color, 20%)
				& ~ button
					right: calc(100% - 4rem)
		/*estilos del campo*/
		::-webkit-search-cancel-button
			-webkit-appearance: none
			width: 1.5rem
			height: 1.5rem
			background: url($icon+"icon_close.svg") no-repeat center
		/*campo de sugerencias*/
		#suggestion
			+normalize(0, 2px solid $color, .5rem)
			overflow: hidden
			height: 0
			outline: none
			border-top: none
			border-radius: 0 0 1rem 1rem
			option
				+mode(darken($bg_color, 20%), transparent)
				+normalize($p: .2rem 2.5rem)
				border-radius: .25rem
				background: url($icon+"icon_search.svg") no-repeat left
			&:before
				+normalize(.2rem auto, none, 0)
				content: ''
				display: block
				width: 0
				height: 0
			&:focus
				overflow: auto
				height: auto
				border-color: $color
				border-top: 0 solid transparent
				padding: 0 .5rem .5rem
				+mode($color, lighten($bg_color, 30%)) 
				&:before
					width: 90%
					height: 1px
					background-color: $color
		/*boton buscar*/	
		button
			position: absolute
			z-index: 1
			right: 1rem
			outline: none
			border-radius: 1rem
		label
			+mode(darken($bg_color, 20%), transparent)
			position: absolute
			display: none
			top: .5rem
			left: 4rem
			font-size: .8rem
			@media screen and (min-width: $sm)
				font-size: 1rem
	p
		+normalize($p: 1rem 3rem)
		strong
			display: block
/*contenido principal*/
main
	+mode
	+normalize($p: 0)
	/*secciones de pagina*/
	section
		position: relative
		+mode
		+normalize
		max-width: $lg
		height: auto
		text-align: center
		@media screen and (min-width: $md)
			+normalize(auto, none, 3rem 3rem 1rem)
		h1
			display: flex
			flex-direction: column
			line-height: 2.5rem
		&:not(target)
			display: none
		&:target
			display: block
	/*elementos populares*/
	section:last-child
		display: block
		+mode($bg_color: darken($bg_color, 10%))
		/*navegacion y vistas*/
		.button
			display: none
			position: absolute
			top: calc(65% - 1rem)
			border-radius: .25rem
			font-size: 1rem
			line-height: 1.5rem
			text-align: center
			@media screen and (min-width: $md)
				display: block
			&.prev
				left: 0
				@media screen and (min-width: $lg)
					left: 4rem
			&.next
				right: 0
				@media screen and (min-width: $lg)
					right: 4rem
		button.selected
			position: fixed
			top: calc(50% - 1rem)
			z-index: 2
	.title
		+normalize
		font-size: 2rem
		&:empty ~ #pagination
			display: none
	/*resultados de busqueda*/
	#search
		display: block
	/*creacion gif*/
	#crear_gifo
		overflow: hidden
		+normalize(auto, 0, 0)
		flex-direction: column
		justify-content: center
		align-items: center
		flex-wrap: wrap
		height: 0
		@media screen and (min-width: $md)
			height: auto
			.camera
				position: absolute
				left: -30%
				width: 20vw
				min-width: 4rem
				max-width: 12rem
				height: 8rem
				background: $camera
				background-size: 70%, 45%
				@media screen and (min-width: $lg)
					left: -35%
			.tape
				position: absolute
				bottom: -10%
				right: -22.5%
				min-width: 2rem
				max-width: 4rem
				height: 4rem
				background: $tape
				background-size: contain
				z-index: -2
				@media screen and (min-width: $lg)
					right: -20%
		/*area de grabacion*/
		article
			+mode($color, transparent)
			+normalize(auto, 1px solid $color, 1.5rem)
			overflow: visible
			position: relative
			display: flex
			justify-content: center
			align-items: center
			width: 60%
			max-width: 540px
			min-height: 320px
			video, img
				position: absolute
				top: 15%
				bottom: 15%
				left: 20%
				right: 20%
				width: 60%
				height: 70%
				opacity: 0
			.message
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%				
		&:target
			display: flex
		div:last-child
			width: 62.5%
			max-width: 720px
		/*area de proceso*/
		.menu
			+normalize(auto, none, 0)
			position: relative
			list-style: none
			display: flex
			justify-content: center
			align-items: center
			flex-wrap: wrap
			border-bottom: .3rem solid $color
			li
				+mode($color, transparent)
				+normalize(.5rem, 1px solid $color, .25rem .6rem)
				display: block
				border-radius: 50%
				font: 1rem sans-serif
			a
				position: absolute
				right: 2.5%
			.active
				+mode($bg_color,$color)
		button
			cursor: pointer
			+mode($color,$bg_color)
			+normalize(1rem, 1px solid $color, .5rem)
			border-radius: 1rem
			width: 6rem
			text-align: center
			line-height: 1rem
		.show
			display: block
			opacity: 1
	/*area de resultados*/
	#results
		overflow: hidden
		display: grid
		grid-template-columns: repeat(auto-fill, minmax(200px, 2fr))
		justify-content: center
		gap: .5rem
		padding: 1rem
	/*area de paginacion*/
	#pagination
		ul
			+normalize($p:.5rem)
			list-style: none
			display: flex
			flex-wrap: wrap
			justify-content: center
			li
				+normalize($p: .5rem)
				max-width: 150px
			strong
				display: block
		.button
			border-radius: 1rem
	/*area de favoritos*/
	#favoritos, 
	#mis_gifos
		& > div
			display: grid
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
			gap: .5rem
		.noItems
			display: block
		&:target #search
			height: 0
			overflow: hidden
	/*gifs populares*/
	#trending
		& > div
			overflow: auto
			max-height: 250px
			display: grid
			grid-template-columns: repeat(3, 250px)
			justify-content: flex-start
			align-content: center
			@media screen and (min-width: $lg)
				justify-content: center
	/*elementos independientes*/
	article:not(.active)
		overflow: hidden
		position: relative
		display: flex
		justify-content: center
		align-items: center
		max-width: 300px
		max-height: 200px
		margin: .5rem
		background-color: darken($bg_color, 100%)
		.hidden
			+mode($bg_color, rgba(87, 46, 229, .5))
			+normalize($p: .5rem)
			display: grid
			justify-content: flex-start
			align-content: flex-end
			position: absolute
			top: -100%
			bottom: 100%
			left: 0
			right: 0
			.social
				position: absolute
				top: .5rem
				right: .5rem
				a
					position: relative
					z-index: 2
				.max
					position: absolute
					right: -1rem
					top: -1rem
					width: 400px
					height: 400px
					opacity: 0
					z-index: 1
					@media screen and (min-width: $md)
						position: static
						width: auto
						height: auto
						opacity: 1
			p
				max-width: 60%
				+normalize(0, none, .2rem)
				text-align: left
		&:hover,
		&.selected
			.hidden
				bottom: 0
				top: 0	
			a
				+normalize(.25rem)
				width: 1.5rem
				height: 1.5rem
	article.active
		+mode
		position: fixed
		top: 0
		left: 0
		z-index: 3
		width: 100vw
		height: 100vh
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		img
			position: relative
			+normalize(4.2rem auto .5rem, 0, 0)
			width: auto
			height: 100%
			max-width: 480px
			max-height: 360px
		.hidden
			+normalize(.5rem, none, .5rem)
			position: static
			display: flex
			justify-content: space-between
			width: 100%
			max-width: 480px
			text-align: left
			.close
				position: fixed
				top: 1rem
				right: 1rem
	video, img
		height: 100%
	/*localStorage*/
	.fav.active
		background: url($icon+"icon_fav_active.svg") no-repeat center, radial-gradient($bg_color, darken($bg_color, 20%)) !important
		background-size: 1.25rem !important

#footer
	+mode(darken($color, 50%), $bg_color)
	+normalize
	border-bottom: .2rem solid $color
	text-align: center
	a
		font-weight: bold
	/*redes sociales*/
	.social
		margin: 3rem auto
		@media screen and (min-width: $md)
			display: flex
			align-items: center
			margin: 0
	@media screen and (min-width: $md)
		display: flex
		justify-content: space-between
		align-items: center
	@media screen and (min-width: $xl)
		justify-content: space-around
/*modo nocturno*/
#mode:checked
	$color: #ccc
	$bg_color: #333
	& ~ * .night
		fill: $bg_color
	& ~ * ::-webkit-scrollbar-thumb
		background: radial-gradient( ellipse at bottom right, darken($bg_color, 20%), $bg_color)	
	/*navegacion*/
	& ~ nav
		+mode($color, $bg_color)
		border-top: .2rem solid darken($bg_color, 20%)
		#menu
			+mode($color, $bg_color)
		.menu
			+mode($bg_color: darken($bg_color, 20%))
			@media screen and (min-width: $md)
				+mode($color, transparent)
				a
					+mode($color, transparent)
				&:first-child
					label:after
						content:' Nocturno'
				&:last-child a:hover,
				.active:last-child a
					+mode(lighten($bg_color, 20%), transparent)
				.active a
					+mode(darken($color, 25%), transparent)
	/*cabecera*/
	& ~ #header
		+mode($color, $bg_color)
		input, 
		#suggestion
			+mode($color, transparent)
			border-color: $color
		#suggestion:before
			background-color: $color
		option
			+mode(darken($color, 20%), transparent)
		::-webkit-search-cancel-button
			background: url($icon+"icon_close_noc.svg") no-repeat center
	/*contenido principal*/
	& ~ main
		+mode($color, $bg_color)
		/*secciones de la pagina*/
		section
			+mode($color, $bg_color)
			.button		
				+mode($color, $bg_color)
				border: .1rem solid $color
				&:hover
					+mode($bg_color, $color)
		section:last-child
			+mode($color, $bg_color: darken($bg_color, 10%))
		#crear_gifo
			article
				+mode($color, $bg_color)
				+normalize(auto, 1px solid $color, 1.5rem)
			.menu 
				border-color: $color
				li
					+mode($color, $bg_color)
					border-color: $color
				.active
					+mode($bg_color, $color)

		article.active
			+mode($color, $bg_color)
			.menu
				border-bottom: .3rem solid $color
				li
					+mode($color, transparent)
				.active
					+mode($bg_color, color)
	/*pie de pagina*/
	& ~ #footer
		+mode($color, $bg_color)
		border-bottom: .2rem solid darken($bg_color, 20%)
		a[href="#"]
			+mode($color, transparent)
			font-weight: bold
/*Autor: Cristian Racedo*/