/* Mobile First - Content First */
	/* general rules */
		@import url('icomoon.css');
		* {
			box-sizing: border-box;
			outline: none;
			font-family: sans-serif;
		}
		body{
			margin: 0;
		}
	/* navigation bar */
		nav{
			position: sticky;
			top: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background: 
				linear-gradient(
					#454545,
					#333
				);
			z-index: 3;
		}
		nav a{
			display: block;
			color: #eee;
			padding: .5rem;
			text-decoration: none;
			font-size: 1.2rem;
		}
		nav > a{
			font-weight: bold;
			text-transform: uppercase;
		}
		nav > a:last-child{
			position: fixed;
			bottom: .5rem;
			right: .5rem;
			width: 2.5rem;
			border-radius: 50%;
			padding: 0;
			line-height: 2.5rem;
			text-align: center;
			background-color: #3338;
			opacity: .4;
		}
		nav > a:last-child:hover{
			opacity: .7;
		}
		.menu{
			overflow:hidden;
			height: 0;
			list-style: none;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.menu a{
			max-width: 8rem;
			margin: auto;
		}
		.menu li:hover{
			background-color: #acd8;
		}
		.button{
			cursor: pointer;
			margin: .5rem;
			border: 2px solid #eee;
			border-radius: .4rem;
			padding: .4rem .8rem;
			color: #eee;
			background-color: transparent;
			text-align: center;
			font-size: 1.5rem;
		}
		.button:hover{
			color: #333;
			background-color: #eee;
		}
		.menu.active{
			height: auto;
		}
	/* headings */
		#header{
			overflow: hidden;
			position: relative;
			padding: 56.25% 1rem 0;
			color: #eee;
			text-shadow: 
				0 0 .2rem #333,
				-2px 2px 2px #333;
		}
		#header video{
			/*aspect-ratio 16:10 16:9 4:3*/
			position: absolute;
			top: -10%;
			left: 0;
			width: 100%;
		}
		#header .header{
			position: absolute;
			width: 70%;
			height: 70%;
			top:15%;
			left: 15%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			z-index: 1;
		}
		.header h1,
		.header h2,
		.header p{
			margin: 0;
			font-size: calc(3vmax + .6rem); /* 1920 x 1080 */ 
			/*	viewport:
					vw => ancho del viewport;
					vh => alto del viewport;
					vmin => medida mas pequeña del viewport
					vmax => medida mas grande del viewport
			*/
		}
	/* main content */
		main{
			height: 100vh;
			max-height: 720px;
			position: relative;
			padding: 1rem;
			color: #eee;
			text-shadow: 0 0 .5rem #333;
		}
		/*Galeria Slide*/
			ul.slide{
				list-style: none;
				margin:0;
				padding:0;
				z-index: -1;
			}
			ul.slide,
			.slide li{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.slide li{
				background-size: cover;
				background-position: center;
				opacity: 0;
			}
			.slide li:nth-child(1){
				background-image: url('../assets/img/osx-mavericks.png');
			}
			.slide li:nth-child(2){
				background-image: url('../assets/img/osx-mojave-night.jpg');
			}
			.slide li:nth-child(3){
				background-image: url('../assets/img/osx-sierra.jpg');
			}
			.slide li:nth-child(4){
				background-image: url('../assets/img/osx-mountain-lion.jpg');
			}
			.slide li.active{
				opacity: 1;
			}
		/*Controles Slide*/
			main .header {
				padding-top: 10vh;
				text-align: center;
				opacity: .8;
			}
			.header .slide{
				display: flex;
				justify-content: space-around;
				max-width: 8rem;
				margin: .5rem auto;
			}
			.slide span{
				width: 1rem;
				height: 1rem;
				border-radius: 1rem;
				background-color: #eee;
				box-shadow: 
					0 0 .5px #333,
					0 2px 2px #333;
			}
			.slide span.active{
				width: 3rem;
			}
			main > button{
				cursor:pointer;
				position: absolute;
				top: 0;
				bottom: 0;
				border: 0;
				padding: .5rem;
				font-size: 2.5rem;
				color: #eee;
				background-color: transparent;
				opacity: .3;
			}
			main > button:hover{
				opacity: .7;
			}
			main .icon-prev{
				left: 0;
			}
			main .icon-next{
				right: 0;
			}
	/* gallery*/
		section{
			margin: auto;
		}
		.gallery{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: .5rem;
			margin: auto;
			padding: .5rem;
			text-align: center;
		}
		.gallery img{
			width: 100%;
			border-radius: .5rem;
			border: 1rem solid #333;
		}
	/*footer*/
		#footer{
			padding: 1rem;
			color:#eee;
			background: linear-gradient(#666,#333);
			text-align: center;
		}
		#contact{
			max-width: 540px;
			display: flex;
			margin: auto;
			flex-direction: column;
			text-align: left;
		}
		#contact input,
		#contact textarea{
			margin: none;
			border-radius: .5rem;
			border: 2px solid transparent;
			padding: .5rem 1rem;
			font-size: 1rem;
		}
		#contact .button{
			margin: .5rem 0;
		}
		.valid{
			overflow: hidden;
			height:0;
			margin-bottom: .5rem;
		}
		/*social*/
			.social a{
				color: #eee;
				margin: .5rem 1rem;
				font-size: calc(2vmax + 1rem);
				text-decoration: none;
			}
/* Small Devices - smartphones */
	@media screen and (min-width: 576px){
		/*navigation bar*/
			.menu{
				display: flex;
				width: auto;
				height: auto;
			}
			.menu a{
				font-size: 2rem;
			}
			.menu span,
			nav .button{
				display: none;
			}
		/*content*/
			section{
				max-width: 540px;
			}
	}
/* Medium Devices - smartphones(landscape) tablets */
	@media screen and (min-width: 768px){
		/*content*/
			section{
				max-width: 720px;
			}
	}
/* Large Devices - tablets(landscape) desktop */
	@media screen and (min-width: 992px){
		/*navigation bar*/
			.menu a{
				display: flex;
				align-items: center;
			}
			.menu span{
				display: block;
				padding-left: .5rem;
				font-size: 1rem;
			}
		/*content*/
			section{
				max-width: 960px;
			}
	}
/* Extra Large - desktop smart-tv */
	@media screen and (min-width: 1200px){
		/*content*/
			section{
				max-width: 1200px;
			}
	}