// Variables: Declaraciones de valores
    //Colores
    @color: rgb(var(--light));
    @bg-color: rgb(var(--first), .5);
    // Breakpoints
    @sm: 576px;
    @md: 768px;
    @lg: 992px;
    @xl: 1200px;
    @xxl: 1400px;
    // Columnas
    @col: 24;
// Nesting: Anidacion de estilos
nav{
    .normalize(
        @p:.5rem ~'max(.5rem, calc(50vw - 660px))'
    );
    .flexbox(@justify: space-between; @align: center);
    background-color: @bg-color;
    position: sticky;
    top: 0;
    z-index: 1;
    a{
        color: @color;
    }
    // Menu de Navegacion
    .menu{
        &:extend(.unstyled);
        &:extend(.zeroise);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all .25s ease;
        &.active{
            max-height: max(640px, 100vh);
        }
        @media screen and (min-width: @md){
            .flexbox(@gap: 1rem);
            width: auto;
            max-height: 640px;
        }
        li{
            .bg-colors;
        }
    }
    // Boton Menu Hamburguesa
    .btn{
        .normalize(@p: .2rem .5rem; @b: 1px solid);
        min-width: 2.5rem;
        color: @color;
        background-color: transparent;
        &:hover{
            color: @bg-color;
            background-color: @color;
        }
        // Pseudoclases Iconos
        &.menu-{
            &close{ 
                .icon('\00d7'); 
            }
            &open{ 
                .icon('\2630'); 
            }
            
        }
        @media screen and (min-width: @md){
            display: none;
        }
    }
}

// Mixins: Estilos que funcionan como atributos
/*Reinicio de Estilos */
    .zeroise{
        .normalize;
    }
    /* Remover Estilos */
    .unstyled{
        text-decoration: none;
        list-style: none;
    }
// Mixins Parametricos: Estilos que reciben argumentos (Funciones)
    // Atributos de Caja
    .normalize(@m:0; @p:0; @b:0){
        margin: @m;
        border: @b;
        padding: @p;
    }
    // PseudoElements
    .icon(@content){
        &::before{
            content: @content;
            font-size: 1.2rem;
        }
    }
    // Flexbox
    .flexbox(
        @direction: row;
        @justify: flex-start;
        @align: stretch;
        @gap: 0;
        @wrap: wrap;
        @display: flex
    ){
        display: @display;
        justify-content: @justify;
        align-items: @align;
        flex-direction: @direction;
        flex-wrap: @wrap;
        gap: @gap;
    }

// Mixins Recursivos: Estilos que se repiten en base a una condicion (Bucles)
.bg-colors(@i: 1) when (@i <= 5){
    &:nth-child(@{i}):hover{
        text-shadow: 0 0 .5rem hsl(@i * 72, 100%, 50%);
    }
    .bg-colors(@i + 1);
}

/* sistema de grillas */
.grid(@i: 1) when (@i <= @col){ //Condicion
    .col-@{i}{ // Cuerpo
        width: percentage( (@i / @col) );
    }
    .grid(@i + 1); //Repeticion
}
.grid; //Invocacion