#nav{
    position: sticky;
    /*  El elemento es su propio referente 
        se fija dentro de su contenedor
        cuando se cumple una condicion
        Permanece dentro del FLOW hasta entonces
    */
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 1rem; /*root EM (Ancho de M en la Raiz HTML)*/
    background-color: #e75;
}
#nav a{
    color: #eee;
    text-shadow: 0 0 .5rem #333;
}
.menu{
    position: fixed;
    /*  Su referente es el viewport (VENTANA)
        no se visualizara correctamente
        en caso de no poseer coordenadas
        permanece fuera del FLOW
    */
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
        #e75A,
        #c33A
    );
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    opacity: .5;
    transition: all .5s ease;
}
.menu.active{
    left: 0;
    opacity: 1;
}
.btn{
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent;
}
.icon-open::before{
    content: '\2630'
}
.icon-close::before{
    content: '\26cc'
}
.menu a.active,
.menu a:hover{
    animation: remark .5s ease-in-out alternate infinite;
}
/* Tablets */
@media screen and (min-width: 768px){
    #nav .btn{
        display: none;
    }
    .menu{
        position: static;
        width: auto;
        max-height: 640px;
        display: flex;
        gap: .5rem;
        opacity: 1;
        background-image: unset;
    }
}
/* HD Desktop */
@media screen and (min-width: 1400px){
    #nav{
        padding: 1rem calc(50vw - 660px);
    }
}