.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.b-0 {
  border: 0px;
}

.b-1 {
  border: 1px;
}

.b-2 {
  border: 2px;
}

.b-3 {
  border: 3px;
}

.b-4 {
  border: 4px;
}

.b-5 {
  border: 5px;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.o-0 {
  outline: 0rem;
}

.o-1 {
  outline: 0.5rem;
}

.o-2 {
  outline: 1rem;
}

.o-3 {
  outline: 1.5rem;
}

.o-4 {
  outline: 2rem;
}

.o-5 {
  outline: 2.5rem;
}

.fs-0 {
  font-size: 5rem;
}

.fs-1 {
  font-size: 2.5rem;
}

.fs-2 {
  font-size: 1.6666666667rem;
}

.fs-3 {
  font-size: 1.25rem;
}

.fs-4 {
  font-size: 1rem;
}

.fs-5 {
  font-size: 0.8333333333rem;
}

.fw-0 {
  font-weight: 0;
}

.fw-1 {
  font-weight: 160;
}

.fw-2 {
  font-weight: 320;
}

.fw-3 {
  font-weight: 480;
}

.fw-4 {
  font-weight: 640;
}

.fw-5 {
  font-weight: 800;
}