/* :pseudoclase Instancia o caracteristica de un elemento (Estado) */
#sagas article{
    opacity: .8;
}
#sagas article:hover{
    opacity: 1;
}
#sagas article:first-of-type{
    background-color: #eee;
}
#sagas article:last-child{
    background-color: #ccc;
}
/* ::pseudoelemento Parte o elemento dentro de otro elemento */
article .hidden::first-letter{
    float: left;
    padding: 0 .25rem;
    line-height: 1;
    font-size: 2.25rem;
}
article .hidden::first-line{
    font-weight: bold;
    color: #448;
}