/*Content First - Mobile First*/
	/*Imports*/
		@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,100&display=swap');
		@import url('icomoon.css');
	/*General Rules*/
		*{
			box-sizing: border-box;
			font-family: 'Raleway', 'segoe ui', 'calibri', sans-serif;
		}
		body,
		h1,
		h2,
		h3,
		.menu{
			margin: 0;
		}
		.menu{
			padding: 0;
		}
	/*Navigation*/
		nav{
			position: sticky;
			top: 0;
			z-index: 2;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			background: linear-gradient(#f80, #80f);
		}
		nav a{
			display: block;
			padding: .5rem;
			color: #eee;
			text-decoration: none;
		}
		.menu{
			width: 100%;
			max-height: 0;
			list-style: none;
			overflow: hidden;
		}
		.menu.active{
			max-height: 600px;
		}
		.menu span{
			padding: .25rem;
		}
		.menu a:hover{
			background-color: rgba(51,51,51,.5);
		}
		.icon-back{
			position: fixed;
			bottom: .5rem;
			right: .5rem;
			border-radius: 50%;
			background-color: #408;
		}
/*Small Devices - Smartphones*/
	@media screen and (min-width: 576px){
	/*Navigation*/
		nav .btn,
		.menu span{
			display: none;
		}
		.menu{
			width: auto;
			max-height: 600px;
			font-size: 1.5rem;
		}
		.menu,
		.menu a{
			display: flex;
			align-items: center;
		}
	}
/*Medium Devices - Tablets*/
	@media screen and (min-width: 768px){
	/*Navigation*/
		.menu span{
			display: block;
			font-size: 1rem;
		}
	}
/*Large Devices - Desktop*/
	@media screen and (min-width: 992px){

	}
/*Extra Large Devices - HD Desktop*/
	@media screen and (min-width: 1200px){
	/*Navigation*/
		nav{
			justify-content: space-around;
		}
	}