/*icons*/
#footer iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube, .whatsapp, .twitter, .linkedin, .instagram, .github, .facebook, .css {
  transition: all 1s ease;
}

.youtube, .whatsapp, .twitter, .linkedin, .instagram, .github, .facebook, .css {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.7;
}
.youtube:hover, .whatsapp:hover, .twitter:hover, .linkedin:hover, .instagram:hover, .github:hover, .facebook:hover, .css:hover {
  transform: scale(1.5) translate(0, -0.5rem) rotate(360deg);
  opacity: 1;
}

/*social media*/
.css {
  background-image: url("../assets/icon/css.svg");
}

.facebook {
  background-image: url("../assets/icon/facebook.svg");
}

.github {
  background-image: url("../assets/icon/github.svg");
}

.instagram {
  background-image: url("../assets/icon/instagram.svg");
}

.linkedin {
  background-image: url("../assets/icon/linkedin.svg");
}

.twitter {
  background-image: url("../assets/icon/twitter.svg");
}

.whatsapp {
  background-image: url("../assets/icon/whatsapp.svg");
}

.youtube {
  background-image: url("../assets/icon/youtube.svg");
}

/*Bootstrap Classes*/
.text-primary {
  color: #448;
}

.text-secondary, #footer .copy a {
  color: #36c;
}

.text-dark {
  color: #333;
}

.text-light, #footer .copy, #footer .button.opacity, #footer #contact .valid, #footer #contact {
  color: #eee;
}

.text-success {
  color: #3c6;
}

.text-danger {
  color: #c33;
}

.text-warning, #footer #contact label::after {
  color: #dc3;
}

.text-info {
  color: #48f;
}

.bg-primary, #footer .copy, #footer .social, #footer #contact {
  background-color: #448;
}

.bg-secondary {
  background-color: #36c;
}

.bg-dark, #footer .button.opacity, #footer #contact .valid {
  background-color: #333;
}

.bg-light, #footer .copy a, main section article .example {
  background-color: #eee;
}

.bg-success, #footer #contact input:focus:valid + .valid,
#footer #contact textarea:focus:valid + .valid {
  background-color: #3c6;
}

.bg-danger, #footer #contact input:focus:not(:placeholder-shown):invalid + .valid,
#footer #contact textarea:focus:not(:placeholder-shown):invalid + .valid {
  background-color: #c33;
}

.bg-warning {
  background-color: #dc3;
}

.bg-info {
  background-color: #48f;
}

.border-primary {
  border-color: #448;
}

.border-secondary {
  border-color: #36c;
}

.border-dark, #footer .button.opacity, #footer #contact input:focus,
#footer #contact textarea:focus {
  border-color: #333;
}

.border-light {
  border-color: #eee;
}

.border-success, #footer #contact input:focus:valid,
#footer #contact textarea:focus:valid {
  border-color: #3c6;
}

.border-danger, #footer #contact input:focus:not(:placeholder-shown):invalid,
#footer #contact textarea:focus:not(:placeholder-shown):invalid {
  border-color: #c33;
}

.border-warning {
  border-color: #dc3;
}

.border-info {
  border-color: #48f;
}

/*responsive GridSystem*/
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 4.1666666667%;
  }

  .col-sm-2 {
    width: 8.3333333333%;
  }

  .col-sm-3 {
    width: 12.5%;
  }

  .col-sm-4 {
    width: 16.6666666667%;
  }

  .col-sm-5 {
    width: 20.8333333333%;
  }

  .col-sm-6 {
    width: 25%;
  }

  .col-sm-7 {
    width: 29.1666666667%;
  }

  .col-sm-8 {
    width: 33.3333333333%;
  }

  .col-sm-9 {
    width: 37.5%;
  }

  .col-sm-10 {
    width: 41.6666666667%;
  }

  .col-sm-11 {
    width: 45.8333333333%;
  }

  .col-sm-12 {
    width: 50%;
  }

  .col-sm-13 {
    width: 54.1666666667%;
  }

  .col-sm-14 {
    width: 58.3333333333%;
  }

  .col-sm-15 {
    width: 62.5%;
  }

  .col-sm-16 {
    width: 66.6666666667%;
  }

  .col-sm-17 {
    width: 70.8333333333%;
  }

  .col-sm-18 {
    width: 75%;
  }

  .col-sm-19 {
    width: 79.1666666667%;
  }

  .col-sm-20 {
    width: 83.3333333333%;
  }

  .col-sm-21 {
    width: 87.5%;
  }

  .col-sm-22, main {
    width: 91.6666666667%;
  }

  .col-sm-23 {
    width: 95.8333333333%;
  }

  .col-sm-24 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 4.1666666667%;
  }

  .col-md-2 {
    width: 8.3333333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.6666666667%;
  }

  .col-md-5 {
    width: 20.8333333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.1666666667%;
  }

  .col-md-8 {
    width: 33.3333333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.6666666667%;
  }

  .col-md-11 {
    width: 45.8333333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.1666666667%;
  }

  .col-md-14 {
    width: 58.3333333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.6666666667%;
  }

  .col-md-17 {
    width: 70.8333333333%;
  }

  .col-md-18 {
    width: 75%;
  }

  .col-md-19 {
    width: 79.1666666667%;
  }

  .col-md-20, #footer #contact, main {
    width: 83.3333333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.6666666667%;
  }

  .col-md-23 {
    width: 95.8333333333%;
  }

  .col-md-24 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 4.1666666667%;
  }

  .col-lg-2 {
    width: 8.3333333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.6666666667%;
  }

  .col-lg-5 {
    width: 20.8333333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.1666666667%;
  }

  .col-lg-8 {
    width: 33.3333333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.6666666667%;
  }

  .col-lg-11 {
    width: 45.8333333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.1666666667%;
  }

  .col-lg-14 {
    width: 58.3333333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16, #footer #contact {
    width: 66.6666666667%;
  }

  .col-lg-17 {
    width: 70.8333333333%;
  }

  .col-lg-18, main {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.1666666667%;
  }

  .col-lg-20 {
    width: 83.3333333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.6666666667%;
  }

  .col-lg-23 {
    width: 95.8333333333%;
  }

  .col-lg-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 4.1666666667%;
  }

  .col-xl-2 {
    width: 8.3333333333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.6666666667%;
  }

  .col-xl-5 {
    width: 20.8333333333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.1666666667%;
  }

  .col-xl-8 {
    width: 33.3333333333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.6666666667%;
  }

  .col-xl-11 {
    width: 45.8333333333%;
  }

  .col-xl-12, #footer #contact {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.1666666667%;
  }

  .col-xl-14 {
    width: 58.3333333333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.6666666667%;
  }

  .col-xl-17 {
    width: 70.8333333333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.1666666667%;
  }

  .col-xl-20 {
    width: 83.3333333333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.6666666667%;
  }

  .col-xl-23 {
    width: 95.8333333333%;
  }

  .col-xl-24 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: 4.1666666667%;
  }

  .col-xxl-2 {
    width: 8.3333333333%;
  }

  .col-xxl-3 {
    width: 12.5%;
  }

  .col-xxl-4 {
    width: 16.6666666667%;
  }

  .col-xxl-5 {
    width: 20.8333333333%;
  }

  .col-xxl-6 {
    width: 25%;
  }

  .col-xxl-7 {
    width: 29.1666666667%;
  }

  .col-xxl-8 {
    width: 33.3333333333%;
  }

  .col-xxl-9 {
    width: 37.5%;
  }

  .col-xxl-10 {
    width: 41.6666666667%;
  }

  .col-xxl-11 {
    width: 45.8333333333%;
  }

  .col-xxl-12 {
    width: 50%;
  }

  .col-xxl-13 {
    width: 54.1666666667%;
  }

  .col-xxl-14 {
    width: 58.3333333333%;
  }

  .col-xxl-15 {
    width: 62.5%;
  }

  .col-xxl-16 {
    width: 66.6666666667%;
  }

  .col-xxl-17 {
    width: 70.8333333333%;
  }

  .col-xxl-18 {
    width: 75%;
  }

  .col-xxl-19 {
    width: 79.1666666667%;
  }

  .col-xxl-20 {
    width: 83.3333333333%;
  }

  .col-xxl-21 {
    width: 87.5%;
  }

  .col-xxl-22 {
    width: 91.6666666667%;
  }

  .col-xxl-23 {
    width: 95.8333333333%;
  }

  .col-xxl-24 {
    width: 100%;
  }
}
/*Main Content*/
main {
  margin: 0.5rem auto;
  outline: 0;
  border: 0;
  padding: 0.5rem;
}
main section article .example {
  margin: 1rem;
  outline: 0;
  border-left: 0.25rem solid var(--fst);
  padding: 1rem;
}

/*Main Footer*/
#footer {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 3rem 1rem 0;
  position: relative;
  /*Contact Form*/
  /*Social media*/
}
#footer iframe {
  position: absolute;
  z-index: -1;
  outline: 0;
  border: none;
  opacity: 0.9;
}
#footer iframe.active {
  position: fixed;
  z-index: 3;
}
#footer #contact {
  margin: 1rem auto;
  outline: 0;
  border-radius: 0.25rem;
  padding: 1.5rem;
}
@media screen and (min-width: 1200px) {
  #footer #contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "title 		title" "lblName  	lblPhone" "cmdName 	cmdPhone" "vldName 	vldPhone" "lblEmail	lblEmail" "cmdEmail 	cmdEmail" "vldEmail 	vldEmail" "lblConsult lblConsult" "cmdConsult cmdConsult" "vldConsult vldConsult" ". 			button" "msg 		msg";
    gap: 0 0.5rem;
  }
  #footer #contact h2 {
    grid-area: title;
  }
  #footer #contact label[for=contactName] {
    grid-area: lblName;
  }
  #footer #contact #contactName {
    grid-area: cmdName;
  }
  #footer #contact #contactName + .valid {
    grid-area: vldName;
  }
  #footer #contact label[for=contactPhone] {
    grid-area: lblPhone;
  }
  #footer #contact #contactPhone {
    grid-area: cmdPhone;
  }
  #footer #contact #contactPhone + .valid {
    grid-area: vldPhone;
  }
  #footer #contact label[for=contactEmail] {
    grid-area: lblEmail;
  }
  #footer #contact #contactEmail {
    grid-area: cmdEmail;
  }
  #footer #contact #contactEmail + .valid {
    grid-area: vldEmail;
  }
  #footer #contact label[for=contactConsult] {
    grid-area: lblConsult;
  }
  #footer #contact #contactConsult {
    grid-area: cmdConsult;
  }
  #footer #contact #contactConsult + .valid {
    grid-area: vldConsult;
  }
  #footer #contact .button {
    grid-area: button;
  }
}
#footer #contact label {
  max-height: 0;
  margin-top: 0.5rem;
  text-transform: uppercase;
  border: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  #footer #contact label {
    max-height: 300px;
  }
}
#footer #contact label::after {
  content: " (*)";
}
#footer #contact textarea {
  resize: none;
  min-height: 8rem;
}
#footer #contact input,
#footer #contact textarea {
  margin: 0;
  outline: 0;
  border: 0.1rem solid transparent;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
}
#footer #contact input:focus,
#footer #contact textarea:focus {
  /* Fields Validation */
}
#footer #contact input:focus + .valid,
#footer #contact textarea:focus + .valid {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0.5rem;
  max-height: 300px;
}
#footer #contact .valid {
  max-height: 0;
  overflow: hidden;
  text-shadow: 0 0 0.5rem #333;
}
#footer .button {
  margin: 0.2rem 0;
  margin-left: auto;
  border: 0.1rem solid;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: century gothic;
}
#footer .button.opacity {
  margin: 0.5rem;
  right: 0;
  top: 0;
  padding: 0.5rem;
  z-index: 2;
}
#footer .button.opacity.icon-min {
  position: fixed;
  z-index: 3;
}
#footer .button.opacity.icon-max {
  position: absolute;
}
#footer .social {
  margin: 3rem auto 0;
  border-radius: 0.25rem 0.25rem 0 0;
  max-width: 320px;
  padding: 0.5rem;
}
#footer .copy {
  margin: -1rem -1rem 0;
  outline: 0;
  border: 0;
  padding: 1.5rem;
}
#footer .copy a {
  display: inline-block;
  transition: all 0.5s ease-in;
  font-weight: bold;
  margin: 0 0.25rem;
  text-decoration: 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
#footer .copy a:hover {
  transform: translateY(-0.5rem);
}

/*# sourceMappingURL=sass.css.map */
