.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: .5rem;
    padding: 1rem;
}
.social [class*="icon-"]{
    border-radius: .5rem;
    padding: 2rem;
    background-color: #ccc;
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    transition: all .25s ease-in;
}
.social [class*="icon-"]:hover{
    background-color: #eee;
    background-size: 3.25rem;
    box-shadow: 0 .5rem .5rem #333;
    transform: 
        translate(0,-.75rem)
        rotate(720deg)
    ;
}
.social :last-child{
    position: fixed;
    bottom: 4.5rem;
    right: .5rem;
    opacity: .5;
}
.social :last-child:hover{
    opacity: .8;
}
@media screen and (min-width: 768px){
    .social :last-child{
        bottom: .5rem;
    }
}
/* Iconos Redes Sociales */
.icon-facebook{
    background-image: url('../assets/icon/facebook.svg');
}
.icon-instagram{
    background-image: url('../assets/icon/instagram.svg');
}
.icon-twitter{
    background-image: url('../assets/icon/twitter.svg');
}
.icon-linkedin{
    background-image: url('../assets/icon/linkedin.svg');
}
.icon-youtube{
    background-image: url('../assets/icon/youtube.svg');
}
.icon-whatsapp{
    background-image: url('../assets/icon/whatsapp.svg');
}
.icon-github{
    background-image: url('../assets/icon/github.svg');
}