/*content first*/
* {
  box-sizing: border-box;
  font-family: century gothic, sans-serif;
  text-decoration: none;
}

#mode {
  display: none;
}

body {
  margin: 0;
}

/*daymode*/
nav {
  padding: 1rem;
  color: #248;
  background-color: #eee;
  border-top: 0.2rem solid #248;
}
@media screen and (min-width: 720px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav #menu {
    display: none;
  }
}
nav .menu {
  padding: 1rem;
  color: #eee;
  background-color: #248;
  margin: 0;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 720px) {
  nav .menu {
    display: flex;
  }
}
nav .menu li a {
  display: inline-block;
  color: #eee;
  padding: 0.5rem;
}
nav .menu li a::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: auto;
  background-color: #ccc;
}
@media screen and (min-width: 720px) {
  nav .menu li a::after {
    display: none;
  }
}
nav .menu li:first-child label:after {
  content: " Diurno";
}

header {
  padding: 1rem;
  color: #248;
  background-color: #eee;
  text-align: center;
}
header h1 {
  margin: auto;
  padding: 0.2rem 1rem;
  max-width: 720px;
}
header h1 span {
  color: #33c9ca;
}
header form {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 720px;
  margin: auto;
  padding: 0.2rem 3rem;
}
header form input {
  outline: none;
  margin: 0;
  border-radius: 1rem;
  border: 2px solid #248;
  padding: 0.5rem;
}
header form button {
  position: absolute;
  bottom: 0.75rem;
  right: 4rem;
  margin: 0;
  outline: none;
  border: 0;
  padding: 0;
  background-color: transparent;
}
header p {
  padding: 0.2rem 3rem;
}
header p strong {
  display: block;
}

main {
  padding: 0;
  color: #248;
  background-color: #eee;
}
main #results {
  overflow: hidden;
  padding: 1rem;
  color: #248;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
main #results h2 {
  grid-column: span 1fr;
  text-align: center;
}
main #trending {
  padding: 1rem;
  color: #248;
  background-color: #d5d5d5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main #trending h1,
main #trending p {
  width: 100%;
  width: 100%;
}
main article {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
  text-align: center;
}
main video {
  height: 100%;
  max-height: 200px;
  background-color: #eee;
}

footer {
  padding: 1rem;
  color: #333;
  background-color: #eee;
  border-bottom: 0.2rem solid #248;
}
@media screen and (min-width: 720px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer address {
    display: flex;
    justify-content: space-between;
  }
}

/*nightmode*/
#mode[type=checkbox]:checked ~ nav {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
  border-top: 0.2rem solid #ccc;
}
#mode[type=checkbox]:checked ~ nav .menu {
  padding: 1rem;
  color: #248;
  background-color: black;
}
#mode[type=checkbox]:checked ~ nav .menu li:first-child label:after {
  content: " Nocturno";
}
#mode[type=checkbox]:checked ~ header {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
}
#mode[type=checkbox]:checked ~ header input {
  border-color: #ccc;
}
#mode[type=checkbox]:checked ~ main {
  padding: 0;
  color: #ccc;
  background-color: #333;
}
#mode[type=checkbox]:checked ~ main section {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
}
#mode[type=checkbox]:checked ~ main #trending {
  padding: 1rem;
  color: #ccc;
  background-color: #1a1a1a;
}
#mode[type=checkbox]:checked ~ footer {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
  border-bottom: 0.2rem solid #ccc;
}

/*# sourceMappingURL=styles.css.map */
