/* Reglas Generales */
    @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Open+Sans');
    *{
        font-family: 'Raleway', 'segoe ui', sans-serif;
    }
    /* Margenes */

    /* Bordes */

    /* Rellenos */

    /* Estilos */

/* Navegacion */

/* Cabecera */

/* Contenido */

/* Pie de Pagina */

    /* Formulario de Contacto */
    #contact{
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: auto;
    }