/* Reglas Generales */
    @import url('https://fonts.googleapis.com/css2?family=Raleway');
    *{
        font-family: 'Raleway', 'calibri', 'segoe ui', sans-serif;
    }
    /* Margenes */
    body,
    h1,
    h2,
    h3,
    h4,
    header p,
    .menu,
    #header{
        margin: 0;
    }
    /* Bordes */
    iframe{
        border: none;
    }
    /* Rellenos */

    /* Estilos */
    nav a,
    footer a{
        text-decoration: none;
    }
    .menu,
    .example{
        list-style: none;
    }
/* Navegacion */
    .menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8px;
        gap: 8px;
        background-color: #248;
    }
    .menu a{
        color: #ccc;
    }
    .menu a.active,
    .menu a:hover{
        color: #eee;
        font-weight: bold;
        text-shadow: 0 0 8px; /* -x+ -y+ blur color*/
    }
/* Cabecera */
    #header{
        padding: min(20%, 280px) 16px; /* top right bottom left */
        text-align: center;
        background-image: url('../assets/bg/osx-mojave-night.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header{
        margin: -16px -16px 16px;
        padding: 16px;
        color: #eee;
        background-color: #124;
    }
    header{
        color: #248;
        border-bottom: 2px solid; /* width style color */
    }
/* Contenido */
    main{
        max-width: 960px;
        margin: auto;
        padding: 8px;
    }
    article{
        margin: 24px 0;
        border-radius: 8px;
        padding: 16px;
        overflow: hidden;
        box-shadow: -2px 2px 8px #ccc;
    }
/* Pie de Pagina */

    /* Formulario de Contacto */
    #contact{
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: auto;
        border-radius: 4px;
        padding: 16px 24px;
        color: #eee;
        background-color: #248;
    }
    #contact label{
        margin-top: 8px;
    }
    #contact input,
    #contact select,
    #contact textarea,
    #contact button{
        margin: 0;
        outline: none;
        border: 1px solid #eee;
        padding: 8px 16px;
        font-size: 16px;
    }
    #contact :focus{
        box-shadow: 0 0 8px #eee;
    }
    #contact button{
        margin-top: 8px;
        margin-left: auto;
    }
    /* Redes sociales */
    .social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        gap: 8px;
        padding: 16px;
    }
    .social a{
        width: 64px;
        height: 64px;
        border-radius: 4px;
        background-color: #ccc;
        background-position: center;
        background-size: 36px;
        background-repeat: no-repeat;
    }
    .social a:hover{
        background-color: #eee;
        background-size: 48px;
        box-shadow: 0 2px 8px #333; /* -x+ -y+ blur color */
    }
    /* Iconos redes sociales */
    .facebook{
        background-image: url('../assets/icon/facebook.svg');
    }
    .instagram{
        background-image: url('../assets/icon/instagram.svg');
    }
    .linkedin{
        background-image: url('../assets/icon/linkedin.svg');
    }
    .github{
        background-image: url('../assets/icon/github.svg');
    }
    .twitter{
        background-image: url('../assets/icon/twitter.svg');
    }
    .whatsapp{
        background-image: url('../assets/icon/whatsapp.svg');
    }
    .youtube{
        background-image: url('../assets/icon/youtube.svg');
    }
    /* Mapa de Contacto */
    #footer iframe{
        width: 100%; /* relativo al elemento padre */
        min-height: 320px; /* unidad absoluta */
        
    }