/* Reglas Generales */
    @import url('https://fonts.googleapis.com/css2?family=Raleway');
    *{
        font-family: 'Raleway', 'Segoe ui', sans-serif;
    }
    /* Margenes */
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    /* Bordes */

    /* Rellenos */

    /* Estilos */
    nav a,
    footer a{
        text-decoration: none;
    }
    .menu,
    .example{
        list-style: none;
    }
/* Navegacion */

/* Cabecera */

/* Contenido */

/* Pie de Pagina */

    /* Formulario de Contacto */
    #contact{
        display: flex;
        flex-direction: column;
    }
