/*content first*/
* {
  box-sizing: border-box;
  font-family: century gothic, sans-serif;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

#mode {
  display: none;
}

body {
  margin: 0;
}

/*daymode*/
nav {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 1rem 0 0;
  color: #572ee5;
  background-color: #fefefe;
  border-top: 0.2rem solid #572ee5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 720px) {
  nav {
    display: flex;
    padding: 0.2rem 1rem;
    justify-content: space-between;
  }
  nav #menu {
    display: none;
  }
}
nav .menu {
  overflow: hidden;
  display: none;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 1rem;
  color: #fefefe;
  background-color: #572ee5;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 720px) {
  nav .menu {
    height: auto;
    position: static;
    display: flex;
    width: auto;
    padding: 0;
    background-color: transparent;
  }
}
@media screen and (min-width: 720px) {
  nav .menu li {
    border-bottom: 0.2rem solid transparent;
  }
  nav .menu li:not(:last-child):hover {
    border-bottom: 0.2rem solid #33c9ca;
  }
}
nav .menu li a {
  display: inline-block;
  color: #fefefe;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
@media screen and (min-width: 720px) {
  nav .menu li a {
    color: #572ee5;
  }
}
nav .menu li a::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: auto;
  margin-top: 1rem;
  background-color: #ccc;
}
@media screen and (min-width: 720px) {
  nav .menu li a::after {
    display: none;
  }
}
nav .menu li:first-child label {
  cursor: pointer;
}
nav .menu li:first-child label:after {
  content: " Diurno";
}

#header {
  padding: 1rem;
  color: #572ee5;
  background-color: #fefefe;
  text-align: center;
}
#header h1 {
  margin: auto;
  padding: 0.2rem 3rem;
  max-width: 576px;
}
#header h1 span {
  color: #33c9ca;
}
#header img {
  display: block;
  margin: auto;
  max-width: 576px;
}
#header form {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 576px;
  margin: auto;
  padding: 0 3rem;
}
#header form ::-webkit-scrollbar {
  width: 1rem;
}
#header form input {
  outline: none;
  margin: 0;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid #572ee5;
  border-bottom: none;
  width: 100%;
}
#header form input:invalid {
  padding: 0 1rem;
}
#header form input:valid {
  padding: 0.5rem 1rem;
}
#header form input:valid #suggestion:hover {
  overflow: auto;
  height: auto;
  padding: 0 0.5rem 0.5rem;
}
#header form input:focus, #header form input:valid {
  border-radius: 1rem 1rem 0 0;
  border-bottom: 0 solid transparent;
  padding: 0.5rem 1rem;
}
#header form input:focus + #suggestion, #header form input:valid + #suggestion {
  overflow: auto;
  height: auto;
  padding: 0 0.5rem 0.5rem;
}
#header form input:focus + #suggestion:before, #header form input:valid + #suggestion:before {
  width: 90%;
  height: 2px;
  background-color: #572ee5;
}
#header form #suggestion {
  overflow: hidden;
  height: 0;
  outline: none;
  border: 2px solid #572ee5;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem;
}
#header form #suggestion option {
  padding: 0.3rem;
}
#header form #suggestion:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: auto;
}
#header form #suggestion:focus {
  overflow: auto;
  height: auto;
  border-color: #572ee5;
  border-top: 0 solid transparent;
  padding: 0 0.5rem 0.5rem;
  background-color: white;
}
#header form #suggestion:focus:before {
  width: 90%;
  height: 2px;
  background-color: #572ee5;
}
#header form button {
  position: absolute;
  bottom: 0.75rem;
  right: 4rem;
  margin: 0;
  outline: none;
  border: 0;
  padding: 0;
  background-color: transparent;
}
#header p {
  padding: 0.2rem 3rem;
}
#header p strong {
  display: block;
}

main {
  padding: 0;
  color: #572ee5;
  background-color: #fefefe;
}
main section {
  text-align: center;
  padding: 1rem;
  color: #572ee5;
  background-color: #fefefe;
}
main #createGif {
  display: none;
}
main #createGif:target {
  display: block;
}
main #results {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
main #trending {
  padding: 1rem;
  color: #572ee5;
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
main #trending h1,
main #trending p {
  width: 100%;
}
main article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0.5rem;
}
main article .hidden {
  padding: 1rem;
  color: #fefefe;
  background-color: #7b5beb;
  padding-bottom: 1rem;
  display: grid;
  justify-content: flex-start;
  align-content: flex-end;
  position: absolute;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0.8;
}
main article .hidden .social {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
main article .hidden p {
  margin: 0;
  padding: 0.2rem;
  text-align: left;
}
main article:hover .hidden {
  bottom: 0;
  top: 0;
}
main video {
  width: 100%;
  height: 100%;
  max-height: 200px;
  background-color: gray;
}

#footer {
  padding: 1rem;
  color: #333;
  background-color: #fefefe;
  border-bottom: 0.2rem solid #572ee5;
}
@media screen and (min-width: 720px) {
  #footer {
    display: flex;
    justify-content: space-between;
  }
  #footer address {
    display: flex;
    justify-content: space-between;
  }
}

/*nightmode*/
#mode[type=checkbox]:checked ~ nav {
  padding: 1rem 0 0;
  color: #ccc;
  background-color: #333;
  border-top: 0.2rem solid black;
}
@media screen and (min-width: 720px) {
  #mode[type=checkbox]:checked ~ nav {
    padding: 0.2rem 1rem;
  }
}
#mode[type=checkbox]:checked ~ nav .menu {
  padding: 1rem;
  color: #572ee5;
  background-color: black;
}
@media screen and (min-width: 720px) {
  #mode[type=checkbox]:checked ~ nav .menu {
    display: flex;
    padding: 0;
    background-color: transparent;
  }
}
#mode[type=checkbox]:checked ~ nav .menu li a {
  color: #ccc;
}
#mode[type=checkbox]:checked ~ nav .menu li:first-child label:after {
  content: " Nocturno";
}
#mode[type=checkbox]:checked ~ header {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
}
#mode[type=checkbox]:checked ~ header input, #mode[type=checkbox]:checked ~ header #suggestion {
  border-color: #ccc;
}
#mode[type=checkbox]:checked ~ header #suggestion:before {
  background-color: #ccc;
}
#mode[type=checkbox]:checked ~ main {
  padding: 0;
  color: #ccc;
  background-color: #333;
}
#mode[type=checkbox]:checked ~ main section {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
}
#mode[type=checkbox]:checked ~ main #trending {
  padding: 1rem;
  color: #ccc;
  background-color: #1a1a1a;
}
#mode[type=checkbox]:checked ~ footer {
  padding: 1rem;
  color: #ccc;
  background-color: #333;
  border-bottom: 0.2rem solid black;
}

/*# sourceMappingURL=styles.css.map */
