// Atributos de Tamaño
$limit: 15;
$queries: 
    sm      576px       540px,
    md      768px       720px,
    lg      992px       960px,
    xl      1200px      1140px,
    xxl     1400px      1320px,
;
$sizes: 
    col         width                   10%/1.5,
    w           width                   10vw,
    h           height                  10vh,
    min-w       min-width               .75px,
    min-h       min-height              .15px,
    max-w       min-width               120px,
    max-h       min-height              10px,
    fs          font-size               .5rem,
    fw          font-weight             10,
    bg          background-size         10%,
    bg-x        background-position-x   10%,
    bg-y        background-position-y   10%
    m           margin                  .25rem,
    o           outline-width           .5px,
    b           border-width            .5px,
    r           border-radius           .25rem,
    p           padding                 .25rem,
    g           gap                     .25rem,
    animation   animation-duration      .5s,
    transition  transition-duration     .5s,
    delay       animation-delay         .25s,
    delay       transition-delay        .25s,
;
// Atributos de Color
$colors: 
    primary     #448,
    secondary   #c36,
    light       #eee,
    dark        #333,
    success     #3c6,
    warning     #da3,
    danger      #c33,
    info        #36c,
    none        transparent,
;
$attributes:
    text        color,
    bg          background-color,
    outline     outline-color,
    border      border-color,
    shade       --shade,
    shadow      --shadow,
    line        text-decoration-color,
    accent      accent-color,
    caret       caret-color,
;
// Valores predefinidos
$a: animation;
$b: none, solid, dotted, dashed, groove, double;
$c: start, center, end, space-around, space-between, space-evenly, stretch, baseline;
$d: none, inline, inline-block, block, flex, inline-flex, grid, inline-grid, table, inline-table;
$j: justify;
$l: disc, circle, square, decimal, decimal-leading-zero, hiragana, katakana, arabic-indic, lower-greek, lower-roman, upper-roman, upper-latin, lower-latin;
$t: transition;

$timing: ease, ease-in, ease-out, ease-in-out, linear;

$properties: (
    // General
    display:                (d: $d),
    border-style:           (b: $b),
    list-style-type:        (list: $l),
    font-weight:            (fw: (lighter, light, normal, bold, bolder)),
    text-transform:         (text: (uppercase, lowercase, capitalize)),
    // Background
    background-repeat:      (bg: (repeat, repeat-x, repeat-y, no-repeat)),
    // Flexbox CSS grid
    #{$j}-content:          (flex-justify: $c),
    #{$j}-items:            (#{$j}: $c),
    align-content:          (align: $c),
    align-items:            (flex-align: $c),
    flex-wrap:              (flex: (wrap, wrap-reverse, nowrap)),
    // 
    #{$a}-direction:        (animation: (normal, alternate, reverse, alternate-reverse)),
    #{$t}-timing-function:  (#{$t}: $timing),
    #{$a}-timing-function:  (#{$a}: $timing),
);

@each $prop, $attr in $attributes{
@each $cname, $cvalue in $colors{
    .#{$prop}-#{$cname}{ 
        #{$attr}: $cvalue; 
        &-subtle{
            #{$attr}: lighten($cvalue, 15%);
        }
        &-emphasis{
            #{$attr}: darken($cvalue, 15%);
        }
    }
}}

@each $name, $width, $max in $queries{
@each $prop, $attr, $unit in $sizes{
    @for $i from 0 through $limit {
        .#{$prop}-#{$i}{ #{$attr}: $i * $unit;}
    } 
    @media screen and (width >= #{$width}){
        .container, .container-#{$name}{
            max-width: $max;
        }
    @for $i from 0 through $limit{
        .#{$prop}-#{$name}-#{$i}{ #{$attr}: $i * $unit; }
    }
}}}

@each $attribute, $values in $properties{
@each $cname, $val in $values{
@each $v in $val{
    .#{$cname}-#{$v}{
        #{$attribute}: $v;
    }
    @each $name, $width, $max in $queries{
        .#{$cname}-#{$name}-#{$v}{
            #{$attribute}: $v;
        }
    }
}}}