:root{
    --primary: #248;
    --secondary: 102, 102, 102;
    --light: 236, 236, 236;
    --dark: 51, 51, 51;
    --success: #284;
    --warning: #da3;
    --danger: #c33;
    --info: #36c;
    --font-min: 2vw + .5rem;
    --font-max: 3.5rem;
    --font: 'Cairo', 'Kanit', 'Maven Pro', sans-serif;
}

.btn{
    border-radius: .5rem;
    color: var(--color);
    border: 1px solid var(--color);
    background-color: var(--bg);
    font-size: 1.2rem;
}
.btn{
    --bg: rgba(var(--light), .5); 
}
.btn:hover{
    --bg: var(--dark);
}
.btn.success{
    --color: var(--success);
}
.btn.danger{
    --color: var(--danger);
}

[class*="flex"]{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem
}
.flex-end{
    justify-content: flex-end;
}