:root{
    --primary: #248;
    --secondary: #666;
    --light: #eee;
    --dark: #333;
    --success: #3c6;
    --warning: #da3;
    --danger: #c33;
    --info: #36c;
    --font: 'Cairo', 'Kanit', 'Maven Pro', sans-serif;
}